Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

chore: updates
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2024-07-11-cilium-netkit/index.md
  src/posts/2024-07-14-cilium-eks/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add tanzu
  src/components/shared/user-community/images/tanzu.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add new blogs (#519)
  src/posts/2024-07-11-cilium-netkit/index.md
  src/posts/2024-07-11-cilium-netkit/ogimage.webp
  src/posts/2024-07-14-cilium-eks/index.md
  src/posts/2024-07-14-cilium-eks/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: arrange alphabetically
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add bitnami to adopters (#520)
  src/components/shared/user-community/images/bitnami.inline.svg
  src/components/shared/user-community/images/tanzu.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add samsung blog
  src/components/shared/user-community/images/samsungads.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-04-30-live-migration-samsung/index.md
  src/posts/2024-04-30-live-migration-samsung/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add samsung bogs
  src/components/shared/user-community/images/Tanzu Inline.svg
  src/components/shared/user-community/images/bitnami.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

chore: add samsung blogs
  src/components/shared/user-community/images/Tanzu Inline.svg
  src/components/shared/user-community/images/bitnami.inline.svg
Due: none

Update case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

New updates (#526)
  src/components/shared/user-community/images/samsungads.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-04-30-live-migration-samsung/index.md
  src/posts/2024-04-30-live-migration-samsung/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: update adopters
  src/components/shared/user-community/images/kakao.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/kakao.inline.svg
  src/pages/adopters.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2024-07-11-cilium-sur-wsl2/index.md
  src/posts/2024-07-11-cilium-sur-wsl2/ogimage.png
  src/posts/2024-07-16-aws-eks-cilium-enterprise/index.md
  src/posts/2024-07-16-aws-eks-cilium-enterprise/ogimage.webp
  src/posts/2024-07-16-tetragon-ebpf/index.md
  src/posts/2024-07-16-tetragon-ebpf/ogimage.png
  src/posts/2024-07-17-service-mesh-eks/index.md
  src/posts/2024-07-17-service-mesh-eks/ogimage.png
  src/posts/2024-07-24-dvwa-cilium-tetragon/index.md
  src/posts/2024-07-24-dvwa-cilium-tetragon/ogimage.jpg
  src/posts/2024-07-25-ai-ml-cilium/index.md
  src/posts/2024-07-25-ai-ml-cilium/ogimage.webp
  src/posts/2024-07-25-cilium-1-1-6/index.md
  src/posts/2024-07-25-cilium-1-1-6/ogimage.webp
  src/posts/2024-07-26-cell-based-cloud-native/index.md
  src/posts/2024-07-26-cell-based-cloud-native/ogimage.webp
  src/posts/2024-07-28-control-plane-cilium/index.md
  src/posts/2024-07-28-control-plane-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-07-15-cilium-eks-sveltos/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new schuberg phils case study
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new blogs (#528)
  src/posts/2024-07-11-cilium-sur-wsl2/index.md
  src/posts/2024-07-11-cilium-sur-wsl2/ogimage.png
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-07-15-cilium-eks-sveltos/ogimage.jpg
  src/posts/2024-07-16-aws-eks-cilium-enterprise/index.md
  src/posts/2024-07-16-aws-eks-cilium-enterprise/ogimage.webp
  src/posts/2024-07-16-tetragon-ebpf/index.md
  src/posts/2024-07-16-tetragon-ebpf/ogimage.png
  src/posts/2024-07-17-service-mesh-eks/index.md
  src/posts/2024-07-17-service-mesh-eks/ogimage.png
  src/posts/2024-07-24-dvwa-cilium-tetragon/index.md
  src/posts/2024-07-24-dvwa-cilium-tetragon/ogimage.jpg
  src/posts/2024-07-25-ai-ml-cilium/index.md
  src/posts/2024-07-25-ai-ml-cilium/ogimage.webp
  src/posts/2024-07-25-cilium-1-1-6/index.md
  src/posts/2024-07-25-cilium-1-1-6/ogimage.webp
  src/posts/2024-07-26-cell-based-cloud-native/index.md
  src/posts/2024-07-26-cell-based-cloud-native/ogimage.webp
  src/posts/2024-07-28-control-plane-cilium/index.md
  src/posts/2024-07-28-control-plane-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: nit fixes
  src/pages/use-cases/load-balancer.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters (#527)
  src/components/shared/user-community/images/kakao.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/kakao.inline.svg
  src/pages/adopters.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: spelling mistake
  src/components/pages/newsletter/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: spelling mistake (#523)
  src/components/pages/newsletter/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Updated twitter to X icon and card
  src/components/pages/newsletter/cards/cards.jsx
  src/components/shared/cards/images/twitter.inline.svg
  src/components/shared/community/community.jsx
  src/pages/get-involved.jsx
  src/posts/02-05-2017-bpf-updates-01/index.md
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Updated twitter to X icon
  src/icons/twitter.inline.svg
Due: none

Updated 2 webpages Twitter to X
  src/pages/get-involved.jsx
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

Update cards.jsx
  src/components/pages/newsletter/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

Updated twitter to X icon and card (#530)
  src/components/pages/newsletter/cards/cards.jsx
  src/components/shared/cards/images/twitter.inline.svg
  src/components/shared/community/community.jsx
  src/icons/twitter.inline.svg
  src/pages/get-involved.jsx
  src/posts/02-05-2017-bpf-updates-01/index.md
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-07-30-cilium-authentication/index.md
  src/posts/2024-07-30-cilium-authentication/ogimage.png
  src/posts/2024-07-30-schuberg-philis-case-study/index.md
  src/posts/2024-07-30-schuberg-philis-case-study/ogimage.webp
  src/posts/2024-07-31-tetragon-top-use-cases/index.md
  src/posts/2024-07-31-tetragon-top-use-cases/ogimage.webp
  src/posts/2024-08-01-dapr-cilium/index.md
  src/posts/2024-08-01-dapr-cilium/ogimage.webp
  src/posts/2024-08-01-setting-up-cilium-cni/index.md
  src/posts/2024-08-01-setting-up-cilium-cni/ogimage.webp
  src/posts/2024-08-02-oke-cilium/index.md
  src/posts/2024-08-02-oke-cilium/ogimage.webp
  src/posts/2024-08-04-cilium-eks/index.md
  src/posts/2024-08-04-cilium-eks/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#531)
  src/posts/2024-07-30-cilium-authentication/index.md
  src/posts/2024-07-30-cilium-authentication/ogimage.png
  src/posts/2024-07-30-schuberg-philis-case-study/index.md
  src/posts/2024-07-30-schuberg-philis-case-study/ogimage.webp
  src/posts/2024-07-31-tetragon-top-use-cases/index.md
  src/posts/2024-07-31-tetragon-top-use-cases/ogimage.webp
  src/posts/2024-08-01-dapr-cilium/index.md
  src/posts/2024-08-01-dapr-cilium/ogimage.webp
  src/posts/2024-08-01-setting-up-cilium-cni/index.md
  src/posts/2024-08-01-setting-up-cilium-cni/ogimage.webp
  src/posts/2024-08-02-oke-cilium/index.md
  src/posts/2024-08-02-oke-cilium/ogimage.webp
  src/posts/2024-08-04-cilium-eks/index.md
  src/posts/2024-08-04-cilium-eks/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add archer to adopters page
  src/components/shared/user-community/user-community.jsx
  src/icons/archer.inline.svg
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add archer to adopters page (#532)
  src/components/shared/user-community/user-community.jsx
  src/icons/archer.inline.svg
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/multicast.jsx
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

feat: add in production section
  package-lock.json
  package.json
  src/components/pages/home/in-production/images/bloomberg.svg
  src/components/pages/home/in-production/images/datadog.svg
  src/components/pages/home/in-production/images/digital-ocean.svg
  src/components/pages/home/in-production/images/form3.svg
  src/components/pages/home/in-production/images/post-finance.svg
  src/components/pages/home/in-production/images/trip-com.svg
  src/components/pages/home/in-production/images/wso2.svg
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/in-production/index.js
  src/components/pages/home/in-production/slider/images/chevron.inline.svg
  src/components/pages/home/in-production/slider/index.js
  src/components/pages/home/in-production/slider/slider.jsx
  src/pages/index.jsx
  src/styles/main.css
  src/styles/slick.css
Due: prettier --write, eslint --cache --fix

chore: set links
  src/components/pages/home/in-production/in-production.jsx
Due: prettier --write, eslint --cache --fix

chore: semantic
  src/components/pages/home/in-production/in-production.jsx
Due: prettier --write, eslint --cache --fix

fix: container paddings, set one column 768
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/in-production/slider/slider.jsx
  src/styles/slick.css
Due: prettier --write, eslint --cache --fix

fix: hide arrows
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

chore: loading and link upd
  src/components/pages/home/in-production/in-production.jsx
Due: prettier --write, eslint --cache --fix

Add in production section (#533)
  package-lock.json
  package.json
  src/components/pages/home/in-production/images/bloomberg.svg
  src/components/pages/home/in-production/images/datadog.svg
  src/components/pages/home/in-production/images/digital-ocean.svg
  src/components/pages/home/in-production/images/form3.svg
  src/components/pages/home/in-production/images/post-finance.svg
  src/components/pages/home/in-production/images/trip-com.svg
  src/components/pages/home/in-production/images/wso2.svg
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/in-production/index.js
  src/components/pages/home/in-production/slider/images/chevron.inline.svg
  src/components/pages/home/in-production/slider/index.js
  src/components/pages/home/in-production/slider/slider.jsx
  src/pages/index.jsx
  src/styles/main.css
  src/styles/slick.css
Due: prettier --write, eslint --cache --fix

chore: add new blogs
  src/posts/2024-08-07-open-tofu/index.md
  src/posts/2024-08-07-open-tofu/ogimage.webp
  src/posts/2024-08-08-demystifying-cni/index.md
  src/posts/2024-08-08-demystifying-cni/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#534)
  src/posts/2024-08-07-open-tofu/index.md
  src/posts/2024-08-07-open-tofu/ogimage.webp
  src/posts/2024-08-08-demystifying-cni/index.md
  src/posts/2024-08-08-demystifying-cni/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore
