Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add eCHO playlist to Cilium Service Mesh
  src/pages/use-cases/service-mesh.jsx
Due: prettier --write, eslint --cache --fix

feat: add eCHO playlist to Cilium Service Mesh (#625)
  src/pages/use-cases/service-mesh.jsx
Due: prettier --write, eslint --cache --fix

chore: add .idea/ to .gitignore
  .gitignore
Due: none

docs: update “Getting Started” to use fork-and-clone workflow
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: fix TOC anchor for “Run the built website”
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: Fix TOC on README and Getting Started instructions (#626)
  .gitignore
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add eks cillium eni blog post
  src/posts/2025-06-19-eks-eni-install/cover.png
  src/posts/2025-06-19-eks-eni-install/image.png
  src/posts/2025-06-19-eks-eni-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add eks cillium eni blog post
  src/posts/2025-06-19-eks-eni-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Eks eni blog (#627)
  src/posts/2025-06-19-eks-eni-install/cover.png
  src/posts/2025-06-19-eks-eni-install/image.png
  src/posts/2025-06-19-eks-eni-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add KodeKloud Cilium CCA course
  src/components/pages/enterprise/training/training.jsx
  src/icons/logo-kodekloud.inline.svg
Due: prettier --write, eslint --cache --fix

Update distributions.jsx
  src/components/pages/enterprise/distributions/distributions.jsx
Due: prettier --write, eslint --cache --fix

Update src/components/pages/enterprise/distributions/distributions.jsx
  src/components/pages/enterprise/distributions/distributions.jsx
Due: prettier --write, eslint --cache --fix

Update distributions with new Isovalent Enterprise name (#629)
  src/components/pages/enterprise/distributions/distributions.jsx
Due: prettier --write, eslint --cache --fix

add blog post - cilium bgp autodiscovery using default gateway
  src/posts/2025-06-25-cilium-bgp-autodiscovery/cover.png
  src/posts/2025-06-25-cilium-bgp-autodiscovery/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add byocni blog
  src/posts/2025-06-19-eks-byocni-chaining/cover.png
  src/posts/2025-06-19-eks-byocni-chaining/image.png
  src/posts/2025-06-19-eks-byocni-chaining/index.md
  src/posts/2025-06-19-eks-eni-install/cover.png
  src/posts/2025-06-19-eks-eni-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add KodeKloud Cilium CCA course (#628)
  src/components/pages/enterprise/training/training.jsx
  src/icons/logo-kodekloud.inline.svg
Due: prettier --write, eslint --cache --fix

fix: add post about Cilium 1.15 and 1.16 on Release Categories
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-07-25-cilium-1-1-6/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add post about Cilium 1.15 and 1.16 on Release Categories (#632)
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-07-25-cilium-1-1-6/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-06-25-cilium-bgp-autodiscovery/index.md
  src/posts/2025-06-25-cilium-bgp-autodiscovery/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add blog post - cilium bgp autodiscovery using default gateway (#630)
  src/posts/2025-06-25-cilium-bgp-autodiscovery/cover.png
  src/posts/2025-06-25-cilium-bgp-autodiscovery/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add outscale to users list
  src/components/pages/adopters/logos/images/outscale.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/outscale.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add kubecon related website updates (#582)
  src/components/pages/adopters/logos/images/outscale.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/outscale.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add user guida
  src/components/pages/adopters/logos/images/guida.inline.svg
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/guida.inline.svg
  src/components/shared/user-community/images/ovh.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: adds case study accross page
  src/pages/industries/ai.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add kubecon china talks to website
  src/pages/adopters.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

adds ECCO case study across pages (#637)
  src/pages/industries/ai.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: remove stauration from guida logos
  src/components/pages/adopters/logos/images/guida.inline.svg
  src/posts/2025-06-19-eks-eni-install/aws-cilium-architecture.webp
Due: none

fix: move outscale to cloud section
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix: revert back to runtime enforcement
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/shared/user-community/images/ovh.inline.svg
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

fix: add ebay talk
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/shared/user-community/images/ovh.inline.svg
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: number talk
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: reword to runtime security
  src/components/pages/home/highlights/highlights.jsx
  src/pages/use-cases/runtime-security.jsx
Due: prettier --write, eslint --cache --fix

user outscale (#635)
  src/components/pages/adopters/logos/images/outscale.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/outscale.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add kubecon china talks to website (#638)
  src/pages/adopters.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: remove ovh logo
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/shared/user-community/images/ovh.inline.svg
Due: none

remove period
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add user guida (#636)
  src/components/pages/adopters/logos/images/guida.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/guida.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2025-06-19-eks-eni-install/aws-cilium-architecture.webp
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Create index.md
  01-07-2025-eBPF-Tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fix mismatch ovh
  src/pages/adopters.jsx
  src/posts/2025-06-19-eks-byonci-overlay-install/cover.png
  src/posts/2025-06-19-eks-byonci-overlay-install/image.png
  src/posts/2025-06-19-eks-byonci-overlay-install/index.md
  src/posts/2025-06-19-eks-eni-instal/cover.png
  src/posts/2025-06-19-eks-eni-instal/image.png
  src/posts/2025-06-19-eks-eni-instal/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
