Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

fix: metallb spelling
  src/posts/2023-12-01-metal-lb-to-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-12-01-metal-lb-to-cilium/index.md
  src/posts/2023-12-01-metal-lb-to-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct grammar on 'use-cases' page for `sectionContent1`
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

fix: correct grammar on 'use-cases' page for `sectionContent1` (#418)
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

fix: metallb spelling (#417)
  src/posts/2023-12-01-metal-lb-to-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: replace images
  src/images/pages/usecase/bandwidth-1.png
  src/images/pages/usecase/clustermesh-1.png
  src/images/pages/usecase/cni-1.png
  src/images/pages/usecase/network-4.png
Due: none

fix: replace images
  src/images/pages/usecase/cni-2.png
  src/images/pages/usecase/cni-3.png
  src/images/pages/usecase/network-2.png
Due: none

fix: fixes logos size
  src/icons/logo-bloomberg.inline.svg
  src/icons/logo-clickhouse.inline.svg
  src/icons/logo-newyork.inline.svg
  src/icons/logo-postfinance.inline.svg
Due: none

fix: fixes images size
  src/components/pages/use-cases/hero/hero.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/network-policy.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes images size
  src/components/pages/use-cases/hero/hero.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

feat: fixes logos for use-cases
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/icons/logo-cilium.inline.svg
  src/icons/logo-grafana.inline.svg
  src/icons/logo-rafay.inline.svg
Due: prettier --write, eslint --cache --fix

fix: updated logos
  src/icons/logo-capitalone.inline.svg
  src/icons/logo-clickhouse.inline.svg
  src/icons/logo-frsca.inline.svg
  src/icons/logo-kubermatic.inline.svg
  src/icons/logo-rafay.inline.svg
Due: none

fix: updated grafana logo
  src/icons/logo-grafana.inline.svg
Due: none

feat: fixes logos for use-cases (#419)
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/icons/logo-capitalone.inline.svg
  src/icons/logo-cilium.inline.svg
  src/icons/logo-clickhouse.inline.svg
  src/icons/logo-frsca.inline.svg
  src/icons/logo-grafana.inline.svg
  src/icons/logo-kubermatic.inline.svg
  src/icons/logo-rafay.inline.svg
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2023-12-01-big-fifo/index.md
  src/posts/2023-12-20-tetragon-cloud-native-security/index.md
  src/posts/2023-12-20-tetragon-cloud-native-security/ogimage.webp
  src/posts/2023-12-21-cisco-acquire-isovalent-cloudnativenow/index.md
  src/posts/2023-12-21-cisco-acquire-isovalent-cloudnativenow/ogimage.jpeg
  src/posts/2023-12-21-cisco-acquires-isovalent-cisconewsroom/index.md
  src/posts/2023-12-21-cisco-acquires-isovalent-cisconewsroom/ogimage.webp
  src/posts/2023-12-21-cisco-acquires-isovalent/index.md
  src/posts/2023-12-21-cisco-acquires-isovalent/ogimage.webp
  src/posts/2023-12-21-cisco-announces-intent-to-acquire-isovalent/index.md
  src/posts/2023-12-21-cisco-announces-intent-to-acquire-isovalent/ogimage.jpeg
  src/posts/2023-12-21-cisco-buys-isovalent/index.md
  src/posts/2023-12-21-cisco-buys-isovalent/ogimage.webp
  src/posts/2023-12-21-cisco-to-acquire-isovalent-sdxcentral/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-sdxcentral/ogimage.png
  src/posts/2023-12-21-cisco-to-acquire-isovalent-silicon-angle/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-silicon-angle/ogimage.png
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techcrunch/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techcrunch/ogimage.webp
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techtarget/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techtarget/ogimage.jpeg
  src/posts/2023-12-21-unleahing-the-power-of-cilium/index.md
  src/posts/2023-12-21-unleahing-the-power-of-cilium/ogimage.png
  src/posts/2023-12-22-cisco-acquire-isovalent-channele2e/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-channele2e/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-darkreading/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-darkreading/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-itpro/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-itpro/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-silicon-republic/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-silicon-republic/ogimage.jpeg
  src/posts/2023-12-22-cisco-acquire-isovalent-silverlinings/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-silverlinings/ogimage.png
  src/posts/2023-12-22-cisco-goes-on-christmas-shopping/index.md
  src/posts/2023-12-22-cisco-goes-on-christmas-shopping/ogimage.jpeg
  src/posts/2023-12-22-why-is-cisco-paying-a-high-price/index.md
  src/posts/2023-12-22-why-is-cisco-paying-a-high-price/ogimage.jpeg
  src/posts/2023-12-27-cilium-pod-sandboxing/index.md
  src/posts/2023-12-27-cilium-pod-sandboxing/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: updates
  src/posts/2023-12-22-cisco-acquire-isovalent-silverlinings/index.md
  src/posts/2023-12-22-why-is-cisco-paying-a-high-price/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add popular post
  src/posts/2023-12-21-cisco-acquires-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

New Blogs (#420)
  src/posts/2023-12-01-big-fifo/index.md
  src/posts/2023-12-20-tetragon-cloud-native-security/index.md
  src/posts/2023-12-20-tetragon-cloud-native-security/ogimage.webp
  src/posts/2023-12-21-cisco-acquire-isovalent-cloudnativenow/index.md
  src/posts/2023-12-21-cisco-acquire-isovalent-cloudnativenow/ogimage.jpeg
  src/posts/2023-12-21-cisco-acquires-isovalent-cisconewsroom/index.md
  src/posts/2023-12-21-cisco-acquires-isovalent-cisconewsroom/ogimage.webp
  src/posts/2023-12-21-cisco-acquires-isovalent/index.md
  src/posts/2023-12-21-cisco-acquires-isovalent/ogimage.webp
  src/posts/2023-12-21-cisco-announces-intent-to-acquire-isovalent/index.md
  src/posts/2023-12-21-cisco-announces-intent-to-acquire-isovalent/ogimage.jpeg
  src/posts/2023-12-21-cisco-buys-isovalent/index.md
  src/posts/2023-12-21-cisco-buys-isovalent/ogimage.webp
  src/posts/2023-12-21-cisco-to-acquire-isovalent-sdxcentral/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-sdxcentral/ogimage.png
  src/posts/2023-12-21-cisco-to-acquire-isovalent-silicon-angle/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-silicon-angle/ogimage.png
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techcrunch/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techcrunch/ogimage.webp
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techtarget/index.md
  src/posts/2023-12-21-cisco-to-acquire-isovalent-techtarget/ogimage.jpeg
  src/posts/2023-12-21-unleahing-the-power-of-cilium/index.md
  src/posts/2023-12-21-unleahing-the-power-of-cilium/ogimage.png
  src/posts/2023-12-22-cisco-acquire-isovalent-channele2e/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-channele2e/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-darkreading/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-darkreading/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-itpro/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-itpro/ogimage.webp
  src/posts/2023-12-22-cisco-acquire-isovalent-silicon-republic/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-silicon-republic/ogimage.jpeg
  src/posts/2023-12-22-cisco-acquire-isovalent-silverlinings/index.md
  src/posts/2023-12-22-cisco-acquire-isovalent-silverlinings/ogimage.png
  src/posts/2023-12-22-cisco-goes-on-christmas-shopping/index.md
  src/posts/2023-12-22-cisco-goes-on-christmas-shopping/ogimage.jpeg
  src/posts/2023-12-22-why-is-cisco-paying-a-high-price/index.md
  src/posts/2023-12-22-why-is-cisco-paying-a-high-price/ogimage.jpeg
  src/posts/2023-12-27-cilium-pod-sandboxing/index.md
  src/posts/2023-12-27-cilium-pod-sandboxing/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page
  src/components/shared/user-community/images/santa.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update
  src/components/shared/user-community/images/santa.inline.svg
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update description
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters page (#421)
  src/components/shared/user-community/images/santa.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/index.md
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/ogimage.jpeg
  src/posts/2023-12-30-gateway-api/index.md
  src/posts/2023-12-30-gateway-api/ogimage.jpg
  src/posts/2024-01-01-cisco-swoops-on-cilium/index.md
  src/posts/2024-01-01-cisco-swoops-on-cilium/ogimage.jpeg
  src/posts/2024-01-02-santa-switches-to-cilium/index.md
  src/posts/2024-01-02-santa-switches-to-cilium/ogimage.png
  src/posts/2024-02-02-top-platform-engineering-trends/index.md
  src/posts/2024-02-02-top-platform-engineering-trends/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#422)
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/index.md
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/ogimage.jpeg
  src/posts/2023-12-30-gateway-api/index.md
  src/posts/2023-12-30-gateway-api/ogimage.jpg
  src/posts/2024-01-01-cisco-swoops-on-cilium/index.md
  src/posts/2024-01-01-cisco-swoops-on-cilium/ogimage.jpeg
  src/posts/2024-01-02-santa-switches-to-cilium/index.md
  src/posts/2024-01-02-santa-switches-to-cilium/ogimage.png
  src/posts/2024-02-02-top-platform-engineering-trends/index.md
  src/posts/2024-02-02-top-platform-engineering-trends/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/components/pages/enterprise/distributions/distributions.jsx
  src/components/pages/enterprise/distributions/distributions.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blogs
  src/posts/2023-12-18-transforming-security-with-tetragon/index.md
  src/posts/2023-12-18-transforming-security-with-tetragon/ogimage.jpeg
  src/posts/2024-01-02-top-platform-engineering-trends/index.md
  src/posts/2024-01-02-top-platform-engineering-trends/ogimage.webp
  src/posts/2024-01-03-cilium-dual-stack-k3s-pi-setup/index.md
  src/posts/2024-01-03-cilium-dual-stack-k3s-pi-setup/ogimage.jpeg
  src/posts/2024-01-04-openshiftsdn-to-cilium/index.md
  src/posts/2024-01-04-openshiftsdn-to-cilium/ogimage.webp
  src/posts/2024-01-05-load-balancing-with-cilium-cni/index.md
  src/posts/2024-01-05-load-balancing-with-cilium-cni/ogimage.webp
  src/posts/2024-01-10-expore-loadbalanced-service-with-cilium/index.md
  src/posts/2024-01-10-expore-loadbalanced-service-with-cilium/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#424)
  src/posts/2023-12-18-transforming-security-with-tetragon/index.md
  src/posts/2023-12-18-transforming-security-with-tetragon/ogimage.jpeg
  src/posts/2024-01-02-top-platform-engineering-trends/index.md
  src/posts/2024-01-02-top-platform-engineering-trends/ogimage.webp
  src/posts/2024-01-03-cilium-dual-stack-k3s-pi-setup/index.md
  src/posts/2024-01-03-cilium-dual-stack-k3s-pi-setup/ogimage.jpeg
  src/posts/2024-01-04-openshiftsdn-to-cilium/index.md
  src/posts/2024-01-04-openshiftsdn-to-cilium/ogimage.webp
  src/posts/2024-01-05-load-balancing-with-cilium-cni/index.md
  src/posts/2024-01-05-load-balancing-with-cilium-cni/ogimage.webp
  src/posts/2024-01-10-expore-loadbalanced-service-with-cilium/index.md
  src/posts/2024-01-10-expore-loadbalanced-service-with-cilium/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-01-10-ebpf-and-networking-predictions/index.md
  src/posts/2024-01-10-ebpf-and-networking-predictions/ogimage.webp
  src/posts/2024-01-11-scaling-cilium/index.md
  src/posts/2024-01-11-scaling-cilium/ogimage.png
  src/posts/2024-01-12-demystifying-cilium/index.md
  src/posts/2024-01-12-demystifying-cilium/ogimage.png
  src/posts/2024-01-14-cilium-go/index.md
  src/posts/2024-01-14-cilium-go/ogimage.png
  src/posts/2024-01-14-cilium-network-policies/index.md
  src/posts/2024-01-14-cilium-network-policies/ogimage.png
  src/posts/2024-01-14-k8s-freebsd-cilium/index.md
  src/posts/2024-01-14-k8s-freebsd-cilium/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update post description
  src/posts/2024-01-11-scaling-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#425)
  src/posts/2024-01-10-ebpf-and-networking-predictions/index.md
  src/posts/2024-01-10-ebpf-and-networking-predictions/ogimage.webp
  src/posts/2024-01-11-scaling-cilium/index.md
  src/posts/2024-01-11-scaling-cilium/ogimage.png
  src/posts/2024-01-12-demystifying-cilium/index.md
  src/posts/2024-01-12-demystifying-cilium/ogimage.png
  src/posts/2024-01-14-cilium-go/index.md
  src/posts/2024-01-14-cilium-go/ogimage.png
  src/posts/2024-01-14-cilium-network-policies/index.md
  src/posts/2024-01-14-cilium-network-policies/ogimage.png
  src/posts/2024-01-14-k8s-freebsd-cilium/index.md
  src/posts/2024-01-14-k8s-freebsd-cilium/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: rewrite architecture content
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/hero/index.js
  src/components/pages/home/highlights/highlights.jsx
  src/pages/get-started.jsx
Due: prettier --write, eslint --cache --fix

feat: fixes button for newsletter page
  src/components/pages/newsletter/cards/cards.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes button styles
  src/components/shared/button/button.jsx
Due: prettier --write, eslint --cache --fix

feat: fixes button for newsletter page (#426)
  src/components/pages/newsletter/cards/cards.jsx
  src/components/shared/button/button.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

feat: newer featured talks
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/home/featured-talks/index.js
  src/components/shared/hands-on/hands-on.jsx
  src/images/pages/get-started/hands-on/bee1.png
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

fix: update related projects
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/images/pages/get-started/related-projects/image-4.jpg
Due: prettier --write, eslint --cache --fix
