Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Updates (#488)
  src/icons/palantir.inline.svg
  src/icons/testifysec.inline.svg
  src/pages/use-cases/runtime-enforcement.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add smartnews
  src/components/shared/user-community/images/smartnews.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: remove space
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add smartnews to industry and kpr pages
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/smartnews.inline.svg
  src/icons/smartnews.inline.svg
  src/images/pages/industries/media-entertainment/smartnewsOffice.png
  src/pages/industries/media-entertainment.jsx
  src/pages/use-cases/kube-proxy.jsx
Due: prettier --write, eslint --cache --fix

chore: add smartnews (#489)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/smartnews.inline.svg
  src/components/shared/user-community/images/smartnews.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/smartnews.inline.svg
  src/images/pages/industries/media-entertainment/smartnewsOffice.png
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2024-03-29-AKS-and-Cilium-101/index.md
  src/posts/2024-03-29-AKS-and-Cilium-101/ogimage.png
  src/posts/2024-04-09-OKE-CNI/index.md
  src/posts/2024-04-09-OKE-CNI/ogimage.jpeg
  src/posts/2024-04-09-cilium-hubble/index.md
  src/posts/2024-04-09-cilium-hubble/ogimage.png
  src/posts/2024-04-09-eks-cilium-istio/index.md
  src/posts/2024-04-09-eks-cilium-istio/ogimage.webp
  src/posts/2024-04-09-provider terraform-pour-cilium/index.md
  src/posts/2024-04-09-provider terraform-pour-cilium/ogimage.webp
  src/posts/2024-04-12-isovalent-cisco/index.md
  src/posts/2024-04-12-isovalent-cisco/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#490)
  src/posts/2024-03-29-AKS-and-Cilium-101/index.md
  src/posts/2024-03-29-AKS-and-Cilium-101/ogimage.png
  src/posts/2024-04-09-OKE-CNI/index.md
  src/posts/2024-04-09-OKE-CNI/ogimage.jpeg
  src/posts/2024-04-09-cilium-hubble/index.md
  src/posts/2024-04-09-cilium-hubble/ogimage.png
  src/posts/2024-04-09-eks-cilium-istio/index.md
  src/posts/2024-04-09-eks-cilium-istio/ogimage.webp
  src/posts/2024-04-09-provider terraform-pour-cilium/index.md
  src/posts/2024-04-09-provider terraform-pour-cilium/ogimage.webp
  src/posts/2024-04-12-isovalent-cisco/index.md
  src/posts/2024-04-12-isovalent-cisco/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add gdata and wso2
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/wso2.inline.svg
  src/components/shared/user-community/images/gdata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/gdata.inline.svg
  src/images/pages/industries/software/wso2OfficeImage.jpeg
  src/pages/adopters.jsx
  src/pages/industries/software.jsx
  src/pages/use-cases/network-policy.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update
  src/components/pages/industries/adopters-logo/images/wso2-logo.svg
  src/components/pages/industries/adopters-logo/images/wso2.inline.svg
  src/icons/wso2.inline.svg
  src/images/pages/industries/security/gdata.inline.svg
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

chore: add spectro cloud & fix security page
  src/components/shared/user-community/images/spectrocloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update network policy quote
  src/pages/use-cases/network-policy.jsx
Due: prettier --write, eslint --cache --fix

fix: small fixes
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

feat: delete ama
  package.json
  src/components/pages/events/cta-section/cta-section.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

fix: small fixes
  package.json
Due: none

chore: add gdata and wso2 (#491)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/wso2-logo.svg
  src/components/pages/industries/adopters-logo/images/wso2.inline.svg
  src/components/shared/user-community/images/gdata.inline.svg
  src/components/shared/user-community/images/spectrocloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/gdata.inline.svg
  src/icons/wso2.inline.svg
  src/images/pages/industries/security/gdata.inline.svg
  src/images/pages/industries/software/wso2OfficeImage.jpeg
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/service-map.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  src/images/pages/get-started/hands-on/bee.png
Due: none

feat: delete ama (#493)
  src/components/pages/events/cta-section/cta-section.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/images/pages/get-started/hands-on/bee.png
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blogs
  src/posts/2024-04-16-cilium-dual-stack-aks/index.md
  src/posts/2024-04-16-cilium-dual-stack-aks/ogimage.webp
  src/posts/2024-04-16-cluster-mesh-k8s/index.md
  src/posts/2024-04-16-cluster-mesh-k8s/ogimage.jpg
  src/posts/2024-04-24-benchmarking-cni/index.md
  src/posts/2024-04-24-benchmarking-cni/ogimage.webp
  src/posts/2024-04-24-xz-utils-tetragon/index.md
  src/posts/2024-04-24-xz-utils-tetragon/ogimage.jpeg
  src/posts/2024-04-26-nico-vibert-vmblog/index.md
  src/posts/2024-04-26-nico-vibert-vmblog/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#494)
  src/posts/2024-04-16-cilium-dual-stack-aks/index.md
  src/posts/2024-04-16-cilium-dual-stack-aks/ogimage.webp
  src/posts/2024-04-16-cluster-mesh-k8s/index.md
  src/posts/2024-04-16-cluster-mesh-k8s/ogimage.jpg
  src/posts/2024-04-24-benchmarking-cni/index.md
  src/posts/2024-04-24-benchmarking-cni/ogimage.webp
  src/posts/2024-04-24-xz-utils-tetragon/index.md
  src/posts/2024-04-24-xz-utils-tetragon/ogimage.jpeg
  src/posts/2024-04-26-nico-vibert-vmblog/index.md
  src/posts/2024-04-26-nico-vibert-vmblog/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adds tetragon logos
  src/components/pages/brand/logos/data/logos.js
  src/components/pages/brand/logos/images/tetragon-dark-1.svg
  src/components/pages/brand/logos/images/tetragon-dark-2.svg
  src/components/pages/brand/logos/images/tetragon-dark-3.svg
  src/components/pages/brand/logos/images/tetragon-dark-4.svg
  src/components/pages/brand/logos/images/tetragon-light-1.svg
  src/components/pages/brand/logos/images/tetragon-light-2.svg
  src/components/pages/brand/logos/images/tetragon-light-3.svg
  src/components/pages/brand/logos/images/tetragon-light-4.svg
  src/components/pages/brand/logos/logos.jsx
  src/pages/brand.jsx
  static/data/tetragon-logos.zip
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  src/components/pages/brand/colors/color-map/color-map.jsx
Due: prettier --write, eslint --cache --fix

feat: adds tetragon logos (#495)
  src/components/pages/brand/colors/color-map/color-map.jsx
  src/components/pages/brand/logos/data/logos.js
  src/components/pages/brand/logos/images/tetragon-dark-1.svg
  src/components/pages/brand/logos/images/tetragon-dark-2.svg
  src/components/pages/brand/logos/images/tetragon-dark-3.svg
  src/components/pages/brand/logos/images/tetragon-dark-4.svg
  src/components/pages/brand/logos/images/tetragon-light-1.svg
  src/components/pages/brand/logos/images/tetragon-light-2.svg
  src/components/pages/brand/logos/images/tetragon-light-3.svg
  src/components/pages/brand/logos/images/tetragon-light-4.svg
  src/components/pages/brand/logos/logos.jsx
  src/pages/brand.jsx
  static/data/tetragon-logos.zip
Due: prettier --write, eslint --cache --fix

chore: new updates
  src/components/shared/user-community/images/syself.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-05-01-cilium-cli-cheat-sheet/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: new updates (#496)
  src/components/shared/user-community/images/syself.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-05-01-cilium-cli-cheat-sheet/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add missing image
  src/posts/2024-05-01-cilium-cli-cheat-sheet/ogimage.webp
Due: none

chore: add missing image (#497)
  src/posts/2024-05-01-cilium-cli-cheat-sheet/ogimage.webp
Due: none

chore: new blogs
  src/posts/2024-05-01-cilium-network-policies/index.md
  src/posts/2024-05-01-cilium-network-policies/ogimage.png
  src/posts/2024-05-01-gateway-api-cilium/index.md
  src/posts/2024-05-01-gateway-api-cilium/ogimage.webp
  src/posts/2024-05-02-cilium-network-policies/index.md
  src/posts/2024-05-02-cilium-network-policies/ogimage.jpeg
  src/posts/2024-05-03-cilium-past-points-to-its-future/index.md
  src/posts/2024-05-03-cilium-past-points-to-its-future/ogimage.jpeg
  src/posts/2024-05-03-dynatrace-tetragon/index.md
  src/posts/2024-05-03-dynatrace-tetragon/ogimage.png
  src/posts/2024-05-03-isovalent-tetragon-enterprise/index.md
  src/posts/2024-05-03-isovalent-tetragon-enterprise/ogimage.png
  src/posts/2024-05-06-cert-manager/index.md
  src/posts/2024-05-06-cert-manager/ogimage.webp
  src/posts/2024-05-07-aks-cilium/index.md
  src/posts/2024-05-07-aks-cilium/ogimage.png
  src/posts/2024-05-07-k8s-networking-with-cilium/index.md
  src/posts/2024-05-07-k8s-networking-with-cilium/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#499)
  src/posts/2024-05-01-cilium-network-policies/index.md
  src/posts/2024-05-01-cilium-network-policies/ogimage.png
  src/posts/2024-05-01-gateway-api-cilium/index.md
  src/posts/2024-05-01-gateway-api-cilium/ogimage.webp
  src/posts/2024-05-02-cilium-network-policies/index.md
  src/posts/2024-05-02-cilium-network-policies/ogimage.jpeg
  src/posts/2024-05-03-cilium-past-points-to-its-future/index.md
  src/posts/2024-05-03-cilium-past-points-to-its-future/ogimage.jpeg
  src/posts/2024-05-03-dynatrace-tetragon/index.md
  src/posts/2024-05-03-dynatrace-tetragon/ogimage.png
  src/posts/2024-05-03-isovalent-tetragon-enterprise/index.md
  src/posts/2024-05-03-isovalent-tetragon-enterprise/ogimage.png
  src/posts/2024-05-06-cert-manager/index.md
  src/posts/2024-05-06-cert-manager/ogimage.webp
  src/posts/2024-05-07-aks-cilium/index.md
  src/posts/2024-05-07-aks-cilium/ogimage.png
  src/posts/2024-05-07-k8s-networking-with-cilium/index.md
  src/posts/2024-05-07-k8s-networking-with-cilium/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-04-30-how-is-k8s-network-security-evolving/index.md
  src/posts/2024-04-30-how-is-k8s-network-security-evolving/ogimage.png
  src/posts/2024-05-07-cilium/index.md
  src/posts/2024-05-07-cilium/ogimage.png
  src/posts/2024-05-08-service-mesh-comparison/index.md
  src/posts/2024-05-08-service-mesh-comparison/ogimage.png
  src/posts/2024-05-09-cilium-best-k8s-cni/index.md
  src/posts/2024-05-09-cilium-best-k8s-cni/ogimage.webp
  src/posts/2024-05-16-cilium-cluster-mesh/index.md
  src/posts/2024-05-16-cilium-cluster-mesh/ogimage.jpeg
  src/posts/2024-05-16-isovalent-lab-champion/index.md
  src/posts/2024-05-16-isovalent-lab-champion/ogimage.webp
  src/posts/2024-05-17-cilium-cluster-mesh/index.md
  src/posts/2024-05-17-cilium-cluster-mesh/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#501)
  src/posts/2024-04-30-how-is-k8s-network-security-evolving/index.md
  src/posts/2024-04-30-how-is-k8s-network-security-evolving/ogimage.png
  src/posts/2024-05-07-cilium/index.md
  src/posts/2024-05-07-cilium/ogimage.png
  src/posts/2024-05-08-service-mesh-comparison/index.md
  src/posts/2024-05-08-service-mesh-comparison/ogimage.png
  src/posts/2024-05-09-cilium-best-k8s-cni/index.md
  src/posts/2024-05-09-cilium-best-k8s-cni/ogimage.webp
  src/posts/2024-05-16-cilium-cluster-mesh/index.md
  src/posts/2024-05-16-cilium-cluster-mesh/ogimage.jpeg
  src/posts/2024-05-16-isovalent-lab-champion/index.md
  src/posts/2024-05-16-isovalent-lab-champion/ogimage.webp
  src/posts/2024-05-17-cilium-cluster-mesh/index.md
  src/posts/2024-05-17-cilium-cluster-mesh/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update footer and add blog post
  src/components/shared/footer/footer.jsx
  src/posts/2024-05-21-networks-are-under-ai-pressure/index.md
  src/posts/2024-05-21-networks-are-under-ai-pressure/ogimage.webp
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: update blog link
  src/posts/2024-05-21-networks-are-under-ai-pressure/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add license link
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

chore: update footer and add blog post (#503)
  src/components/shared/footer/footer.jsx
  src/posts/2024-05-21-networks-are-under-ai-pressure/index.md
  src/posts/2024-05-21-networks-are-under-ai-pressure/ogimage.webp
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: update use-cases cni illustration
  src/images/pages/usecase/cni-1.png
Due: none

chore: update use-cases cni illustration (#504)
  src/images/pages/usecase/cni-1.png
Due: none

chore: new updates
  src/components/shared/user-community/images/aenix.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-05-23-istio-to-cilium/index.md
  src/posts/2024-05-23-istio-to-cilium/ogimage.png
  src/posts/2024-05-23-tetragon-process-lifecycle-observation/index.md
  src/posts/2024-05-23-tetragon-process-lifecycle-observation/ogimage.webp
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

add new blog post
  src/posts/2024-05-30-what-good-governance-look-like/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add author at bottom
  src/posts/2024-05-30-what-good-governance-look-like/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs
  src/posts/2024-05-28-cilum-grafana/index.md
  src/posts/2024-05-28-cilum-grafana/ogimage.png
  src/posts/2024-05-28-cluster-mesh-aks/index.md
  src/posts/2024-05-28-cluster-mesh-aks/ogimage.png
  src/posts/2024-05-29-k8s-networking-for-network-engineers/index.md
  src/posts/2024-05-29-k8s-networking-for-network-engineers/ogimage.jpg
  src/posts/2024-06-03-cloud-native-security-liz-rice/index.md
  src/posts/2024-06-03-cloud-native-security-liz-rice/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
