Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

feat(components): add custom blue hover color for blog list links
  src/components/pages/get-started/news/news.jsx
Due: prettier --write, eslint --cache --fix

Update src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: broken links
  package-lock.json
  src/posts/10-10-2018-dns-policies/index.md
  src/posts/17-05-2018-es-security/index.md
  src/posts/2018-08-07-istio-10-cilium/index.md
  src/posts/2018-08-21-cilium12/index.md
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/24-04-2018-why-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add FPT telcom to users page
  src/components/pages/adopters/logos/images/fpttelecom.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/fpttelecom.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: added missing fpt telecom icon
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

Enhance Makefile for Cilium website development and Docker workflow (#772)
  Makefile
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Fix: correct fptTelecom key to render adopters logos
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

feat: add FPT telcom to users page (#781)
  src/components/pages/adopters/logos/images/fpttelecom.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/fpttelecom.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: nutanix moved to top section
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: replace correct link and fix broken link and text
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: reset package files to match main branch
  package-lock.json
Due: none

feat: kernel basics blog (squash commits; add DCO)
  package-lock.json
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: added golang link
  src/posts/2018-10-23-envoy-golang/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: nutanix grey scale image
  src/components/pages/adopters/logos/images/nutanix.inline.svg
Due: none

fix: broken links (#779)
  src/posts/10-10-2018-dns-policies/index.md
  src/posts/17-05-2018-es-security/index.md
  src/posts/2018-08-07-istio-10-cilium/index.md
  src/posts/2018-08-21-cilium12/index.md
  src/posts/2018-10-23-envoy-golang/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/24-04-2018-why-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: nutanix moved to top section (#782)
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: reset package-lock.json to main
  package-lock.json
Due: none

feat: add kernel basics blog (#771)
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

remove fpt telecom from cloud section
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

remove fpt telecom from cloud section (#783)
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Update egrosdou01 blog posts to point to new domain
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update egrosdou01 blog posts to point to new domain (#787)
  src/posts/2024-07-15-cilium-eks-sveltos/index.md
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-10-05-sveltos/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat(seo): add metadata for /get-started page (#681)
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

feat(seo): refine meta descriptions across pages for consistency and SEO optimization
  src/pages/industries/ai.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/edge-computing.jsx
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

docs: add guidance for laptops without fans to reduce Gatsby resource usage
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: improve SEO descriptions for industries pages
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

feat(seo): enhance SEO component with article metadata
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

chore: link section in blog to Kubecon NA 2025 official website
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: link section in blog to Kubecon NA 2025 official website (#793)
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/pages/industries/consulting.jsx
  src/pages/industries/consulting.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/e-commerce.jsx
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

fix: add metadata
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: correct typo in e-commerce page variable name
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

remove -
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

feat(seo): add metadata for /get-started page (#681) (#788)
  src/pages/industries/ai.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

docs: add guidance for laptops without fans to reduce Gatsby resource usage (#790)
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Create 07-10-2025-Cilium-Network-Policies-from-first-principles-to-production
  src/posts/07-10-2025-Cilium-Network-Policies-from-first-principles-to-production
Due: none
