Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: fix runtime use case page duplicate redirect (#748)
  static/_redirects
Due: none

feat: add Outcomes pages to website (Zero Trust Networking) (#750)
  package-lock.json
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/industry-usecase/index.js
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/icons/wso2.inline.svg
  src/images/pages/outcomes/zero-trust/security-bee.png
  src/images/pages/outcomes/zero-trust/zero-trust-1.png
  src/images/pages/outcomes/zero-trust/zero-trust-2.png
  src/images/pages/outcomes/zero-trust/zero-trust-3.png
  src/images/pages/outcomes/zero-trust/zero-trust-4.png
  src/layouts/main/main.jsx
  src/pages/outcomes/zero-trust.jsx
  zero-trust.png
Due: prettier --write, eslint --cache --fix

Create-cilium-at-kubecon-na-2025
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Make changes as from review and inspired from other sections on the page
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/kubeconcover.png
Due: none

Add files via upload
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/ciliumcon.jpg
Due: none

Add files via upload
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/dev-summit-25-eu.jpg
Due: none

Update index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: remove dead link to Solo training
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

feat: add community calendar integration to get-involved page (#730)
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-involved/calendar-integration/index.jsx
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

feat: added network automation page to website
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-gdata.inline.svg
  src/icons/logo-ilionx.inline.svg
  src/icons/logo-qingcloud.inline.svg
  src/images/pages/outcomes/network-automation/automation-1.png
  src/images/pages/outcomes/network-automation/automation-2.png
  src/images/pages/outcomes/network-automation/automation-3.png
  src/images/pages/outcomes/network-automation/automation-4.png
  src/images/pages/outcomes/network-automation/network-bee.png
  src/layouts/main/main.jsx
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

Update index.md
  src/posts/2025-05-25-ciliumcon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update main.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix URL
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: add kubecon NA 2025 blog (#752)
  src/layouts/main/main.jsx
  src/posts/2025-05-25-ciliumcon-na-2025/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/ciliumcon.jpg
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/dev-summit-25-eu.jpg
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/kubeconcover.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

Fix: Adjust hero illustration size (#749)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: made changes to quotes and bee size based on review
  src/components/pages/industries/testimonial/testimonial.jsx
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

fix: brand hero image and top-banner text
  src/components/pages/brand/hero/images/background-sm.svg
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: resolved rabobank image issue
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-rabobank.inline.svg
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

fix: navbar overflow
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

fix: navbar overflow (#757)
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

fix: brand hero image and top-banner text (#755)
  src/components/pages/brand/hero/images/background-sm.svg
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: edited testimonial component to render multiple paragraphs
  src/components/pages/industries/testimonial/testimonial.jsx
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

feat: add Outcomes pages to website (Network Automation) (#754)
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-gdata.inline.svg
  src/icons/logo-ilionx.inline.svg
  src/icons/logo-qingcloud.inline.svg
  src/icons/logo-rabobank.inline.svg
  src/images/pages/outcomes/network-automation/automation-1.png
  src/images/pages/outcomes/network-automation/automation-2.png
  src/images/pages/outcomes/network-automation/automation-3.png
  src/images/pages/outcomes/network-automation/automation-4.png
  src/images/pages/outcomes/network-automation/network-bee.png
  src/layouts/main/main.jsx
  src/pages/outcomes/network-automation.jsx
Due: prettier --write, eslint --cache --fix

feat: added cost and carbon savings page
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/outcomes/cost-and-carbon-savings/cc-image1.png
  src/images/pages/outcomes/cost-and-carbon-savings/cc-image2.png
  src/images/pages/outcomes/cost-and-carbon-savings/savings-bee.png
  src/layouts/main/main.jsx
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/outcomes/cost-and-carbon-savings.jsx
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

fix: added blog link to seznam testimonial
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

fix: SEO
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

feat: add Outcomes pages to website (Cost and Carbon Savings) (#758)
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/outcomes/cost-and-carbon-savings/cc-image1.png
  src/images/pages/outcomes/cost-and-carbon-savings/cc-image2.png
  src/images/pages/outcomes/cost-and-carbon-savings/savings-bee.png
  src/layouts/main/main.jsx
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
