Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

fix(components): add celonis to adopters list
  gatsby-config.js
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix: correct celonis logo import path
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix(components): add celonis to adopters list
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix(components): add celonis to adopters list
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix(components): add celonis to adopters list
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix(components): add celonis to adopters list
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix(components): add celonis to adopters list
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: increase celonis logo size to match other logos
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

feat: add falco migrate blog
  src/posts/2026-01-19-tetragon-falco-migrate/cover.png
  src/posts/2026-01-19-tetragon-falco-migrate/illustration1.png
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add vnpt to adopters page (#847)
  src/components/pages/adopters/logos/images/vnpt.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/vnpt.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: remove duplicate FlipkartLogo import and entry
  src/components/pages/adopters/logos/images/flipkart.inline.svg
Due: none

fix: correct flipkart logo import order
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

fix: add celonis to adopters destructuring and fix syntax in case-studies-data
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: resolve merge conflicts with main
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add button text, URL, and target to userCommunity2
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

chore: enlarge the celonis logo
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

feat: added flipkart as a cilium adopter
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: make celonis logo visible by adjusting SVG transform
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: optimize celonis logo viewbox for proper rendering
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: add currentColor fill to celonis logo paths
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: close svg tags properly in celonis logo
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: make celonis logo visib le by adjusting SVG transform
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: adjust image size
  src/components/pages/adopters/logos/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

fix: adjust image size
  src/components/shared/user-community/images/celonis-inline.svg
Due: none

fix: adjust image size
  src/components/shared/user-community/images/celonis-inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
Due: none

feat: update Flipkart logo
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
Due: none

feat: added flipkart as a cilium adopter (#850)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/components/shared/user-community/images/flipkart.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add Celonis adopter card
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Remove Celonis from e-commerce industry page
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

add 2026 predictions blog
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2025-01-21-2026-predictions-vmblog/predictions.png
Due: none
