Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Update src/pages/industries/software.jsx
  src/pages/industries/software.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/telcos-datacenters.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/e-commerce.jsx
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/security.jsx
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

chore: add new external blog posts
  src/posts/2023-10-04-cilium-vs-calico/index.md
  src/posts/2023-10-04-cilium-vs-calico/ogimage.jpeg
  src/posts/2023-10-09-all-azure-network-plugins-lead-to-cilium/index.md
  src/posts/2023-10-09-all-azure-network-plugins-lead-to-cilium/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-cn-now/index.md
  src/posts/2023-10-11-cilium-graduation-cn-now/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-isovalent/index.md
  src/posts/2023-10-11-cilium-graduation-isovalent/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-itopstimes/index.md
  src/posts/2023-10-11-cilium-graduation-itopstimes/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-silicon-angle/index.md
  src/posts/2023-10-11-cilium-graduation-silicon-angle/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-tfir/index.md
  src/posts/2023-10-11-cilium-graduation-tfir/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-the-register/index.md
  src/posts/2023-10-11-cilium-graduation-the-register/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/pages/industries/consulting.jsx
  src/pages/industries/consulting.jsx
Due: prettier --write, eslint --cache --fix

Apply suggestions from code review
  src/posts/2023-10-04-cilium-vs-calico/index.md
  src/posts/2023-10-11-cilium-graduation-isovalent/index.md
  src/posts/2023-10-11-cilium-graduation-itopstimes/index.md
  src/posts/2023-10-11-cilium-graduation-tfir/index.md
  src/posts/2023-10-11-cilium-graduation-the-register/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new external blog posts (#362)
  src/posts/2023-10-04-cilium-vs-calico/index.md
  src/posts/2023-10-04-cilium-vs-calico/ogimage.jpeg
  src/posts/2023-10-09-all-azure-network-plugins-lead-to-cilium/index.md
  src/posts/2023-10-09-all-azure-network-plugins-lead-to-cilium/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-cn-now/index.md
  src/posts/2023-10-11-cilium-graduation-cn-now/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-isovalent/index.md
  src/posts/2023-10-11-cilium-graduation-isovalent/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-itopstimes/index.md
  src/posts/2023-10-11-cilium-graduation-itopstimes/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-silicon-angle/index.md
  src/posts/2023-10-11-cilium-graduation-silicon-angle/ogimage.jpeg
  src/posts/2023-10-11-cilium-graduation-tfir/index.md
  src/posts/2023-10-11-cilium-graduation-tfir/ogimage.webp
  src/posts/2023-10-11-cilium-graduation-the-register/index.md
  src/posts/2023-10-11-cilium-graduation-the-register/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: blog post and gatsby-node
  gatsby-node.js
  package-lock.json
  package.json
  src/components/shared/popular-posts/popular-posts.jsx
  src/posts/08-07-2017-tutorial-applying-http-security-rules-with-kubernetes/index.md
  src/posts/20-11-2017-bpf-updates-13/index.md
  src/posts/2018-09-26-cilium-with-ubuntu1804/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-06-22-cilium-18/index.md
  src/posts/2020-10-28-ebpf-summit-day-1/index.md
  src/posts/2020-11-10-cilium-19/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: remove body from query
  src/templates/blog-post.jsx
Due: prettier --write, eslint --cache --fix

fix: better description for form3 talk
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

fix: rewrite capital one talk description
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

fix: correct new york times resource description
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

fix: adjust logo for industry pages
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/stats/stats.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/aws.svg
  src/pages/industries/images/logos/azure.svg
  src/pages/industries/images/logos/digitalocean.svg
  src/pages/industries/images/logos/google.svg
  src/pages/industries/images/logos/plusserver.svg
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix
