Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#452)
  src/posts/2024-01-25-gcloud-tetragon/index.md
  src/posts/2024-01-25-gcloud-tetragon/ogimage.webp
  src/posts/2024-02-11-cilium-5g/index.md
  src/posts/2024-02-11-cilium-5g/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Re-release the blog post (sw over hw)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Re-release the blog post (sw over hw) (#453)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Delete package-lock.json
  package-lock.json
Due: none

fix(components): file restored to original
  package-lock.json
Due: none

chore: add new blogs
  src/posts/2024-02-14-evaluating-pod-identities/index.md
  src/posts/2024-02-14-evaluating-pod-identities/ogimage.webp
  src/posts/2024-02-14-kubernetes-networking-cilium/index.md
  src/posts/2024-02-14-kubernetes-networking-cilium/ogimage.png
  src/posts/2024-02-20-choosing-the-right-routing-in-cilium/index.md
  src/posts/2024-02-20-choosing-the-right-routing-in-cilium/ogimage.jpg
  src/posts/2024-02-20-kubernetes-networking-cilium-intermediate-pt-1/index.md
  src/posts/2024-02-20-kubernetes-networking-cilium-intermediate-pt-1/ogimage.png
  src/posts/2024-02-21-tetragon/index.md
  src/posts/2024-02-21-tetragon/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2024-02-21-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#458)
  src/posts/2024-02-14-evaluating-pod-identities/index.md
  src/posts/2024-02-14-evaluating-pod-identities/ogimage.webp
  src/posts/2024-02-14-kubernetes-networking-cilium/index.md
  src/posts/2024-02-14-kubernetes-networking-cilium/ogimage.png
  src/posts/2024-02-20-choosing-the-right-routing-in-cilium/index.md
  src/posts/2024-02-20-choosing-the-right-routing-in-cilium/ogimage.jpg
  src/posts/2024-02-20-kubernetes-networking-cilium-intermediate-pt-1/index.md
  src/posts/2024-02-20-kubernetes-networking-cilium-intermediate-pt-1/ogimage.png
  src/posts/2024-02-21-tetragon/index.md
  src/posts/2024-02-21-tetragon/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new companies
  src/components/shared/user-community/images/veepee.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add new companies (#459)
  src/components/shared/user-community/images/veepee.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add cilium on DigitaOcean interview
  src/posts/2024-02-29-cilium-on-digital-ocean/Cilium-on-Digital-Ocean.png
  src/posts/2024-02-29-cilium-on-digital-ocean/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog
  src/posts/2024-02-22-cilium-on-a-private-AKS-cluster/index.md
  src/posts/2024-02-22-cilium-on-a-private-AKS-cluster/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update link
  src/posts/2024-02-22-cilium-on-a-private-AKS-cluster/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: make questions italic
  src/posts/2024-02-29-cilium-on-digital-ocean/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add interview
  src/posts/2024-02-29-cilium-on-digital-ocean/Cilium-on-Digital-Ocean.png
  src/posts/2024-02-29-cilium-on-digital-ocean/cilium_on_digitalocean.png
  src/posts/2024-02-29-cilium-on-digital-ocean/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add cilium on DigitaOcean interview (#461)
  src/posts/2024-02-29-cilium-on-digital-ocean/cilium_on_digitalocean.png
  src/posts/2024-02-29-cilium-on-digital-ocean/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add more blogs
  src/posts/2024-02-26-install-customize-cilium/index.md
  src/posts/2024-02-26-install-customize-cilium/ogimage.png
  src/posts/2024-02-26-openshift-cilium/index.md
  src/posts/2024-02-26-openshift-cilium/ogimage.webp
  src/posts/2024-02-27-multicluster/index.md
  src/posts/2024-02-27-multicluster/ogimage.png
  src/posts/2024-02-29-cilium-native-routing/index.md
  src/posts/2024-02-29-cilium-native-routing/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog (#462)
  src/posts/2024-02-22-cilium-on-a-private-AKS-cluster/index.md
  src/posts/2024-02-22-cilium-on-a-private-AKS-cluster/ogimage.webp
  src/posts/2024-02-26-install-customize-cilium/index.md
  src/posts/2024-02-26-install-customize-cilium/ogimage.png
  src/posts/2024-02-26-openshift-cilium/index.md
  src/posts/2024-02-26-openshift-cilium/ogimage.webp
  src/posts/2024-02-27-multicluster/index.md
  src/posts/2024-02-27-multicluster/ogimage.png
  src/posts/2024-02-29-cilium-native-routing/index.md
  src/posts/2024-02-29-cilium-native-routing/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new user story
  src/posts/2024-03-07-case-study-cloud-provider/Cloud_Provider_User_Story.png
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: edits
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update headings
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

New user story (#463)
  src/posts/2024-03-07-case-study-cloud-provider/Cloud_Provider_User_Story.png
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Revert "New user story (#463)"
  src/posts/2024-03-07-case-study-cloud-provider/Cloud_Provider_User_Story.png
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

ignore cloud provider story
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

ignore cloud provider story (#465)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: add netbird and gcore
  src/components/pages/adopters/logos/images/gcore.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/gcore.inline.svg
  src/components/shared/user-community/images/netbird.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add netbird and gcore (#466)
  src/components/pages/adopters/logos/images/gcore.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/gcore.inline.svg
  src/components/shared/user-community/images/netbird.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update cloud provider page with new logos
  src/components/pages/adopters/logos/images/gcore.inline.svg
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/gcore.inline.svg
  src/components/pages/industries/adopters-logo/images/netways.inline.svg
  src/components/pages/industries/adopters-logo/images/sealos.inline.svg
  src/components/pages/industries/adopters-logo/images/vkcloud.inline.svg
  src/pages/industries/cloud-providers.jsx
Due: prettier --write, eslint --cache --fix

chore: fix gcore logo in users page
  src/components/pages/adopters/logos/images/gcore.inline.svg
Due: none

chore: update cloud provider page with new logos (#467)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/gcore.inline.svg
  src/components/pages/industries/adopters-logo/images/netways.inline.svg
  src/components/pages/industries/adopters-logo/images/sealos.inline.svg
  src/components/pages/industries/adopters-logo/images/vkcloud.inline.svg
  src/pages/industries/cloud-providers.jsx
Due: prettier --write, eslint --cache --fix

chore: update date
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update date (#468)
  src/posts/2024-03-07-case-study-cloud-provider/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Revert "ignore cloud provider story (#465)"
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: update link
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Revert "ignore cloud provider story (#465)" (#469)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: update link (#470)
  src/posts/2023-12-26-cloud-native-projects-to-watch-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
