Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Revert "Update the date in the blog when the new sidecar data was added (#331)" (#333)
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

minor fix
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

link to gettting started labs
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: updates minor dependencies
  package-lock.json
  package.json
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update yup
  package-lock.json
  package.json
Due: none

feat: update @hookform/resolvers lint-staged markdownlint-cli
  package-lock.json
  package.json
Due: none

feat: updates eslint-config-prettier prettier prettier-plugin-tailwindcss
  DEPENDENCY_UPDATES.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: update postcss-import @tailwindcss/typography @tailwindcss/line-clamp
  package-lock.json
  package.json
Due: none

feat: updates @svgr/webpack @mdx-js/react
  DEPENDENCY_UPDATES.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add suggestions from Amir
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: updates react and gatsby
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/pages/home/learn/learn.jsx
  src/components/pages/newsletter/issues/issues.jsx
  src/components/shared/popular-posts/popular-posts.jsx
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

docs: update article images
  src/posts/2023-08-28-shekner/after-cilium-installation.png
  src/posts/2023-08-28-shekner/after-removing-calico-resources.png
  src/posts/2023-08-28-shekner/after-starting-the-rotatation.png
  src/posts/2023-08-28-shekner/after-starting-the-rotation.png
  src/posts/2023-08-28-shekner/after-the-full-rotation.png
  src/posts/2023-08-28-shekner/draining-the-oldest-worker-node.png
  src/posts/2023-08-28-shekner/existing-nodes-with-calico.png
  src/posts/2023-08-28-shekner/goldpinger-ui.png
  src/posts/2023-08-28-shekner/index.md
  src/posts/2023-08-28-shekner/node-a-fully-replaced.png
  src/posts/2023-08-28-shekner/only-cilium.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: update blog
  src/posts/2023-08-19-exploring-cilium/index.md
  src/posts/2023-08-19-exploring-cilium/ogimage.webp
  src/posts/2023-08-19-terraform-azure-cilium-pt-2/index.md
  src/posts/2023-08-19-terraform-azure-cilium-pt-2/ogimage.webp
  src/posts/2023-08-19-terraform-azure-cilium/index.md
  src/posts/2023-08-19-terraform-azure-cilium/ogimage.webp
  src/posts/2023-08-22-top-20-cilium-use-cases/index.md
  src/posts/2023-08-22-top-20-cilium-use-cases/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog date
  src/posts/2023-08-26-terraform-azure-cilium-pt-2/index.md
  src/posts/2023-08-26-terraform-azure-cilium-pt-2/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog post
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog post feature image
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Apply suggestions from code review
  src/posts/2023-08-22-top-20-cilium-use-cases/index.md
  src/posts/2023-08-26-terraform-azure-cilium-pt-2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update date
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

make popular post
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update blog (#335)
  src/posts/2023-08-19-exploring-cilium/index.md
  src/posts/2023-08-19-exploring-cilium/ogimage.webp
  src/posts/2023-08-19-terraform-azure-cilium/index.md
  src/posts/2023-08-19-terraform-azure-cilium/ogimage.webp
  src/posts/2023-08-22-top-20-cilium-use-cases/index.md
  src/posts/2023-08-22-top-20-cilium-use-cases/ogimage.webp
  src/posts/2023-08-26-terraform-azure-cilium-pt-2/index.md
  src/posts/2023-08-26-terraform-azure-cilium-pt-2/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page
  src/components/shared/user-community/images/twilio.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update adopters page (#336)
  src/components/shared/user-community/images/twilio.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add lab requirements
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: updates gatsby-node and gatsby-config
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/shared/popular-posts/popular-posts.jsx
  src/templates/blog.jsx
  src/utils/algolia-queries.js
Due: prettier --write, eslint --cache --fix

fix spelling
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: console warnings
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/events/events-subscribe/events-subscribe.jsx
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

feat: updates DEPENDENCY_UPDATES
  DEPENDENCY_UPDATES.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

switch should to must
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add DB migration blog post (#332)
  src/posts/2023-08-28-shekner/after-cilium-installation.png
  src/posts/2023-08-28-shekner/after-removing-calico-resources.png
  src/posts/2023-08-28-shekner/after-starting-the-rotation.png
  src/posts/2023-08-28-shekner/after-the-full-rotation.png
  src/posts/2023-08-28-shekner/draining-the-oldest-worker-node.png
  src/posts/2023-08-28-shekner/existing-nodes-with-calico.png
  src/posts/2023-08-28-shekner/goldpinger-ui.png
  src/posts/2023-08-28-shekner/index.md
  src/posts/2023-08-28-shekner/node-a-fully-replaced.png
  src/posts/2023-08-28-shekner/only-cilium.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix grammar
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add lab requirements (#337)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page
  src/components/shared/user-community/images/dbraincloud.inline.svg
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update events page
  content/events/2023-09-10-sigocomm/index.md
  content/events/2023-09-10-sigocomm/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update date
  content/events/2023-09-10-sigocomm/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog
  src/posts/2023-08-13-k3s/index.md
  src/posts/2023-08-13-k3s/ogimage.jpeg
  src/posts/2023-09-01-it-talks/index.md
  src/posts/2023-09-01-it-talks/ogimage.jpg
  src/posts/2023-10-02-eni-prefix/index.md
  src/posts/2023-10-02-eni-prefix/ogimage.webp
  src/posts/2023-10-05-tetragon-without-cilium/index.md
  src/posts/2023-10-05-tetragon-without-cilium/ogimage.webp
  src/posts/2023-10-07-transition-cilium/index.md
  src/posts/2023-10-07-transition-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page (#340)
  src/components/shared/user-community/images/dbraincloud.inline.svg
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: updates
  src/posts/2023-08-13-k3s/index.md
  src/posts/2023-10-02-eni-prefix/index.md
  src/posts/2023-10-05-tetragon-without-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: updates
  content/events/2023-09-10-sigocomm/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
