Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

tag
  src/posts/2022-07-20-vmblog-112-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-20-techrepub-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-20-infoworld-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-21-release-112-computerweekly/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-21-tfir-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-21-itworld-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-22-heise-112-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-22-itpro-today-release/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2022-07-28-release-informatique/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

tag
  src/posts/2023-04-18-mesh/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

style: intro-section
  src/components/pages/use-cases/intro-section.jsx
  src/components/shared/hero/hero.jsx
  src/components/shared/type-label/type-label.jsx
Due: prettier --write, eslint --cache --fix

style: image-feature-section
  src/components/pages/use-cases/image-feature-section.jsx
  src/components/pages/use-cases/intro-section.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

fix releases blog tag (#318)
  src/posts/2021-04-19-openshift-support/index.md
  src/posts/2022-05-16-tetragon/index.md
  src/posts/2022-07-20-infoworld-release/index.md
  src/posts/2022-07-20-techrepub-release/index.md
  src/posts/2022-07-20-vmblog-112-release/index.md
  src/posts/2022-07-21-itworld-release/index.md
  src/posts/2022-07-21-release-112-computerweekly/index.md
  src/posts/2022-07-21-tfir-release/index.md
  src/posts/2022-07-22-heise-112-release/index.md
  src/posts/2022-07-22-itpro-today-release/index.md
  src/posts/2022-07-28-release-informatique/index.md
  src/posts/2023-04-18-mesh/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: rss newsletter feed (#316)
  gatsby-config.js
  gatsby-node.js
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/newsletter/hero/images/rss.inline.svg
  src/components/pages/newsletter/issues/issues.jsx
  src/components/shared/hands-on/hands-on.jsx
Due: prettier --write, eslint --cache --fix

style: feature-section
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/feature-section/index.js
  src/components/pages/use-cases/intro-section/index.js
  src/components/pages/use-cases/intro-section/intro-section.jsx
  src/components/pages/use-cases/video-feature-section.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

style: use-case-card
  src/components/pages/use-cases/cards/use-case-card.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/intro-section/intro-section.jsx
  src/components/pages/use-cases/use-case-card/index.js
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

style: join-us-cards
  src/components/pages/use-cases/cards/join-us-cards.jsx
  src/components/pages/use-cases/intro-section/intro-section.jsx
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/index.js
  src/components/pages/use-cases/join-us-cards/index.js
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

refactor: rename
  src/components/pages/use-cases/hero/hero.jsx
  src/components/pages/use-cases/hero/index.js
  src/components/pages/use-cases/intro-section/index.js
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

chore: add case study to bloomberg card
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: testing and refactoring
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/images/quotes.svg
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

docs: update blog
  src/posts/2023-07-11-empowering-k8s-cilium/index.md
  src/posts/2023-07-11-empowering-k8s-cilium/ogimage.webp
  src/posts/2023-07-17-mon-ete-avec-ciliium-et-EKS/index.md
  src/posts/2023-07-17-mon-ete-avec-ciliium-et-EKS/ogimage.webp
  src/posts/2023-07-20-trendyol/index.md
  src/posts/2023-07-20-trendyol/ogimage.webp
  src/posts/2023-07-24-cilium-hubble/index.md
  src/posts/2023-07-24-cilium-hubble/ogimage.webp
  src/posts/2023-07-26-install-k8s-with-cilium-on-ubuntu/index.md
  src/posts/2023-07-26-install-k8s-with-cilium-on-ubuntu/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: remove link tracking
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: fix deploy error
  src/posts/2023-07-11-empowering-k8s-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adds seo component
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

add case study to bloomberg card (#319)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

update description
  src/posts/2023-07-20-trendyol/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update blog (#321)
  src/posts/2023-07-11-empowering-k8s-cilium/index.md
  src/posts/2023-07-11-empowering-k8s-cilium/ogimage.webp
  src/posts/2023-07-17-mon-ete-avec-ciliium-et-EKS/index.md
  src/posts/2023-07-17-mon-ete-avec-ciliium-et-EKS/ogimage.webp
  src/posts/2023-07-20-trendyol/index.md
  src/posts/2023-07-20-trendyol/ogimage.webp
  src/posts/2023-07-24-cilium-hubble/index.md
  src/posts/2023-07-24-cilium-hubble/ogimage.webp
  src/posts/2023-07-26-install-k8s-with-cilium-on-ubuntu/index.md
  src/posts/2023-07-26-install-k8s-with-cilium-on-ubuntu/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  src/components/pages/labs/card/card.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

style: cards
  gatsby-node.js
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/utils/events.js
  src/utils/routes.js
Due: prettier --write, eslint --cache --fix

feat: adds comments
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/hero/images/background.svg
  src/components/pages/brand/logos/logos.jsx
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/shared/card-item/card-item.jsx
Due: prettier --write, eslint --cache --fix

fix: columns
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  content/labs/1.jpg
  content/labs/2.jpg
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/cover.jpg
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/index.md
  content/labs/2022-10-11-soloio-academy-introduction-to-cilium/cover.jpg
  content/labs/2022-10-11-soloio-academy-introduction-to-cilium/index.md
  content/labs/2022-11-09-isovalent-cilium-enterprise-network-policies/cover.jpg
  content/labs/2022-11-09-isovalent-cilium-enterprise-network-policies/index.md
  content/labs/2022-11-21-getting-started-with-ebpf/cover.jpg
  content/labs/2022-11-21-getting-started-with-ebpf/index.md
  content/labs/2022-11-21-isovalent-cilium-enterprise-tls-visibility/cover.jpg
  content/labs/2022-11-21-isovalent-cilium-enterprise-tls-visibility/index.md
  content/labs/2023-02-01-cilium-enterprise-zero-trust-visibility/cover.jpg
  content/labs/2023-02-01-cilium-enterprise-zero-trust-visibility/index.md
  content/labs/2023-07-19-isovalent-cilium-enterprise-security-visibility/cover.jpg
  content/labs/2023-07-19-isovalent-cilium-enterprise-security-visibility/index.md
  content/labs/2023-07-20-isovalent-cilium-enterprise-connectivity-visibility/cover.jpg
  content/labs/2023-07-20-isovalent-cilium-enterprise-connectivity-visibility/index.md
  src/components/pages/labs/card/card.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: update blog
  src/posts/2023-05-04-telecommunications-user-story/index.md
  src/posts/2023-07-25-cilium-1-1-4/index.md
  src/posts/2023-07-25-cilium-1-1-4/ogimage.webp
  src/posts/2023-07-27-sdx-central-cilium-1-1-4/index.md
  src/posts/2023-07-27-sdx-central-cilium-1-1-4/ogimage.png
  src/posts/2023-07-28-isovalent-interview-on-cilium-1-1-4/index.md
  src/posts/2023-07-28-isovalent-interview-on-cilium-1-1-4/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  content/labs/1.jpg
  content/labs/2.jpg
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/cover.jpg
  content/labs/2022-10-11-soloio-academy-introduction-to-cilium/cover.jpg
  content/labs/2022-11-21-cilium-service-mesh/index.md
  content/labs/2023-07-23-cilium-loadbalancer-ipam-and-l2-service-announcement/index.md
  content/labs/2023-07-23-mutual-authentication-with-cilium/index.md
  src/icons/labs.inline.svg
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: remove console.log
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

docs: update blog (#323)
  src/posts/2023-05-04-telecommunications-user-story/index.md
  src/posts/2023-07-25-cilium-1-1-4/index.md
  src/posts/2023-07-25-cilium-1-1-4/ogimage.webp
  src/posts/2023-07-27-sdx-central-cilium-1-1-4/index.md
  src/posts/2023-07-27-sdx-central-cilium-1-1-4/ogimage.png
  src/posts/2023-07-28-isovalent-interview-on-cilium-1-1-4/index.md
  src/posts/2023-07-28-isovalent-interview-on-cilium-1-1-4/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/index.md
  content/labs/2022-10-11-soloio-academy-introduction-to-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

style: item-card
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
Due: prettier --write, eslint --cache --fix
