Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

added xata to users page
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: align Xata logo with adopter logos
  src/components/shared/user-community/images/xata.inline.svg
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

added xata to users page issue 970 (#980)
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add llms.txt file
  llms.txt
Due: none

feat: add Pagali Payments Services to adopters page
  src/components/shared/user-community/images/pagali.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add Pagali Payments Services to adopters page
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Added pagali payments service to adopters (#983)
  src/components/shared/user-community/images/pagali.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: remove unused Drone CI config
  .drone.yml
Due: none

feat(templates): add BlogPosting JSON-LD structured data to blog post pages
  src/templates/blog-post.jsx
Due: prettier --write, eslint --cache --fix

docs: adds Multi-Cluster Kubernetes Explained pillar page
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/cilium-mesh.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/fail-over-service.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/global-services.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/hubble-ui.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/inter-cluster-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/multi-cluster-cover-image.jpg
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/pod-to-pod-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/service-affinity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix(seo): add missing twitter:site meta tag
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat(a11y): add skip-to-main-content link for keyboard navigation
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix(a11y): add aria-label and sr-only hint to footer external links
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

fix(a11y/seo): address review feedback on footer links and JSON-LD structured data
  src/components/shared/footer/footer.jsx
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

chore: remove unused Drone CI config (#985)
  .drone.yml
Due: none

feat(a11y): add skip-to-main-content link for keyboard navigation (#990)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix(seo): add missing twitter:site meta tag (#989)
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

Update src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: adds Multi-Cluster Kubernetes Explained pillar page (#988)
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/cilium-mesh.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/fail-over-service.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/global-services.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/hubble-ui.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/inter-cluster-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/multi-cluster-cover-image.jpg
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/pod-to-pod-connectivity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/images/service-affinity.png
  src/posts/2026-06-13-multi-cluster-kubernetes-explained/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix(a11y): add aria-label and sr-only hint to footer external links (#991)
  src/components/shared/footer/footer.jsx
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat(templates): add author to BlogPosting JSON-LD
  gatsby-node.js
  src/templates/blog-post.jsx
Due: prettier --write, eslint --cache --fix

docs: repurpose llms.txt for AEO/AIO and serve at /llms.txt
  llms.txt
  static/_redirects
  static/llms.txt
Due: none

feat(templates): add BlogPosting JSON-LD structured data to blog post (#987)
  gatsby-node.js
  src/templates/blog-post.jsx
Due: prettier --write, eslint --cache --fix

Update static/llms.txt
  static/llms.txt
Due: none
