Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: update l4lb blogpost
  src/posts/2022-07-13-L4LB-XDP/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

remove featured blog
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

make featured blog
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

remove featured event
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Create 2026-04-10-ciliumcon-na-2026
  content/events/2026-04-10-ciliumcon-na-2026
Due: none

Apply suggestions from code review
  src/posts/2022-07-13-L4LB-XDP/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: update l4lb blogpost (#957)
  src/posts/2022-07-13-L4LB-XDP/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add ciliumcon na 2026
  content/events/2026-04-14-ciliumcon-na-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/events/2026-04-14-ciliumcon-na-2026/ogimage.png
Due: none

Potential fix for pull request finding
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

Add Kubecon adopters
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Add KubeCon talks to case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/shared/user-community/images/asana.inline.svg
  src/components/shared/user-community/images/etraveli.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Due: none

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Due: none

Update asana.inline.svg
  src/components/shared/user-community/images/asana.inline.svg
Due: none

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

Update case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update banner
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add Telefonica to adopters page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/telefonica.inline.svg
  src/components/shared/user-community/images/telefonica.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
