Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: navbar for mobile view (#680)
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write, eslint --cache --fix

Add SEO metadata for /get-started, /blog, /community, /documentation/events (#681)
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

SEO metadata
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

fix: add dark mode text color to main heading
  src/components/shared/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

docs: update README.md with uptime badge and community links
  README.md
  static/images/cilium_logo.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add Community Meetings Calendar to Get Involved Page
  src/components/shared/cards/cards.jsx
  src/components/shared/cards/images/calendar.inline.svg
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

Apply suggestion from @xmulligan
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

fix: add missing metadata for homepage (#676) (#677)
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

Update README.md
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: white text for blog content in dark mode
  src/components/pages/blog-post/content/content.jsx
Due: prettier --write, eslint --cache --fix

Delete static/images/cilium_logo.png
  static/images/cilium_logo.png
Due: none

fix: top-banner-text-color-hover
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: dark theme colors for 404 page
  src/pages/404.jsx
Due: prettier --write, eslint --cache --fix

Update README with badges (#688)
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fix failing netlify build
  gatsby-config.js
  package-lock.json
  package.json
  static/_redirects
Due: prettier --write, eslint --cache --fix

Revert "fix: add missing metadata for homepage (#676) (#677)"
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

fix: install plugin
  package-lock.json
  package.json
Due: none

feat: install gatsby-adapter-netlify
  package-lock.json
  package.json
Due: none

fix: improve accessibility in home page
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/in-production/slider/slider.jsx
  src/html.js
Due: prettier --write, eslint --cache --fix

fix(utils): configure Netlify adapter in gatsby-config
  package.json
Due: none

feat: add community calendar integration to get-involved page
  jsconfig.json
  package-lock.json
  package.json
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-involved/calendar-integration/index.js
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

docs: fix CSS for text visibility in dark mode
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

chore: added gatsby adpater netlify for passing preview
  package.json
Due: none

feat: add global search ...
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

improve labs banner ui
  src/components/pages/labs/banner/banner.jsx
Due: prettier --write, eslint --cache --fix

fix build failure
  package-lock.json
  package.json
Due: none

ci: add Lighthouse CI workflow
  .github/workflows/lighthouse-ci.yml
Due: none

ci: added lighthouserc.js
  .github/workflows/lighthouse-ci.yml
  lighthouserc.js
Due: prettier --write, eslint --cache --fix

Revert "Revert "fix: add missing metadata for homepage (#676) (#677)""
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

Fix build (#699)
  package-lock.json
  package.json
Due: none

fix: placeholder image color in user-community card
  src/icons/placeholder.inline.svg
Due: none

fix: card overflow on adopters route in mobile view
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

Add blog post of isovalent about Cilium 1.18!
  src/posts/2025-08-07-cilium-1.18-isovalent/index.md
  src/posts/2025-08-07-cilium-1.18-isovalent/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add blog post of isovalent about Cilium 1.18! (#717)
  src/posts/2025-08-07-cilium-1.18-isovalent/index.md
  src/posts/2025-08-07-cilium-1.18-isovalent/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add dark mode text color to main heading (#687)
  src/components/shared/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
