Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update date
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add 2026 predictions blog (#855)
  src/posts/2025-01-21-2026-predictions-vmblog/index.md
  src/posts/2025-01-21-2026-predictions-vmblog/predictions.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add UW-Madison case study and talk
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

move UW-Madison to adopters
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

add airbnb and tiktok
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add flipkart to bandwidth optimization page
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/icons/logo-flipkart.inline.svg
  src/images/pages/industries/e-commerce/flipkart-office.png
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add esnet kubecon video
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/pages/adopters/logos/images/airbnb.svg
  src/components/pages/adopters/logos/images/tiktok.svg
Due: none

Update src/posts/2026-01-19-tetragon-falco-migrate/index.md
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add airbnb tiktok to adopters
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Add UW-Madison case study and talk (#858)
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add flipkart to bandwidth optimization page (#853)
  src/components/pages/industries/adopters-logo/images/flipkart.inline.svg
  src/icons/logo-flipkart.inline.svg
  src/images/pages/industries/e-commerce/flipkart-office.png
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
Due: prettier --write, eslint --cache --fix

add tiktok to media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

add tiktok office image
  src/images/pages/industries/media-entertainment/tiktokoffice.png
Due: none

add tiktok image to media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: add falco migrate blog (#849)
  src/posts/2026-01-19-tetragon-falco-migrate/cover.png
  src/posts/2026-01-19-tetragon-falco-migrate/illustration1.png
  src/posts/2026-01-19-tetragon-falco-migrate/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix syntax error
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

Update youtube link
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Create cilium at kubecon 26 blog
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

move annual report to popular posts
  src/posts/2025-12-18-cilium-annual-report/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

remove from popular posts
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update cover image
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add Celonis logo to adopters section
  gatsby-config.js
  package-lock.json
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/pages/industries/cloud-providers.jsx
  static/img
Due: prettier --write, eslint --cache --fix

docs: clarify recommended command to run site locally
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: implement dual licensing (Apache-2.0 for code, CC-BY-4.0 for content)
  CONTRIBUTING.md
  LICENSE
  LICENSE-CC-BY-4.0
  README.md
  package.json
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: implement dual licensing (Apache-2.0 for code, CC-BY-4.0 for content) (#865)
  CONTRIBUTING.md
  LICENSE
  LICENSE-CC-BY-4.0
  README.md
  package.json
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: remove unrelated Celonis logo changes
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/celonis.inline.svg
  src/pages/industries/cloud-providers.jsx
Due: prettier --write, eslint --cache --fix

Revert unintended changes in gatsby-config.js
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

docs: clarify npm as primary run command
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Chore: Add UTM parameters to KubeCon EU URL
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

ci: update Drone CI to use Node.js 18 LTS
  .drone.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
