Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add cloud providers page
  src/images/pages/industries/cloud-1.png
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/images/awsoffice.png
  src/pages/industries/images/googleoffice.png
  src/pages/industries/images/logos/alibaba.svg
  src/pages/industries/images/logos/aws.svg
  src/pages/industries/images/logos/azure.svg
  src/pages/industries/images/logos/civo.svg
  src/pages/industries/images/logos/digitalocean.svg
  src/pages/industries/images/logos/google.svg
  src/pages/industries/images/logos/hetzner.svg
  src/pages/industries/images/logos/infomaniak.svg
  src/pages/industries/images/logos/openshift.svg
  src/pages/industries/images/logos/openstack.svg
  src/pages/industries/images/logos/plusserver.svg
  src/pages/industries/images/logos/scaleway.svg
  src/pages/industries/images/logos/sovereign.svg
  src/pages/industries/images/logos/tencent.svg
  src/pages/industries/images/logos/tencentcloud.svg
  src/pages/industries/images/microsoftoffice.png
Due: prettier --write, eslint --cache --fix

fix: replace isovalent with ebeedex across image alts
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

fix: make logos responsive on smaller screens
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: add mTLS to security intro
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: rewrite financial service page intro
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

fix: rewrite content
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/cards/feature.jsx
  src/images/pages/industries/finance-2.png
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

chore: add plusserver to adopters page (#357)
  src/components/shared/user-community/images/plusserver.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add go globals ection for ecommerce
  src/components/pages/industries/stats/stats.jsx
  src/images/pages/industries/ecommerce-1.png
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

fix: use a different illustration for going global section
  src/images/pages/industries/ecommerce-1.png
Due: none

remove repeated trip.com case study
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

remove repeated trip.com case study (#359)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add note on version of sw used
  src/posts/2022-07-13-L4LB-XDP/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: responsiveness for logos and images
  src/components/pages/home/hero/hero.jsx
  src/pages/industries/software.jsx
Due: prettier --write, eslint --cache --fix

chore: add Cilium graduation blog post
  src/posts/2023-07-25-cilium-1-1-4/index.md
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2023-10-11-cilium-graduation/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update summary
  src/posts/2023-10-11-cilium-graduation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add Cilium graduation blog post (#361)
  src/posts/2023-07-25-cilium-1-1-4/index.md
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2023-10-11-cilium-graduation/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/pages/industries/financial-services.jsx
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

Update src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/cloud-providers.jsx
  src/pages/industries/cloud-providers.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
