Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: close previous FAQ due to errors and start new PR for corrected FAQ schema
  src/components/pages/get-help/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

chore: close previous FAQ due to errors and start new PR for corrected FAQ schema (#827)
  src/components/pages/get-help/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

Update index.md
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add ciliumcon eu 2026
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/events/2025-11-25-ciliumcon-eu-2026/ogimage.png
Due: none

Update index.md
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update NA date
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update NA date (#829)
  content/events/2025-05-26-ciliumcon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add ciliumcon eu 2026 (#828)
  content/events/2025-05-26-ciliumcon-na-2025/index.md
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
  content/events/2025-11-25-ciliumcon-eu-2026/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

EU 2023
  content/events/2023-04-18-ciliumcon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

NA 2023
  content/events/2023-11-06-ciliumcon-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

cilium ebpf day na 2024
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update external URL for CiliumCon Europe 2025
  content/events/2025-04-01-ciliumcon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix event links (#830)
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-11-06-ciliumcon-na/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2025-04-01-ciliumcon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add tetragon process blog
  src/posts/2025-10-4-tetragon-process/chain.png
  src/posts/2025-10-4-tetragon-process/cover.png
  src/posts/2025-10-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct dates
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/shared/user-community/images/nutanix.inline.svg
  src/posts/2025-11-4-tetragon-process/chain.png
  src/posts/2025-11-4-tetragon-process/cover.png
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add child process visibility section
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: rewrite runc exploit tracing policy
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: nutaninx logo
  src/components/pages/adopters/logos/images/nutanix.inline.svg
  src/components/shared/user-community/images/nutanix.inline (1).svg
  src/components/shared/user-community/images/nutanix.inline.svg
Due: none

fix: remove duplicate nutanix logo
  src/components/shared/user-community/images/nutanix.inline.svg
Due: none

fix: typo
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add new blog post
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/LFXAcceptanceEmail.jpg
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: update author component usage in blog post
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/lfxacceptanceemail.png
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: update policy enforcement to sigkill
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: update policy
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add ingress nginx post
  src/posts/2025-12-03-ingress-nginx-migration/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2025-12-03-ingress-nginx-migration/ogimage.png
Due: none

Add ingress niginx post (#835)
  src/posts/2025-12-03-ingress-nginx-migration/index.md
  src/posts/2025-12-03-ingress-nginx-migration/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add new blog post - Peace Sandy Internship Experience (#834)
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/LFXAcceptanceEmail.jpg
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/index.md
  src/posts/2025-11-29-peacesandy-cilium-internship-experience/lfxacceptanceemail.png
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add tetragon process blog (#814)
  src/posts/2025-11-4-tetragon-process/chain.png
  src/posts/2025-11-4-tetragon-process/cover.png
  src/posts/2025-11-4-tetragon-process/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

remove KubeCon feature blog
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add Cilium annual report blog
  src/posts/2025-12-18-cilium-annual-report/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2025-12-18-cilium-annual-report/annualreport.png
Due: none

feat: add tetragon eoy blog
  src/posts/2025-12-31-tetragon-2025-review/cover.png
  src/posts/2025-12-31-tetragon-2025-review/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-12-31-tetragon-2025-review/index.md
  src/posts/2025-12-31-tetragon-2025-review/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
