Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: featured -> popular
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add blog post
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/talks.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update cover image
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/talks.png
Due: none

chore: add blog post (#441)
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/talks.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: edit
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update title
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update title (#442)
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add schedule list
  src/posts/2024-03-20-kubecon-eu/index.md
  src/posts/2024-03-20-kubecon-eu/talks.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update kubecon blog (#440)
  src/posts/2024-03-20-kubecon-eu/index.md
  src/posts/2024-03-20-kubecon-eu/talks.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog
  src/posts/2024-02-03-agrocd-deployment/index.md
  src/posts/2024-02-03-agrocd-deployment/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog (#443)
  src/posts/2024-02-03-agrocd-deployment/index.md
  src/posts/2024-02-03-agrocd-deployment/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update netways logo
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/shared/user-community/images/netways.inline.svg
Due: none

chore: new cilium blogs
  src/posts/2023-12-18-a-quick-glance-at-cilium-cni/index.md
  src/posts/2023-12-18-a-quick-glance-at-cilium-cni/ogimage.png
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-02-01-cilium-1-15-isovalent/ogimage.webp
  src/posts/2024-02-01-digital-ocean-hubble/index.md
  src/posts/2024-02-01-digital-ocean-hubble/ogimage.jpeg
  src/posts/2024-02-02-installing-cilium/index.md
  src/posts/2024-02-02-installing-cilium/ogimage.png
  src/posts/2024-02-06-cilium-mesh-aks/index.md
  src/posts/2024-02-06-cilium-mesh-aks/ogimage.webp
  src/posts/2024-02-06-migrating-from-calico/index.md
  src/posts/2024-02-06-migrating-from-calico/ogimage.png
  src/posts/2024-02-06-taming-tetragon/index.md
  src/posts/2024-02-06-taming-tetragon/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix logo arrangement
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

chore: fix logo arrangement
  src/components/pages/adopters/logos/images/netways.inline.svg
Due: none

chore: update netways logo (#444)
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/shared/user-community/images/netways.inline.svg
  src/pages/adopters.jsx
  src/posts/2023-12-18-a-quick-glance-at-cilium-cni/index.md
  src/posts/2023-12-18-a-quick-glance-at-cilium-cni/ogimage.png
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-02-01-cilium-1-15-isovalent/ogimage.webp
  src/posts/2024-02-01-digital-ocean-hubble/index.md
  src/posts/2024-02-01-digital-ocean-hubble/ogimage.jpeg
  src/posts/2024-02-02-installing-cilium/index.md
  src/posts/2024-02-02-installing-cilium/ogimage.png
  src/posts/2024-02-06-cilium-mesh-aks/index.md
  src/posts/2024-02-06-cilium-mesh-aks/ogimage.webp
  src/posts/2024-02-06-migrating-from-calico/index.md
  src/posts/2024-02-06-migrating-from-calico/ogimage.png
  src/posts/2024-02-06-taming-tetragon/index.md
  src/posts/2024-02-06-taming-tetragon/ogimage.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-02-06-taming-tetragon/index.md
  src/posts/2024-02-06-taming-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new cilium blogs (#445)
  src/posts/2024-02-01-cilium-1-15-isovalent/index.md
  src/posts/2024-02-06-taming-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add rabobank to adopters and use cases page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/rabobank.inline.svg
  src/components/shared/user-community/images/rabobank.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/financial-services/rabobank-office.jpeg
  src/pages/adopters.jsx
  src/pages/industries/financial-services.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update text
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: updates
  src/icons/rabobank.inline.svg
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/network-policy.jsx
Due: prettier --write, eslint --cache --fix

chore: new blog
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/cover.png
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update schedule
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update schedule (#449)
  src/posts/2024-02-02-cilium-talks-at-kubecon-eu-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: edits
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new lab
  content/labs/2024-02-12-migrating-from-calico/cover.png
  content/labs/2024-02-12-migrating-from-calico/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: more edits
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/pages/industries/financial-services.jsx
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

chore: new blog (#448)
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/cover.png
  src/posts/2024-02-12-how-software-networking-is-taking-over-the-world/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add rabobank to adopters and vertical page (#447)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/rabobank.inline.svg
  src/components/shared/user-community/images/rabobank.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/rabobank.inline.svg
  src/images/pages/industries/financial-services/rabobank-office.jpeg
  src/pages/adopters.jsx
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/network-policy.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: unpublish post
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: unpublish post (#451)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

Update content/labs/2024-02-12-migrating-from-calico/index.md
  content/labs/2024-02-12-migrating-from-calico/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new lab (#450)
  content/labs/2024-02-12-migrating-from-calico/cover.png
  content/labs/2024-02-12-migrating-from-calico/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-01-25-gcloud-tetragon/index.md
  src/posts/2024-01-25-gcloud-tetragon/ogimage.webp
  src/posts/2024-02-11-cilium-5g/index.md
  src/posts/2024-02-11-cilium-5g/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-01-25-gcloud-tetragon/index.md
  src/posts/2024-01-25-gcloud-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-02-11-cilium-5g/index.md
  src/posts/2024-02-11-cilium-5g/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
