Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Update date format causing sorting issue
  src/posts/2026-08-28-zero-trust-developer-platforms-with-cilium-network-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: remove inviter component (#1041)
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/index.jsx
  src/styles/global.css
Due: prettier --write, eslint --cache --fix

feat: add tetetragon grpc api blog
  src/posts/2026-09-10-tetragon-grpc/cover.png
  src/posts/2026-09-10-tetragon-grpc/illustration1.png
  src/posts/2026-09-10-tetragon-grpc/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Create index.md
  src/posts/2026-09-23-kubecon-na-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2026-09-23-kubecon-na-26/ciliumconeu26.png
  src/posts/2026-09-23-kubecon-na-26/dev-summit-26-eu.png
  src/posts/2026-09-23-kubecon-na-26/ogimage.png
Due: none

remove feature
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2026-09-23-kubecon-na-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2026-09-23-kubecon-na-26/ogimage.png
Due: none

Update src/posts/2026-09-23-kubecon-na-26/index.md
  src/posts/2026-09-23-kubecon-na-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add KubeCon NA blog (#1048)
  src/posts/2026-03-23-ciliumcon-momentum/index.md
  src/posts/2026-09-23-kubecon-na-26/ciliumconeu26.png
  src/posts/2026-09-23-kubecon-na-26/dev-summit-26-eu.png
  src/posts/2026-09-23-kubecon-na-26/index.md
  src/posts/2026-09-23-kubecon-na-26/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat(pages): add PayPal to adopters page and logos
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/paypal.inline.svg
  src/components/shared/user-community/images/paypal.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix
