Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add google's talk
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add db schenker talk
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add canopus to adopters list
  src/components/shared/user-community/images/canopus.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: correct g research talk link
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

Kubecon eu updates (#597)
  src/components/shared/user-community/images/canopus.inline.svg
  src/components/shared/user-community/images/corner.inline.svg
  src/components/shared/user-community/images/gresearch.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-corner.inline.svg
  src/images/pages/industries/ai/canopusaioffice.png
  src/images/pages/industries/ai/gresearch-office.jpg
  src/images/pages/industries/financial-services/corneroffice.jpg
  src/images/pages/industries/financial-services/gresearch-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/ai.jsx
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs(posts): Tetragon and AI agents
  src/posts/2025-05-15-tetragon-ai-agents-canopus/cover.png
  src/posts/2025-05-15-tetragon-ai-agents-canopus/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add Cilium's Bluesky profile to the website
  src/components/shared/cards/cards.jsx
  src/components/shared/cards/images/bluesky.inline.svg
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

docs(posts): Tetragon and AI agents (#602)
  src/posts/2025-05-15-tetragon-ai-agents-canopus/cover.png
  src/posts/2025-05-15-tetragon-ai-agents-canopus/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: removed twitter card from community page
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/get-involved.jsx
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

chore: add Cilium's Bluesky profile to the Community Page (#603)
  src/components/shared/cards/cards.jsx
  src/components/shared/cards/images/bluesky.inline.svg
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

chore: bump node.js to latest version
  package.json
Due: none

chore: revert mdx version
  package.json
Due: none

chore: revert node-fetch
  package.json
Due: none

chore: revert remark-gfm
  package.json
Due: none

chore: test PR for bump
  package-lock.json
  package.json
Due: none

chore: update node.js packages using npm update --save
  package-lock.json
  package.json
Due: none

feat: add l7 netpol blog post
  src/posts/2025-05-20-cilium-l7-policies/cilium-netpol-comparison.png
  src/posts/2025-05-20-cilium-l7-policies/cover.png
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: bump outdated node.js packages to latest version (#604)
  package-lock.json
  package.json
Due: none

feat: add l7 netpol blog post (#607)
  src/posts/2025-05-20-cilium-l7-policies/cilium-netpol-comparison.png
  src/posts/2025-05-20-cilium-l7-policies/cover.png
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct typo
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct hhtp heading
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-05-20-cilium-l7-policies/index.md
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

L7 blog post] (#608)
  src/posts/2025-05-20-cilium-l7-policies/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update node in CI pipeline
  .drone.yml
Due: none

chore: update .drone.yml
  .drone.yml
Due: none

fix: prevent memory leaks in event listeners
  src/hooks/use-click-outside.js
  src/hooks/use-window-size.js
Due: prettier --write, eslint --cache --fix

fix(hooks): move event handler inside useEffect for linter compliance
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --cache --fix

fix(components): sanitize HTML with DOMPurify and ensure accessible checkbox labels
  src/components/pages/get-started/learn/card-item/card-item.jsx
  src/components/shared/blog-author/blog-author.jsx
  src/components/shared/checkbox/checkbox.jsx
  src/components/shared/hero/hero.jsx
  src/utils/sanitize-html.js
Due: prettier --write, eslint --cache --fix

fix(components): add dompurify as a production dependency for Netlify build
  package-lock.json
  package.json
Due: none

feat: add cilium na 2025
  content/events/2025-04-01-ciliumcon-eu/index.md
  content/events/2025-05-26-ciliumcon-na-2025/index.md
  content/events/2025-05-26-ciliumcon-na-2025/ogimage.png
  src/layouts/main/main.jsx
  src/posts/2025-04-15-tetragon-user-story-social-network/index.md
  src/posts/2025-05-25-ciliumcon-na-2025/index.md
  src/posts/2025-05-25-ciliumcon-na-2025/ogimage.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add cilium na 2025 (#621)
  content/events/2025-04-01-ciliumcon-eu/index.md
  content/events/2025-05-26-ciliumcon-na-2025/index.md
  content/events/2025-05-26-ciliumcon-na-2025/ogimage.png
  src/layouts/main/main.jsx
  src/posts/2025-04-15-tetragon-user-story-social-network/index.md
  src/posts/2025-05-25-ciliumcon-na-2025/index.md
  src/posts/2025-05-25-ciliumcon-na-2025/ogimage.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: fixed typo cillium to cilium
  src/components/pages/brand/brand-features/brand-features.jsx
Due: prettier --write, eslint --cache --fix

chore: fixed typo cillium to cilium (#622)
  src/components/pages/brand/brand-features/brand-features.jsx
Due: prettier --write, eslint --cache --fix

fix: redirect for 404 issue
  static/_redirects
Due: none

fix: redirect for 404 issue (#623)
  static/_redirects
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
