Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: "
  content/events/2023-09-10-sigocomm/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update blog (#342)
  src/posts/2023-08-13-k3s/index.md
  src/posts/2023-08-13-k3s/ogimage.jpeg
  src/posts/2023-09-01-it-talks/index.md
  src/posts/2023-09-01-it-talks/ogimage.jpg
  src/posts/2023-10-02-eni-prefix/index.md
  src/posts/2023-10-02-eni-prefix/ogimage.webp
  src/posts/2023-10-05-tetragon-without-cilium/index.md
  src/posts/2023-10-05-tetragon-without-cilium/ogimage.webp
  src/posts/2023-10-07-transition-cilium/index.md
  src/posts/2023-10-07-transition-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add industries dropdown
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: fix dates
  src/posts/2023-09-02-eni-prefix/index.md
  src/posts/2023-09-02-eni-prefix/ogimage.webp
  src/posts/2023-09-05-tetragon-without-cilium/index.md
  src/posts/2023-09-05-tetragon-without-cilium/ogimage.webp
  src/posts/2023-09-07-transition-cilium/index.md
  src/posts/2023-09-07-transition-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add meet the maintainer blog
  src/posts/2022-05-05-meet-Laurent/index.md
  src/posts/2023-09-13-meet-vlad/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix blog dates
  src/posts/2023-09-02-eni-prefix/index.md
  src/posts/2023-09-02-eni-prefix/ogimage.webp
  src/posts/2023-09-05-tetragon-without-cilium/index.md
  src/posts/2023-09-05-tetragon-without-cilium/ogimage.webp
  src/posts/2023-09-07-transition-cilium/index.md
  src/posts/2023-09-07-transition-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add new meet the maintainer blog post
  src/posts/2022-05-05-meet-Laurent/index.md
  src/posts/2023-09-13-meet-vlad/index.md
  src/posts/2023-09-13-meet-vlad/vlad.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: update rss feed
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: rss
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: fix blog dates (#346)
  src/posts/2023-09-02-eni-prefix/index.md
  src/posts/2023-09-02-eni-prefix/ogimage.webp
  src/posts/2023-09-05-tetragon-without-cilium/index.md
  src/posts/2023-09-05-tetragon-without-cilium/ogimage.webp
  src/posts/2023-09-07-transition-cilium/index.md
  src/posts/2023-09-07-transition-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update adopters page (#348)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: listing labs link
  src/components/pages/labs/banner/banner.jsx
Due: prettier --write, eslint --cache --fix

style: update design card
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix: paddings
  src/components/shared/user-community/user-community.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: before
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

feat: set Node.js version to 18.x for netlify
  .nvmrc
Due: none

chore: change post dates
  src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-09-18-meet-vlad/vlad.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: create components designs
  src/components/pages/industries/BulletsCard.jsx
  src/components/pages/industries/Community.jsx
  src/components/pages/industries/GlobalLeaders.jsx
  src/components/pages/industries/adopter-testimonial/adopter-testimonial.jsx
  src/components/pages/industries/adopter-testimonial/index.js
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/index.js
  src/components/pages/industries/adopters-stats/adopters-stats.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/featured-talks/index.js
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/hero/index.js
  src/components/pages/industries/img/bloomberg.png
  src/components/pages/industries/img/postfinance.png
  src/components/pages/industries/industry-usecase/card/card.js
  src/components/pages/industries/industry-usecase/card/img/audit.inline.svg
  src/components/pages/industries/industry-usecase/card/img/encryption.inline.svg
  src/components/pages/industries/industry-usecase/card/img/network-flow.inline.svg
  src/components/pages/industries/industry-usecase/card/index.js
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/layouts/main/main.jsx
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

feat: create bllect section components
  src/components/pages/industries/BulletsCard.jsx
  src/components/pages/industries/GlobalLeaders.jsx
  src/components/pages/industries/adopter-resources/adopter-resources.jsx
  src/components/pages/industries/adopters-stats/index.js
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/bullet-section/index.js
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

chore: fix category name
  src/posts/2023-08-13-k3s/index.md
  src/posts/2023-09-02-eni-prefix/index.md
  src/posts/2023-09-05-tetragon-without-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new meet the maintainer blog (#347)
  src/posts/2022-05-05-meet-Laurent/index.md
  src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-09-18-meet-vlad/vlad.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix category name (#351)
  src/posts/2023-08-13-k3s/index.md
  src/posts/2023-09-02-eni-prefix/index.md
  src/posts/2023-09-05-tetragon-without-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: new external blog posts
  src/posts/2023-09-12-cilium-hubble/index.md
  src/posts/2023-09-12-cilium-hubble/ogimage.webp
  src/posts/2023-09-12-what-is-next-for-observability/index.md
  src/posts/2023-09-12-what-is-next-for-observability/ogimage.webp
  src/posts/2023-09-14-ebpf-summit-ctf-writeup/index.md
  src/posts/2023-09-14-ebpf-summit-ctf-writeup/ogimage.jpg
  src/posts/2023-09-14-unlock-cilium-in-EKS-anywhere/index.md
  src/posts/2023-09-14-unlock-cilium-in-EKS-anywhere/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: new external blog posts (#350)
  src/posts/2023-09-12-cilium-hubble/index.md
  src/posts/2023-09-12-cilium-hubble/ogimage.webp
  src/posts/2023-09-12-what-is-next-for-observability/index.md
  src/posts/2023-09-12-what-is-next-for-observability/ogimage.webp
  src/posts/2023-09-14-ebpf-summit-ctf-writeup/index.md
  src/posts/2023-09-14-ebpf-summit-ctf-writeup/ogimage.jpg
  src/posts/2023-09-14-unlock-cilium-in-EKS-anywhere/index.md
  src/posts/2023-09-14-unlock-cilium-in-EKS-anywhere/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update tags
  src/posts/2023-09-12-what-is-next-for-observability/index.md
  src/posts/2023-09-14-unlock-cilium-in-EKS-anywhere/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: clean up components designs
  src/components/pages/industries/adopter-testimonial/adopter-testimonial.jsx
  src/components/pages/industries/adopter-testimonial/index.js
  src/components/pages/industries/adopters-stats/adopters-stats.jsx
  src/components/pages/industries/adopters-stats/index.js
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/bullet-section/index.js
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/img/bloomberg.png
  src/components/pages/industries/img/postfinance.png
  src/components/pages/industries/industry-usecase/card/card.js
  src/components/pages/industries/industry-usecase/card/img/audit.inline.svg
  src/components/pages/industries/industry-usecase/card/img/encryption.inline.svg
  src/components/pages/industries/industry-usecase/card/img/network-flow.inline.svg
  src/components/pages/industries/industry-usecase/card/index.js
  src/components/pages/industries/industry-usecase/index.js
  src/components/pages/industries/resources/index.js
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/stats/index.js
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/index.js
  src/components/pages/industries/testimonial/testimonial.jsx
  src/components/shared/link/link.jsx
  src/icons/logo-bloomberg.inline.svg
  src/pages/industries/financial-services.jsx
  src/pages/industries/item.jsx
Due: prettier --write, eslint --cache --fix

feat: make testimonial card mobile responsive
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/cards/index.js
  src/components/pages/industries/cards/tetragon.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-postfinance.inline.svg
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/audit.inline.svg
  src/pages/industries/images/bandwidth-latency-optimization.inline.svg
  src/pages/industries/images/bgp.inline.svg
  src/pages/industries/images/capitaloneoffice.png
  src/pages/industries/images/connectivity.inline.svg
  src/pages/industries/images/egress-gateway.inline.svg
  src/pages/industries/images/encryption.inline.svg
  src/pages/industries/images/kubeproxy.inline.svg
  src/pages/industries/images/metrics-export.inline.svg
  src/pages/industries/images/metrics.inline.svg
  src/pages/industries/images/native-support.inline.svg
  src/pages/industries/images/network-flow.inline.svg
  src/pages/industries/images/network-policy.inline.svg
  src/pages/industries/images/observability.inline.svg
  src/pages/industries/images/postfinanceoffice.png
  src/pages/industries/images/protocol-visibility.inline.svg
  src/pages/industries/images/robinhoodoffice.png
  src/pages/industries/images/runtime-enforcement.inline.svg
  src/pages/industries/images/scalable-kubernetes.inline.svg
  src/pages/industries/images/service-map.inline.svg
  src/pages/industries/images/service-mesh.inline.svg
  src/pages/industries/images/visibility.inline.svg
Due: prettier --write, eslint --cache --fix

feat: responsive bullet section
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/stats/stats.jsx
Due: prettier --write, eslint --cache --fix

fix: small changes
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

style: update design card (#349)
  src/components/shared/user-community/user-community.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: media and etertainment page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/components/pages/industries/stats/stats.jsx
  src/icons/logo-newyork.inline.svg
  src/images/pages/industries/public-speaking-bee.png
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: fix ui designs
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/hex.inline.svg
  src/pages/industries/financial-services.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: adopters logo component
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/bloomberg.svg
  src/pages/industries/images/logos/capitalone.svg
  src/pages/industries/images/logos/form3.svg
  src/pages/industries/images/logos/postfinance.svg
  src/pages/industries/images/logos/robinhood.svg
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

chore: remove demo usecase page
  src/pages/item-page.jsx
Due: prettier --write, eslint --cache --fix

fix: correct links on industries dropdown
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: updates to site
  content/events/2023-10-05-enhancing-security-with-mutual-tls/index.md
  content/events/2023-10-05-enhancing-security-with-mutual-tls/ogimage.jpg
  src/pages/get-started.jsx
  src/posts/2023-09-17-gateway-api/index.md
  src/posts/2023-09-17-gateway-api/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: style reosiurce cards corretly
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/industries/media-1.png
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/bytedance.svg
  src/pages/industries/images/logos/mux.svg
  src/pages/industries/images/logos/newyork.svg
  src/pages/industries/images/logos/seznam.svg
  src/pages/industries/images/logos/skybet.svg
  src/pages/industries/images/logos/sportradar.svg
  src/pages/industries/images/newyorkoffice.jpg
  src/pages/industries/images/seznamoffice.jpg
  src/pages/industries/images/yahoooffice.png
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: media and entertaiment page design and contents
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
