Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: remove ovh remnants
  src/pages/adopters.jsx
  src/posts/2025-06-19-eks-eni-instal/image.png
  src/posts/2025-06-22-eks-byonci-overlay-install/cover.png
  src/posts/2025-06-22-eks-byonci-overlay-install/image.png
  src/posts/2025-06-22-eks-byonci-overlay-install/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: update enforcement wording
  src/pages/industries/security.jsx
  src/pages/use-cases/runtime-security.jsx
Due: prettier --write, eslint --cache --fix

fix: add redirects
  static/_redirects
Due: none

fix: reword to runtime security (#639)
  src/components/pages/home/highlights/highlights.jsx
  src/pages/industries/security.jsx
  src/pages/use-cases/runtime-security.jsx
  static/_redirects
Due: prettier --write, eslint --cache --fix

Update index.md
  01-07-2025-eBPF-Tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Create index.md
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update banner text and link
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: update banner text and link (#642)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: add final blog post for eks series
  src/posts/2025-06-07-eks-byonci-overlay-install/aws-cilium-architecture.png
  src/posts/2025-06-07-eks-byonci-overlay-install/cover.png
  src/posts/2025-06-07-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add command to fix heap out of memory error
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add user ovh
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/pages/adopters/logos/images/ovhr.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ovh.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: fix alauda logo viewbox
  src/components/shared/user-community/images/alauda.inline.svg
Due: none

feat: add bluesky share button
  src/components/pages/blog-post/content/social-share/social-share.jsx
  src/icons/bluesky.inline.svg
Due: prettier --write, eslint --cache --fix

fix: fix alauda logo viewbox (#646)
  src/components/shared/user-community/images/alauda.inline.svg
Due: none

Create index.md (#641)
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Create index.md
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix dates
  src/posts/2025-07-06-eks-byonci-overlay-install/aws-cilium-architecture.png
  src/posts/2025-07-06-eks-byonci-overlay-install/cover.png
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

turn off popular
  01-07-2025-eBPF-Tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

remove extra file
  01-07-2025-eBPF-Tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

turn off popular
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct date
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Sunitha82 patch 2 (#648)
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add final blog post for eks series (#643)
  src/posts/2025-07-06-eks-byonci-overlay-install/aws-cilium-architecture.png
  src/posts/2025-07-06-eks-byonci-overlay-install/cover.png
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: change ovh cloud section
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

feat: add user ovh (#645)
  src/components/pages/adopters/logos/images/ovh.inline.svg
  src/components/pages/adopters/logos/images/ovhr.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ovh.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fixed link
  src/pages/use-cases/egress-gateway.jsx
Due: prettier --write, eslint --cache --fix

fixed link (#649)
  src/pages/use-cases/egress-gateway.jsx
Due: prettier --write, eslint --cache --fix

feat: implement custom bluesky button
  src/components/pages/blog-post/content/social-share/social-share.jsx
Due: prettier --write, eslint --cache --fix

feat: add bluesky share button (#647)
  src/components/pages/blog-post/content/social-share/social-share.jsx
  src/icons/bluesky.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add user open ai
  src/components/shared/user-community/images/openai.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add youtube playlist gallery component
  package-lock.json
  package.json
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/youtube-playlist-gallery/index.js
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.css
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.jsx
Due: prettier --write, eslint --cache --fix

remove trailing period
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add user open ai (#652)
  src/components/shared/user-community/images/openai.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

blog post: Add themed eCHO playlist post
  src/posts/2025-16-01-themed-echo-playlists/cover.png
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: horizontal overflow on /adopters route
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix: horizontal overflow on /adopters route (#654)
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

fix: fix markdown linting rules
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Mulligan Bro How are you?
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
