Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat(ai): add OpenAI to AI industry page
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

chore(ai): add OpenAI logo image for AI page resources card
  src/images/pages/industries/ai/openai-logo.png
Due: none

fix(ai): add imageSrc, imageAlt and fix style for OpenAI entry
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

fix(ai): add case study link to OpenAI in case-studies-data
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix(ai): replace openai-logo.png with clean public domain image
  src/images/pages/industries/ai/openai-logo.png
Due: none

feat: add tetraon 1.7 release blog
  src/posts/2026-05-06-tetragon-1.7-release-blog/index.md
  src/posts/2026-05-06-tetragon-1.7-release-blog/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add tetraon 1.7 release blog (#974)
  src/posts/2026-05-06-tetragon-1.7-release-blog/index.md
  src/posts/2026-05-06-tetragon-1.7-release-blog/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Completed issue #972
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

added image
  src/images/pages/industries/ai/openai-office.jpg
Due: none

docs: adds Understanding Kubernetes Network Security pillar page
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/cilium-node-agent.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/core-networking-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/hubble.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/it-ops.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/m-tls-encryption.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/osi-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/runtime-observability.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: adds Kubernetes Runtime Security:The Guide pillar page
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/ebpf-kernel-visibility.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/egress-gateway.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/kubernetes-privilege-escalation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/process-network-correlation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-network-enforcement.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-security.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-architecture.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-context-enrichment.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-fim.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-hook-points.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: adds Kubernetes Runtime Security:The Guide pillar page (#977)
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/ebpf-kernel-visibility.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/egress-gateway.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/kubernetes-privilege-escalation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/process-network-correlation.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-network-enforcement.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/runtime-security.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-architecture.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-context-enrichment.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-fim.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/images/tetragon-hook-points.png
  src/posts/2026-06-07-kubernetes-runtime-security-the-guide/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

updated ascendTestimonial
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

docs: fixed figure caption italics
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

updated logo
  src/components/pages/industries/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

Completed Add OpenAI to users and AI page issue #972 (#975)
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/industries/ai/openai-office.jpg
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: filter only published newseletters
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

docs: adds Understanding Kubernetes Network Security pillar page (#976)
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/cilium-node-agent.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/core-networking-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/hubble.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/it-ops.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/m-tls-encryption.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/osi-layers.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/images/runtime-observability.png
  src/posts/2026-06-07-understanding-kubernetes-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: filter only published newseletters (#979)
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

added xata to users page
  src/components/shared/user-community/images/xata.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
