Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: change multi tenant image
  src/images/pages/industries/software-3.webp
Due: none

update graduation references
  src/components/shared/cncf-banner/cncf-banner.jsx
Due: prettier --write, eslint --cache --fix

update SEO metadata
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

update enterprise page
  src/pages/enterprise.jsx
Due: prettier --write, eslint --cache --fix

update graduation references (#364)
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/pages/enterprise.jsx
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

fix: removed entepise images
  src/images/pages/industries/finance-1.webp
  src/images/pages/industries/guardian-bee.png
  src/images/pages/industries/security-2.png
  src/images/pages/industries/security-bee.png
  src/images/pages/industries/telco-1.png
  src/images/pages/industries/telco-1.webp
  src/pages/industries/financial-services.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

fix: repalace bgp image
  src/images/pages/industries/telco-1.png
Due: none

adding gloo network
  src/components/pages/enterprise/distributions/distributions.jsx
  src/components/pages/enterprise/distributions/images/solo-multi.inline.svg
  src/components/pages/enterprise/distributions/images/solo-security.inline.svg
  src/components/pages/enterprise/distributions/images/solo-support.inline.svg
  src/components/pages/enterprise/distributions/images/solo.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add seo meta-data for industry pages
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

chore: update adopters page
  src/components/shared/user-community/images/parseable.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: move parseable to top section
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update adopters page (#367)
  src/components/shared/user-community/images/parseable.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add new external blog posts
  src/posts/2023-08-16-tetragon/index.md
  src/posts/2023-08-16-tetragon/ogimage.png
  src/posts/2023-10-19-cilium-graduation-public-key/index.md
  src/posts/2023-10-19-cilium-graduation-public-key/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: first batch of blogs
  src/posts/2023-10-02-tetragon-tokens/index.md
  src/posts/2023-10-02-tetragon-tokens/ogimage.webp
  src/posts/2023-10-13-newstack-cilium-graduation/index.md
  src/posts/2023-10-13-newstack-cilium-graduation/ogimage.jpeg
  src/posts/2023-10-13-platform-engineering/index.md
  src/posts/2023-10-13-platform-engineering/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2023-09-05-mastering-kubernetes-with-cilium/index.md
  src/posts/2023-09-05-mastering-kubernetes-with-cilium/ogimage.png
  src/posts/2023-10-19-cilium-cell-structure/index.md
  src/posts/2023-10-19-cilium-cell-structure/ogimage.png
  src/posts/2023-10-19-the-future-of-kubernetes/index.md
  src/posts/2023-10-20-migration-du-routage-de-cilium-de-iptables-vers-eBPF-à-chaud/index.md
  src/posts/2023-10-20-migration-du-routage-de-cilium-de-iptables-vers-eBPF-à-chaud/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new maintainer blog
  src/posts/2023-10-24-meet-aditi/Aditi.jpg
  src/posts/2023-10-24-meet-aditi/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: trigger build
  src/posts/2023-10-24-meet-aditi/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add blogs (#368)
  src/posts/2023-08-16-tetragon/index.md
  src/posts/2023-08-16-tetragon/ogimage.png
  src/posts/2023-09-05-mastering-kubernetes-with-cilium/index.md
  src/posts/2023-09-05-mastering-kubernetes-with-cilium/ogimage.png
  src/posts/2023-10-02-tetragon-tokens/index.md
  src/posts/2023-10-02-tetragon-tokens/ogimage.webp
  src/posts/2023-10-13-newstack-cilium-graduation/index.md
  src/posts/2023-10-13-newstack-cilium-graduation/ogimage.jpeg
  src/posts/2023-10-13-platform-engineering/index.md
  src/posts/2023-10-13-platform-engineering/ogimage.jpeg
  src/posts/2023-10-19-cilium-cell-structure/index.md
  src/posts/2023-10-19-cilium-cell-structure/ogimage.png
  src/posts/2023-10-19-cilium-graduation-public-key/index.md
  src/posts/2023-10-19-cilium-graduation-public-key/ogimage.jpeg
  src/posts/2023-10-19-the-future-of-kubernetes/index.md
  src/posts/2023-10-20-migration-du-routage-de-cilium-de-iptables-vers-eBPF-à-chaud/index.md
  src/posts/2023-10-20-migration-du-routage-de-cilium-de-iptables-vers-eBPF-à-chaud/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new maintainer blog (#370)
  src/posts/2023-10-24-meet-aditi/Aditi.jpg
  src/posts/2023-10-24-meet-aditi/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add seo meta-data for industry pages (#369)
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

chore: add new lab
  content/labs/2023-09-29-cilium-big-tcp/cover.png
  content/labs/2023-09-29-cilium-big-tcp/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new lab (#371)
  content/labs/2023-09-29-cilium-big-tcp/cover.png
  content/labs/2023-09-29-cilium-big-tcp/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog and update blog image
  src/posts/2023-10-18-ebpf-tetragon-parseable/index.md
  src/posts/2023-10-18-ebpf-tetragon-parseable/ogimage.png
  src/posts/2023-10-19-the-future-of-kubernetes/index.md
  src/posts/2023-10-19-the-future-of-kubernetes/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog and update blog image (#372)
  src/posts/2023-10-18-ebpf-tetragon-parseable/index.md
  src/posts/2023-10-18-ebpf-tetragon-parseable/ogimage.png
  src/posts/2023-10-19-the-future-of-kubernetes/index.md
  src/posts/2023-10-19-the-future-of-kubernetes/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: link to case study
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

feat: add link to Listing distributions
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

feat: add link to Listing distributions (#374)
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

fix: watch rather than read
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

fix: watch rather than read (#375)
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

chore: add deezer to users list
  src/components/shared/user-community/images/deezer.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: grammar
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

remove trailing period
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add deezer to users list (#377)
  src/components/shared/user-community/images/deezer.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

refactor: legal text
  src/components/pages/brand/legal-box/legal-box.jsx
Due: prettier --write, eslint --cache --fix

chore: add kubecon blog post
  src/posts/2023-10-30-cilium-at-kubecon-na/cover.png
  src/posts/2023-10-30-cilium-at-kubecon-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: hero update
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/hero/images/background.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add brand features component
  src/components/pages/brand/brand-features/brand-features.jsx
  src/components/pages/brand/brand-features/images/full-logo.svg
  src/components/pages/brand/brand-features/images/icon.svg
  src/components/pages/brand/brand-features/index.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
