Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: useDarkMode function to use dark theme
  src/components/pages/events/events-board/filters/dropdown-select/dropdown-select.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

fix: useDarkMode function to use dark theme (#719)
  src/components/pages/events/events-board/filters/dropdown-select/dropdown-select.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

fix: card overflow on adopters route in mobile view (#706)
  src/components/shared/user-community/user-community.jsx
  src/icons/placeholder.inline.svg
Due: prettier --write, eslint --cache --fix

ui: fix css for text visibility in dark mode (#704)
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

fix 404 page colors with respect to dark theme (#696)
  src/pages/404.jsx
Due: prettier --write, eslint --cache --fix

Fix: TopBanner link hover text-color in dark mode (#695)
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

Update SEO metadata
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

added send story form validations
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to telling-story form page
  src/components/pages/telling-story/hero/form/form.jsx
  src/components/pages/telling-story/hero/hero.jsx
  src/components/shared/checkbox/checkbox.jsx
  src/components/shared/field/field.jsx
Due: prettier --write, eslint --cache --fix

improve ui of report-bugs component
  src/components/pages/get-involved/report-bugs/images/illustration.svg
  src/components/pages/get-involved/report-bugs/report-bugs.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to telling-story form page (#722)
  src/components/pages/telling-story/hero/form/form.jsx
  src/components/pages/telling-story/hero/hero.jsx
  src/components/shared/checkbox/checkbox.jsx
  src/components/shared/field/field.jsx
Due: prettier --write, eslint --cache --fix

added send story form validations (#721)
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

improve newsletter link background styles
  src/components/pages/newsletter/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

feat: add SEO metadata for core pages
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

feat: implement debounced loader animation on blog search
  src/components/shared/search/loadingSpinner.jsx
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

feat: add community calendar integration to get-involved page
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-involved/calendar-integration/index.jsx
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

fix: link hover in top banner
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

feat: added hover on footer links
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

fix: dark theme tabs hover
  src/components/shared/tabs/tabs.jsx
Due: prettier --write, eslint --cache --fix

fix: dark theme card configuration
  src/components/pages/labs/card/card.jsx
Due: prettier --write, eslint --cache --fix

fix: banner in labs page
  src/components/pages/labs/banner/banner.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: update cards and shadow in dark theme
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/labs/card/card.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add search feature for blog posts
  src/components/pages/blog/posts-board/posts-board.jsx
  src/hooks/use-all-posts-search.js
Due: prettier --write, eslint --cache --fix

fix: improve search functionality
  src/components/pages/blog/posts-board/posts-board.jsx
Due: prettier --write, eslint --cache --fix

improve newsletter link background styles (#727)
  src/components/pages/newsletter/cards/cards.jsx
Due: prettier --write, eslint --cache --fix

fix gatsby-ssr api exports
  gatsby-ssr.js
Due: prettier --write, eslint --cache --fix

ci(utils): refactored ci-yaml
  .github/workflows/lighthouse-ci.yml
  gatsby-config.js
  lighthouserc.js
Due: prettier --write, eslint --cache --fix

fix(utils): resolve build error
  package.json
Due: none

fix(utils): fix merge conflict
  package.json
Due: none

feat: add host firewall blog
  src/posts/2025-08-15-host-firewall-primer/cover.png
  src/posts/2025-08-15-host-firewall-primer/host_bastion_anim.gif
  src/posts/2025-08-15-host-firewall-primer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fix formatting
  src/posts/2025-08-15-host-firewall-primer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fix date on echo blog and linting violations
  src/posts/2025-07-01-themed-echo-playlists/cover.png
  src/posts/2025-07-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add date to tetragon blog
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add dates to devsecops tetragon blog
  src/posts/2025-06-20-eBPF-Tetragon-in-CI-CD-Pipeline/index.md
  src/posts/2025-06-20-eBPF-Tetragon-in-CI-CD-Pipeline/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

House cleaning (#735)
  src/posts/2025-06-20-eBPF-Tetragon-in-CI-CD-Pipeline/index.md
  src/posts/2025-06-20-eBPF-Tetragon-in-CI-CD-Pipeline/ogimage.jpg
  src/posts/2025-07-01-themed-echo-playlists/cover.png
  src/posts/2025-07-01-themed-echo-playlists/index.md
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
  src/posts/2025-07-03-Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Host firewall blog (#734)
  src/posts/2025-08-15-host-firewall-primer/cover.png
  src/posts/2025-08-15-host-firewall-primer/host_bastion_anim.gif
  src/posts/2025-08-15-host-firewall-primer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix(components): fix user community cards
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix: kodekloud logo overflow on enterprise page in mobile view
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

fix(components): fixed hero flicker issue
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix(components): fixed card component in event page
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
