Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add Telefonica to adopters page (#960)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/telefonica.inline.svg
  src/components/shared/user-community/images/telefonica.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add Understanding Kubernetes Networking pillar page
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image4.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image5.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/understanding-kubernetes-networking-cover.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: add Understanding Kubernetes Load balancing pillar page
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/understanding-kubernetes-load-balancing-cover.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update suse.inline.svg
  src/components/shared/user-community/images/suse.inline.svg
Due: none

Update etraveli.inline.svg
  src/components/shared/user-community/images/etraveli.inline.svg
Due: none

Update s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

docs: fix enhanced images
  src/posts/2026-04-25-understanding-kubernetes-networking/images/cilium-cni.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/encapsulation-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/hubble_sw_service_map.webp
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image4.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/image5.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/intra-node-networking.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.svg
  src/posts/2026-04-25-understanding-kubernetes-networking/images/native-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/network-model.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/understanding-kubernetes-networking-cover.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: fix svg to png image
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.svg
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Improve clarity and grammar in networking article
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: enhanced images & added gateway API
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/gateway-api.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image1.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image2.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/image3.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/internal-load-balancing.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/services.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/xdp.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add Understanding Kubernetes Networking pillar page (#961)
  src/posts/2026-04-25-understanding-kubernetes-networking/images/cilium-cni.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/encapsulation-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/hubble_sw_service_map.webp
  src/posts/2026-04-25-understanding-kubernetes-networking/images/intra-node-networking.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/kubernetes-cluster-network.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/native-routing.png
  src/posts/2026-04-25-understanding-kubernetes-networking/images/network-model.png
  src/posts/2026-04-25-understanding-kubernetes-networking/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: add Understanding Kubernetes Load balancing pillar page (#962)
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/gateway-api.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/internal-load-balancing.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/services.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/understanding-kubernetes-load-balancing-cover.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/images/xdp.png
  src/posts/2026-04-25-understanding-kubernetes-load-balancing/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add new blogpost about security in cilium
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/cover.png
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: add new blogpost about security in cilium (#965)
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/cover.png
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

switch featured
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

switch featured (#966)
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
  src/posts/2026-05-06-securing-cicd-open-source-lessons-from-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add mogenius and Clever Cloud to adopters and cloud providers
  src/components/pages/adopters/logos/images/clevercloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/clevercloud.inline.svg
  src/components/shared/user-community/images/clevercloud.inline.svg
  src/components/shared/user-community/images/mogenius.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add mogenius and Clever Cloud to adopters and cloud providers (#964)
  src/components/pages/adopters/logos/images/clevercloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/clevercloud.inline.svg
  src/components/shared/user-community/images/clevercloud.inline.svg
  src/components/shared/user-community/images/mogenius.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

Delete src/components/shared/user-community/images/s3ns.inline.svg
  src/components/shared/user-community/images/s3ns.inline.svg
Due: none

remove s3ns
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

remove s3ns
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
