Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

chore: update adopters and blog page
  src/components/shared/user-community/images/fhnw.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-10-05-sveltos/index.md
  src/posts/2024-10-05-sveltos/ogimage.jpg
  src/posts/2024-10-28-multi-cluster-cilium/index.md
  src/posts/2024-10-28-multi-cluster-cilium/ogimage.png
  src/posts/2024-10-30-cilium-network-policies/index.md
  src/posts/2024-10-30-cilium-network-policies/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters and blog page (#561)
  src/components/shared/user-community/images/fhnw.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-10-05-sveltos/index.md
  src/posts/2024-10-05-sveltos/ogimage.jpg
  src/posts/2024-10-28-multi-cluster-cilium/index.md
  src/posts/2024-10-28-multi-cluster-cilium/ogimage.png
  src/posts/2024-10-30-cilium-network-policies/index.md
  src/posts/2024-10-30-cilium-network-policies/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

make talks blog popular
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

make talks blog popular (#562)
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add icentive.me to adopeters list
  src/components/shared/user-community/images/incentive.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: update incentive logo
  src/components/shared/user-community/images/incentive.inline.svg
Due: none

feat: add incentive.me to adopeters list (#563)
  src/components/shared/user-community/images/incentive.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add jar blog to adopters page
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add jar blog to adopters page (#564)
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add virtuozzo to adopers list
  src/components/shared/user-community/images/virtuozzo.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: fix typo
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: remove trailing period
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add virtuozzo to adopers list (#565)
  src/components/shared/user-community/images/virtuozzo.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add alauda to adopters list
  src/components/shared/user-community/images/alauda.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add alauda to cloud list
  src/components/pages/adopters/logos/images/alauda.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

feat: add alauda to adopters list (#566)
  src/components/pages/adopters/logos/images/alauda.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/alauda.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: link
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add netcloud to adopters list
  src/components/shared/user-community/images/netcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add netcloud to adopters list (#567)
  src/components/shared/user-community/images/netcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add multi tenancy talk to kubecon blog
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add ciliumcon eu 2025
  content/events/2025-04-01-ciliumcon-eu/index.md
  content/events/2025-04-01-ciliumcon-eu/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: make ciliumcon featured event
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2025-04-01-ciliumcon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update content/events/2025-04-01-ciliumcon-eu/index.md
  content/events/2025-04-01-ciliumcon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add ciliumcon eu 2025 (#568)
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2025-04-01-ciliumcon-eu/index.md
  content/events/2025-04-01-ciliumcon-eu/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix lab link
  content/labs/2024-09-26-platform-engineer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix link
  content/labs/2024-09-26-secops-engineer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix lab link (#570)
  content/labs/2024-09-26-platform-engineer/index.md
  content/labs/2024-09-26-secops-engineer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add kubecon na users talk updates
  src/components/shared/user-community/images/confluent.inline.svg
  src/components/shared/user-community/images/ebay.inline.svg
  src/components/shared/user-community/images/reddit.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: correct logo sizing
  src/components/shared/user-community/images/ebay.inline.svg
  src/components/shared/user-community/images/reddit.inline.svg
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add sony talk to adopter list
  src/components/shared/user-community/images/sony.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Kubecon na updates (#571)
  src/components/shared/user-community/images/confluent.inline.svg
  src/components/shared/user-community/images/ebay.inline.svg
  src/components/shared/user-community/images/reddit.inline.svg
  src/components/shared/user-community/images/sony.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add cncf multi survey insight to multi cluster testimonial
  src/icons/cncf.inline.svg
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

fix: update wording
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

feat: add usecase host firewall
  src/components/pages/home/highlights/highlights.jsx
  src/images/pages/usecase/hostfirewall-1.gif
  src/images/pages/usecase/networking-bee.png
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/host-firewall.jsx
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix
