Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new updates (#505)
  src/components/shared/user-community/images/aenix.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-05-23-istio-to-cilium/index.md
  src/posts/2024-05-23-istio-to-cilium/ogimage.png
  src/posts/2024-05-23-tetragon-process-lifecycle-observation/index.md
  src/posts/2024-05-23-tetragon-process-lifecycle-observation/ogimage.webp
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#507)
  src/posts/2024-05-28-cilum-grafana/index.md
  src/posts/2024-05-28-cilum-grafana/ogimage.png
  src/posts/2024-05-28-cluster-mesh-aks/index.md
  src/posts/2024-05-28-cluster-mesh-aks/ogimage.png
  src/posts/2024-05-29-k8s-networking-for-network-engineers/index.md
  src/posts/2024-05-29-k8s-networking-for-network-engineers/ogimage.jpg
  src/posts/2024-06-03-cloud-native-security-liz-rice/index.md
  src/posts/2024-06-03-cloud-native-security-liz-rice/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add links, cover image
  src/posts/2024-05-30-what-good-governance-look-like/index.md
  src/posts/2024-05-30-what-good-governance-look-like/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-05-30-what-good-governance-look-like/index.md
  src/posts/2024-05-30-what-good-governance-look-like/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add new blog post - 'What Good Governance Looks Like (My Experience as an LFX Mentee for Cilium)' (#506)
  src/posts/2024-05-30-what-good-governance-look-like/index.md
  src/posts/2024-05-30-what-good-governance-look-like/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs
  src/posts/2024-05-21-aks-networking/index.md
  src/posts/2024-05-21-aks-networking/ogimage.webp
  src/posts/2024-06-06-511-clusters-with-cluster-mesh/index.md
  src/posts/2024-06-06-511-clusters-with-cluster-mesh/ogimage.webp
  src/posts/2024-06-06-aks-cilium/index.md
  src/posts/2024-06-06-aks-cilium/ogimage.webp
  src/posts/2024-06-06-cilium-egress-gateway/index.md
  src/posts/2024-06-06-cilium-egress-gateway/ogimage.webp
  src/posts/2024-06-08-eks-anywhere-cilium/index.md
  src/posts/2024-06-08-eks-anywhere-cilium/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#508)
  src/posts/2024-05-21-aks-networking/index.md
  src/posts/2024-05-21-aks-networking/ogimage.webp
  src/posts/2024-06-06-511-clusters-with-cluster-mesh/index.md
  src/posts/2024-06-06-511-clusters-with-cluster-mesh/ogimage.webp
  src/posts/2024-06-06-aks-cilium/index.md
  src/posts/2024-06-06-aks-cilium/ogimage.webp
  src/posts/2024-06-06-cilium-egress-gateway/index.md
  src/posts/2024-06-06-cilium-egress-gateway/ogimage.webp
  src/posts/2024-06-08-eks-anywhere-cilium/index.md
  src/posts/2024-06-08-eks-anywhere-cilium/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs
  src/posts/2024-06-10-k8s-on-a-shostring/index.md
  src/posts/2024-06-10-k8s-on-a-shostring/ogimage.webp
  src/posts/2024-06-16-k8s-cluster-tetragon/index.md
  src/posts/2024-06-16-k8s-cluster-tetragon/ogimage.png
  src/posts/2024-06-17-cloud-native-networking-qith-cilium/index.md
  src/posts/2024-06-17-cloud-native-networking-qith-cilium/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#509)
  src/posts/2024-06-10-k8s-on-a-shostring/index.md
  src/posts/2024-06-10-k8s-on-a-shostring/ogimage.webp
  src/posts/2024-06-16-k8s-cluster-tetragon/index.md
  src/posts/2024-06-16-k8s-cluster-tetragon/ogimage.png
  src/posts/2024-06-17-cloud-native-networking-qith-cilium/index.md
  src/posts/2024-06-17-cloud-native-networking-qith-cilium/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: updates to site
  src/components/shared/user-community/images/linkpool.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/financial-services.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: updates
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/nemlig.inline.svg
  src/components/shared/user-community/images/nemlig.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/cloud-providers/DigitalOceanOffice.png
  src/images/pages/industries/e-commerce/nemlig.png
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add DO to network policy page
  src/icons/digitalocean.inline.svg
  src/pages/use-cases/network-policy.jsx
Due: prettier --write, eslint --cache --fix

chore: nit fixes
  src/pages/industries/e-commerce.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: updates to site (#510)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/nemlig.inline.svg
  src/components/shared/user-community/images/linkpool.inline.svg
  src/components/shared/user-community/images/nemlig.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/digitalocean.inline.svg
  src/images/pages/industries/cloud-providers/DigitalOceanOffice.png
  src/images/pages/industries/e-commerce/nemlig.png
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/network-policy.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add cilium + ebpf day
  content/events/2024-03-19-ebpf-cilium-day/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: nit fix
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add cilium + ebpf day (#511)
  content/events/2024-03-19-ebpf-cilium-day/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
  content/events/2024-11-12-cilium-ebpf-day-na/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs
  src/posts/2024-06-21-cilium/index.md
  src/posts/2024-06-21-cilium/ogimage.webp
  src/posts/2024-06-24-cilium-multicast/index.md
  src/posts/2024-06-24-cilium-multicast/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix title
  src/posts/2024-06-21-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#513)
  src/posts/2024-06-21-cilium/index.md
  src/posts/2024-06-21-cilium/ogimage.webp
  src/posts/2024-06-24-cilium-multicast/index.md
  src/posts/2024-06-24-cilium-multicast/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-06-04-kubeedge-cilium/index.md
  src/posts/2024-06-04-kubeedge-cilium/ogimage.png
  src/posts/2024-06-29-cilium-cert-manager/index.md
  src/posts/2024-06-29-cilium-cert-manager/ogimage.webp
  src/posts/2024-06-30-cilium-bare-metal/index.md
  src/posts/2024-06-30-cilium-bare-metal/ogimage.webp
  src/posts/2024-07-01-cilium-gke-kube-proxy/index.md
  src/posts/2024-07-01-cilium-gke-kube-proxy/ogimage.webp
  src/posts/2024-07-02-cilium-gateway-api/index.md
  src/posts/2024-07-02-cilium-gateway-api/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: nit
  src/posts/2024-06-04-kubeedge-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#514)
  src/posts/2024-06-04-kubeedge-cilium/index.md
  src/posts/2024-06-04-kubeedge-cilium/ogimage.png
  src/posts/2024-06-29-cilium-cert-manager/index.md
  src/posts/2024-06-29-cilium-cert-manager/ogimage.webp
  src/posts/2024-06-30-cilium-bare-metal/index.md
  src/posts/2024-06-30-cilium-bare-metal/ogimage.webp
  src/posts/2024-07-01-cilium-gke-kube-proxy/index.md
  src/posts/2024-07-01-cilium-gke-kube-proxy/ogimage.webp
  src/posts/2024-07-02-cilium-gateway-api/index.md
  src/posts/2024-07-02-cilium-gateway-api/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: blog and adopters pages update
  src/posts/2024-07-07-clium-on-eks/index.md
  src/posts/2024-07-07-clium-on-eks/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: blog and adopters pages update (#515)
  src/posts/2024-07-07-clium-on-eks/index.md
  src/posts/2024-07-07-clium-on-eks/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add png versions to zip with logos
  static/data/cilium-logos.zip
  static/data/hubble-logos.zip
  static/data/tetragon-logos.zip
Due: none

feat: add png versions to zip with logos (#516)
  static/data/cilium-logos.zip
  static/data/hubble-logos.zip
  static/data/tetragon-logos.zip
Due: none

chore: update adopters page
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: link
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters page (#517)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2024-07-07-talos-cilium/index.md
  src/posts/2024-07-07-talos-cilium/ogimage.webp
  src/posts/2024-07-09-cilium-bgp/index.md
  src/posts/2024-07-09-cilium-bgp/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#518)
  src/posts/2024-07-07-talos-cilium/index.md
  src/posts/2024-07-07-talos-cilium/ogimage.webp
  src/posts/2024-07-09-cilium-bgp/index.md
  src/posts/2024-07-09-cilium-bgp/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2024-07-11-cilium-netkit/index.md
  src/posts/2024-07-11-cilium-netkit/ogimage.webp
  src/posts/2024-07-14-cilium-eks/index.md
  src/posts/2024-07-14-cilium-eks/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add multicast usecase
  src/components/pages/home/highlights/highlights.jsx
  src/icons/highlights/multicast.inline.svg
  src/images/pages/usecase/captain-bee.png
  src/images/pages/usecase/multicast-1.webp
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

chore: add bitnami to adopters
  src/components/shared/user-community/images/bitnami.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: adds multicats usecase
  src/images/pages/usecase/multicast-2.png
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

feat: adds multicats usecase
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

Move from Heroku to direct link
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
  src/pages/get-involved.jsx
  src/posts/02-06-2017-cilium-v09-released-hello-kubernetes/index.md
  src/posts/17-04-2018-why-is-the-kernel-community-replacing-iptables/index.md
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2018-12-10-cilium-14-preview/index.md
  src/posts/2019-02-12-cilium-14/index.md
  src/posts/2019-03-18-clustermesh/index.md
  src/posts/2019-04-29-cilium-15/index.md
  src/posts/2019-05-03-cilium-user-survey-march-2019/index.md
  src/posts/2019-08-20-cilium-16/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-06-22-cilium-18/index.md
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2020-11-10-cilium-19/index.md
  src/posts/2021-05-20-cilium-110/index.md
  src/posts/2021-10-13-cilium-joins-cncf/index.md
  src/posts/2021-10-25-weekly-installfest/index.md
  src/posts/2022-10-27-cilium-graduation/index.md
  src/posts/2023-02-08-pwru/index.md
  src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-10-24-meet-aditi/index.md
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
  src/posts/24-04-2018-cilium-10/index.md
  src/posts/30-09-2017-cilium-v010-and-v011-released-double-the-fun-two-updates-in-one/index.md
  src/posts/30-11-2017-cilium-now-supports-kafka/index.md
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Move from Heroku to direct link (#524)
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/pages/get-help.jsx
  src/pages/get-involved.jsx
  src/posts/02-06-2017-cilium-v09-released-hello-kubernetes/index.md
  src/posts/17-04-2018-why-is-the-kernel-community-replacing-iptables/index.md
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2018-12-10-cilium-14-preview/index.md
  src/posts/2019-02-12-cilium-14/index.md
  src/posts/2019-03-18-clustermesh/index.md
  src/posts/2019-04-29-cilium-15/index.md
  src/posts/2019-05-03-cilium-user-survey-march-2019/index.md
  src/posts/2019-08-20-cilium-16/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-06-22-cilium-18/index.md
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2020-11-10-cilium-19/index.md
  src/posts/2021-05-20-cilium-110/index.md
  src/posts/2021-10-13-cilium-joins-cncf/index.md
  src/posts/2021-10-25-weekly-installfest/index.md
  src/posts/2022-10-27-cilium-graduation/index.md
  src/posts/2023-02-08-pwru/index.md
  src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-10-24-meet-aditi/index.md
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
  src/posts/24-04-2018-cilium-10/index.md
  src/posts/30-09-2017-cilium-v010-and-v011-released-double-the-fun-two-updates-in-one/index.md
  src/posts/30-11-2017-cilium-now-supports-kafka/index.md
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore
