Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

style: remove trailing whitespace in smoothScroll
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

perf(utils): optimize Gatsby GraphQL queries and add safety checks
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

Add Bedrock to adopters page
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: replace Bedrock logo with official SVG without padding
  src/components/shared/user-community/images/bedrock.inline.svg
Due: none

fix: logo justified left
  src/components/shared/user-community/images/bedrock.inline.svg
Due: none

remove trail period
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add Bedrock to adopters page (#920)
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: redesign home page case studies grid
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

feat: add inviter component
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/index.jsx
  src/styles/global.css
Due: prettier --write, eslint --cache --fix

fix: adjust logo sizes and list order
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

fix: update case study links for Google, NYT, Adobe and Trip.com
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add keynote info
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: reorder case study links to prioritize new URLs
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: redesign home page case studies grid (#927)
  src/components/shared/user-community/images/dbschenker.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/index.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add blog: Uncovering Pod-to-Pod Traffic using Cilium and Hubble
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add blog: Uncovering Pod-to-Pod Traffic in Kubernetes Using Cilium and Hubble (#929)
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Fix blog structure: move to folder format and add ogImage
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Fix blog structure: move to folder format and add ogImage
  src/posts/2026-02-18-cilium-hubble-pod-traffic.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update blog: add ogImage and Community category for Hubble blog (#930)
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Fix category name in recently-added blog post
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Fix category name in recently-added blog post (#931)
  src/posts/02-18-2026-uncovering-pod-to-pod-traffic/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: improve accessibility for hash anchor links (#895)
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

chore: remove redundant accessibility setting from slider
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

chore: remove redundant accessibility setting from slider (#882)
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

fix: add missing noopener to rel attributes in legal-box
  src/components/pages/brand/legal-box/legal-box.jsx
Due: prettier --write, eslint --cache --fix

fix: add missing noopener to rel attributes in legal-box (#932)
  src/components/pages/brand/legal-box/legal-box.jsx
Due: prettier --write, eslint --cache --fix

chore: retrigger netlify build
  gatsby-config.js
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

fix(components): stabilize Swiper navigation and keys in slider
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

perf(utils): remove hardcoded limits and add null-safe category filtering
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix: improve event card border contrast on events page
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

fix: improve event card border contrast on events page (#934)
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

adopters: replace placeholder logo with IKEA branding
  src/components/shared/user-community/images/ikea.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: use inviter slack link
  src/components/shared/header/header.jsx
  src/pages/get-involved.jsx
Due: prettier --write, eslint --cache --fix

fix: address review comments for dark mode PR
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

add external blog
  src/posts/cilium-on-rk2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/cilium-on-rk2/ogimage.png
Due: none

Update index.md
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add external blog & kubecon keynote info (#938)
  src/posts/2026-01-23-cilium-at-kubecon-eu-26/index.md
  src/posts/cilium-on-rk2/index.md
  src/posts/cilium-on-rk2/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Initial draft for mTLS encryption annoucement and deep dive architecture
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
