Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

chore: add new blogs
  src/posts/2024-08-16-incident-management-cilium/index.md
  src/posts/2024-08-16-incident-management-cilium/ogimage.webp
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-08-21-opentofu-cilium/ogimage.jpg
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/cover.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/dns.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/http.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/policy-verdict.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#546)
  src/posts/2024-08-16-incident-management-cilium/index.md
  src/posts/2024-08-16-incident-management-cilium/ogimage.webp
  src/posts/2024-08-21-opentofu-cilium/index.md
  src/posts/2024-08-21-opentofu-cilium/ogimage.jpg
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/cover.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/dns.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/http.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/images/policy-verdict.png
  src/posts/2024-08-27-hubble-for-network-security-and-observability-part-3/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add seatgeek, qpoint and cloutomate to adopters page
  src/components/shared/user-community/images/cloutomate.inline.svg
  src/components/shared/user-community/images/qpoint.inline.svg
  src/components/shared/user-community/images/seatgeek.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: update vertical edge computing content
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-roche.inline.svg
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

fix: change illustrations
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add seatgeek, qpoint and cloutomate to adopters page (#547)
  src/components/shared/user-community/images/cloutomate.inline.svg
  src/components/shared/user-community/images/qpoint.inline.svg
  src/components/shared/user-community/images/seatgeek.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/edge-computing.jsx
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

Vertical edge computing (#536)
  package-lock.json
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-kubeedge.inline.svg
  src/icons/logo-roche.inline.svg
  src/images/pages/industries/edge-computing/edge-1.webp
  src/images/pages/industries/edge-computing/edge-2.webp
  src/images/pages/industries/edge-computing/edge-3.webp
  src/images/pages/industries/edge-computing/multinetwork-bee.png
  src/images/pages/industries/edge-computing/router-bee.png
  src/layouts/main/main.jsx
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

chore: new addition to adopters page
  src/components/shared/user-community/images/nutanix.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new addition to adopters page (#548)
  src/components/shared/user-community/images/nutanix.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add blog
  src/posts/2024-08-30-ciliumcluster-mesh/index.md
  src/posts/2024-08-30-ciliumcluster-mesh/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog
  src/posts/2024-09-08-uderstanding-ebpf/index.md
  src/posts/2024-09-08-uderstanding-ebpf/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add blog (#549)
  src/posts/2024-08-30-ciliumcluster-mesh/index.md
  src/posts/2024-08-30-ciliumcluster-mesh/ogimage.webp
  src/posts/2024-09-08-uderstanding-ebpf/index.md
  src/posts/2024-09-08-uderstanding-ebpf/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: event cards cover
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

fix: event cards cover (#550)
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix

Remove Twitter cards from homepage
  src/components/pages/home/twitter-cards/index.js
  src/components/pages/home/twitter-cards/twitter-cards.jsx
Due: prettier --write, eslint --cache --fix

remove from homepage
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

Remove Twitter cards from homepage (#551)
  src/components/pages/home/twitter-cards/index.js
  src/components/pages/home/twitter-cards/twitter-cards.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

chore: new blogs
  src/posts/2024-09-15-tetragon/index.md
  src/posts/2024-09-15-tetragon/ogimage.webp
  src/posts/2024-09-17-sidecar-to-cilium/index.md
  src/posts/2024-09-17-sidecar-to-cilium/ogimage.webp
  src/posts/2024-09-19-acns/index.md
  src/posts/2024-09-19-acns/ogimage.webp
  src/posts/2024-09-19-flannel-to-cilium/index.md
  src/posts/2024-09-19-flannel-to-cilium/ogimage.webp
  src/posts/2024-09-21-k8s-networking/index.md
  src/posts/2024-09-21-k8s-networking/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new blogs (#553)
  src/posts/2024-09-15-tetragon/index.md
  src/posts/2024-09-15-tetragon/ogimage.webp
  src/posts/2024-09-17-sidecar-to-cilium/index.md
  src/posts/2024-09-17-sidecar-to-cilium/ogimage.webp
  src/posts/2024-09-19-acns/index.md
  src/posts/2024-09-19-acns/ogimage.webp
  src/posts/2024-09-19-flannel-to-cilium/index.md
  src/posts/2024-09-19-flannel-to-cilium/ogimage.webp
  src/posts/2024-09-21-k8s-networking/index.md
  src/posts/2024-09-21-k8s-networking/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog and adopters
  src/components/shared/user-community/images/icos.inline.svg
  src/components/shared/user-community/images/jar.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-08-icos-project/index.md
  src/posts/2024-08-icos-project/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: fixes
  src/posts/2024-08-icos-project/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: update blog and adopters (#554)
  src/components/shared/user-community/images/icos.inline.svg
  src/components/shared/user-community/images/jar.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-08-icos-project/index.md
  src/posts/2024-08-icos-project/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add lab card to want to learn more section
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/images/lab.inline.svg
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
Due: prettier --write, eslint --cache --fix

feat: add lab card to community section
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/images/documentation.svg
  src/components/pages/use-cases/join-us-cards/card/images/help.svg
  src/components/pages/use-cases/join-us-cards/card/images/slack-with-back.svg
  src/components/shared/community/community.jsx
  src/images/lab.svg
Due: prettier --write, eslint --cache --fix

feat: add lab card to want to learn more section (#555)
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/images/documentation.svg
  src/components/pages/use-cases/join-us-cards/card/images/help.svg
  src/components/pages/use-cases/join-us-cards/card/images/slack-with-back.svg
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/shared/community/community.jsx
  src/images/lab.svg
Due: prettier --write, eslint --cache --fix

chore: add new labs
  content/labs/2024-09-26-cilium-traffic-optimization/cover.png
  content/labs/2024-09-26-cilium-traffic-optimization/index.md
  content/labs/2024-09-26-cloud-network-engineer/cover.png
  content/labs/2024-09-26-cloud-network-engineer/index.md
  content/labs/2024-09-26-platform-engineer/cover.png
  content/labs/2024-09-26-platform-engineer/index.md
  content/labs/2024-09-26-secops-engineer/cover.png
  content/labs/2024-09-26-secops-engineer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update description
  content/labs/2024-09-26-cilium-traffic-optimization/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new labs (#557)
  content/labs/2024-09-26-cilium-traffic-optimization/cover.png
  content/labs/2024-09-26-cilium-traffic-optimization/index.md
  content/labs/2024-09-26-cloud-network-engineer/cover.png
  content/labs/2024-09-26-cloud-network-engineer/index.md
  content/labs/2024-09-26-platform-engineer/cover.png
  content/labs/2024-09-26-platform-engineer/index.md
  content/labs/2024-09-26-secops-engineer/cover.png
  content/labs/2024-09-26-secops-engineer/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: updates to site
  src/components/shared/user-community/images/scigility.inline.svg
  src/components/shared/user-community/images/syseleven.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-09-19-cilium-star-wars/index.md
  src/posts/2024-09-19-cilium-star-wars/ogimage.png
  src/posts/2024-09-27-k3s-cilium/index.md
  src/posts/2024-09-27-k3s-cilium/ogimage.webp
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/index.md
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/kubeconNA.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: more updates
  src/components/pages/adopters/logos/images/syseleven.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/syseleven.inline.svg
  src/icons/syseleven.inline.svg
  src/images/pages/industries/cloud-providers/syselvenoffice.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/use-cases/cni.jsx
  src/posts/2024-09-24-cilium-xrd/index.md
  src/posts/2024-09-24-cilium-xrd/ogimage.png
  src/posts/2024-10-01-cilium-and-ebpf/index.md
  src/posts/2024-10-01-cilium-and-ebpf/ogimage.webp
  src/posts/2024-10-02-optimizing-enterprise-networks/index.md
  src/posts/2024-10-02-optimizing-enterprise-networks/ogimage.webp
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: updates to site (#558)
  src/components/pages/adopters/logos/images/syseleven.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/syseleven.inline.svg
  src/components/shared/user-community/images/scigility.inline.svg
  src/components/shared/user-community/images/syseleven.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/syseleven.inline.svg
  src/images/pages/industries/cloud-providers/syselvenoffice.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/use-cases/cni.jsx
  src/posts/2024-09-19-cilium-star-wars/index.md
  src/posts/2024-09-19-cilium-star-wars/ogimage.png
  src/posts/2024-09-24-cilium-xrd/index.md
  src/posts/2024-09-24-cilium-xrd/ogimage.png
  src/posts/2024-09-27-k3s-cilium/index.md
  src/posts/2024-09-27-k3s-cilium/ogimage.webp
  src/posts/2024-10-01-cilium-and-ebpf/index.md
  src/posts/2024-10-01-cilium-and-ebpf/ogimage.webp
  src/posts/2024-10-02-optimizing-enterprise-networks/index.md
  src/posts/2024-10-02-optimizing-enterprise-networks/ogimage.webp
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/index.md
  src/posts/2024-10-04-cilium-talks-at-kubecon-na-2024/kubeconNA.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: use correct URL for cilium-ebpf day
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: use correct URL for cilium-ebpf day (#559)
  content/events/2024-11-12-cilium-ebpf-day-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: site update
  src/components/shared/user-community/images/bmc.inline.svg
  src/components/shared/user-community/images/koyeb.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-09-30-cilium-ipv6/index.md
  src/posts/2024-09-30-cilium-ipv6/ogimage.webp
  src/posts/2024-10-04-cilium-bmc-helix/index.md
  src/posts/2024-10-04-cilium-bmc-helix/ogimage.jpeg
  src/posts/2024-10-06-cilium/index.md
  src/posts/2024-10-06-cilium/ogimage.webp
  src/posts/2024-10-10-eks-cilium/index.md
  src/posts/2024-10-10-eks-cilium/ogimage.png
  src/posts/2024-10-11-cilium-calico/index.md
  src/posts/2024-10-11-cilium-calico/ogimage.png
  src/posts/2024-10-11-kubecon-na/index.md
  src/posts/2024-10-11-kubecon-na/ogimage.webp
  src/posts/2024-10-12-cilium-cca/index.md
  src/posts/2024-10-12-cilium-cca/ogimage.webp
  src/posts/2024-10-15-cilium-bgp/index.md
  src/posts/2024-10-15-cilium-bgp/ogimage.png
  src/posts/2024-10-15-cilium-cca-creator/index.md
  src/posts/2024-10-15-cilium-cca-creator/ogimage.jpg
  src/posts/2024-10-16-aks-cilium/index.md
  src/posts/2024-10-16-aks-cilium/ogimage.png
  src/posts/2024-10-16-debug-cilium-tofqdn/index.md
  src/posts/2024-10-16-debug-cilium-tofqdn/ogimage.webp
  src/posts/2024-10-17-511-clusters-with-cluster-mesh/index.md
  src/posts/2024-10-17-511-clusters-with-cluster-mesh/ogimage.webp
  src/posts/2024-10-17-cilium-network-policies/index.md
  src/posts/2024-10-17-cilium-network-policies/ogimage.png
  src/posts/2024-10-22-cilium-cluster-mesh-aks/index.md
  src/posts/2024-10-22-cilium-cluster-mesh-aks/ogimage.jpg
  src/posts/2024-10-24-cilium-wihout-kube-proxy/index.md
  src/posts/2024-10-24-cilium-wihout-kube-proxy/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix url
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: site update (#560)
  src/components/shared/user-community/images/bmc.inline.svg
  src/components/shared/user-community/images/koyeb.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/posts/2024-09-30-cilium-ipv6/index.md
  src/posts/2024-09-30-cilium-ipv6/ogimage.webp
  src/posts/2024-10-04-cilium-bmc-helix/index.md
  src/posts/2024-10-04-cilium-bmc-helix/ogimage.jpeg
  src/posts/2024-10-06-cilium/index.md
  src/posts/2024-10-06-cilium/ogimage.webp
  src/posts/2024-10-10-eks-cilium/index.md
  src/posts/2024-10-10-eks-cilium/ogimage.png
  src/posts/2024-10-11-cilium-calico/index.md
  src/posts/2024-10-11-cilium-calico/ogimage.png
  src/posts/2024-10-11-kubecon-na/index.md
  src/posts/2024-10-11-kubecon-na/ogimage.webp
  src/posts/2024-10-12-cilium-cca/index.md
  src/posts/2024-10-12-cilium-cca/ogimage.webp
  src/posts/2024-10-15-cilium-bgp/index.md
  src/posts/2024-10-15-cilium-bgp/ogimage.png
  src/posts/2024-10-15-cilium-cca-creator/index.md
  src/posts/2024-10-15-cilium-cca-creator/ogimage.jpg
  src/posts/2024-10-16-aks-cilium/index.md
  src/posts/2024-10-16-aks-cilium/ogimage.png
  src/posts/2024-10-16-debug-cilium-tofqdn/index.md
  src/posts/2024-10-16-debug-cilium-tofqdn/ogimage.webp
  src/posts/2024-10-17-511-clusters-with-cluster-mesh/index.md
  src/posts/2024-10-17-511-clusters-with-cluster-mesh/ogimage.webp
  src/posts/2024-10-17-cilium-network-policies/index.md
  src/posts/2024-10-17-cilium-network-policies/ogimage.png
  src/posts/2024-10-22-cilium-cluster-mesh-aks/index.md
  src/posts/2024-10-22-cilium-cluster-mesh-aks/ogimage.jpg
  src/posts/2024-10-24-cilium-wihout-kube-proxy/index.md
  src/posts/2024-10-24-cilium-wihout-kube-proxy/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore
