Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

add blog post and image
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/ogimage.png
  src/posts/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Peacesandy enhanceseo component (#791)
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat: added Cloudera & UW-Madison to adopter page and changed command for low power laptops
  README.md
  src/components/pages/adopters/logos/images/cloudera.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/cloudera.inline.svg
  src/components/shared/user-community/images/uwmadison.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: optimizing the blogpost
  src/posts/02-04-2018-cilium-rc9-code-freeze/index.md
  src/posts/02-05-2017-bpf-updates-01/index.md
  src/posts/02-06-2017-bpf-updates-05/index.md
  src/posts/02-06-2017-cilium-v09-released-hello-kubernetes/index.md
  src/posts/03-05-2017-why-we-love-the-packetnet-cloud-for-cicd/index.md
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/06-12-2017-cilium-now-speaks-grpc/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: improve meta descriptions with relevant keywords and use structured heading hierarchy
  src/posts/10-07-2017-bpf-updates-08/index.md
  src/posts/18-09-2017-bpf-updates-11/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/25-10-2017-bpf-updates-12/index.md
  src/posts/29-08-2017-bpf-updates-10/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: removed cloudera from preferred cloud section
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

remove extra logo
  src/components/pages/adopters/logos/images/cloudera.inline.svg
Due: none

fix capitalization and grammar
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: added Cloudera & UW-Madison to adopter page and changed command for low power laptops (#797)
  README.md
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/cloudera.inline.svg
  src/components/shared/user-community/images/uwmadison.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

remove extra file
  src/posts/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add external blog post (#795)
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-09-18-meet-vlad/index.md
  src/posts/2023-09-18-meet-vlad/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2022-05-10-kubecon-eu-talks/index.md
  src/posts/2022-05-10-kubecon-eu-talks/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2018-09-26-cilium-with-ubuntu1804/index.md
  src/posts/2018-09-26-cilium-with-ubuntu1804/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2019-06-24-bpf-copyright/index.md
  src/posts/2019-06-24-bpf-copyright/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-02-18-cilium-17/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2020-11-10-ebpf-future-of-networking/index.md
  src/posts/2020-11-10-ebpf-future-of-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2021-01-29-cilium-bgp-f5/index.md
  src/posts/2021-01-29-cilium-bgp-f5/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: address comments and feedback on PR
  src/posts/03-05-2017-why-we-love-the-packetnet-cloud-for-cicd/index.md
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2020-02-18-cilium-17/index.md
  src/posts/2020-11-10-ebpf-future-of-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix tag
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: category filter on blog page
  src/components/pages/blog/posts-board/posts-board.jsx
  src/posts/05-05-2017-demo-may-the-fourth-be-with-you/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/18-09-2017-bpf-updates-11/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add authors to blog post and improve meta description on outcome page
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

chore: trigger new Netlify build
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

chore: trying to redeploy
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

fix: Make external URL for external blog post work
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: Make external URL for external blog post work (#801)
  src/posts/2025-10-07-Cilium-Network-Policies-from-first-principles-to-production/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/pages/outcomes/cost-and-carbon-savings.jsx
  src/pages/outcomes/cost-and-carbon-savings.jsx
Due: prettier --write, eslint --cache --fix

Update src/posts/2020-12-11-kube-proxy-free-cve-mitigation/index.md
  src/posts/2020-12-11-kube-proxy-free-cve-mitigation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2022-11-30-gsod/index.md
  src/posts/2022-11-30-gsod/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-04-03-eu-talks/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-07-06-eks-byonci-overlay-install/index.md
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
  src/posts/2025-08-20-cillium-at-kubecon-na-2025/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/25-10-2017-bpf-updates-12/index.md
  src/posts/25-10-2017-bpf-updates-12/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/25-05-2017-bpf-updates-04/index.md
  src/posts/25-05-2017-bpf-updates-04/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/29-08-2017-bpf-updates-10/index.md
  src/posts/29-08-2017-bpf-updates-10/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
