Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: allow breaks
  src/components/pages/use-cases/hero/hero.jsx
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

Multicast usecase (#521)
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/use-cases/hero/hero.jsx
  src/icons/highlights/multicast.inline.svg
  src/images/pages/usecase/captain-bee.png
  src/images/pages/usecase/multicast-1.webp
  src/images/pages/usecase/multicast-2.png
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

fix: update multicast hero content
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

feat: add edge computing industry vertical
  src/images/pages/industries/edge-computing/router-bee.png
  src/layouts/main/main.jsx
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/multicast.jsx
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

fix: update edge vertical content
  package-lock.json
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-kubeedge.inline.svg
  src/images/pages/industries/edge-computing/edge-1.webp
  src/images/pages/industries/edge-computing/edge-2.webp
  src/images/pages/industries/edge-computing/edge-3.webp
  src/images/pages/industries/edge-computing/multinetwork-bee.png
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

feat: include GAMMA in gateway api page
  src/pages/use-cases/gateway-api.jsx
Due: prettier --write, eslint --cache --fix

fix: update multicast hero content (#535)
  src/pages/use-cases/multicast.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/gateway-api.jsx
Due: prettier --write, eslint --cache --fix

chore: add part 1 of hubble blog post
  src/posts/2024-08-14-hubble-for-network-security/cover.png
  src/posts/2024-08-14-hubble-for-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-10-sveltos-templating/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix
  src/posts/2024-08-10-sveltos-templating/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add alibaba case study to site
  src/images/pages/industries/cloud-providers/alibabacloud-office.jpg
  src/pages/industries/cloud-providers.jsx
  src/pages/use-cases/cni.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/edge-computing.jsx
  src/pages/industries/edge-computing.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blog (#539)
  src/posts/2024-08-10-sveltos-templating/index.md
  src/posts/2024-08-10-sveltos-templating/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add part 1 of hubble blog post (#538)
  src/posts/2024-08-14-hubble-for-network-security/cover.png
  src/posts/2024-08-14-hubble-for-network-security/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix grammar
  src/pages/industries/cloud-providers.jsx
  src/pages/use-cases/cni.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add alibaba case study to site (#540)
  src/images/pages/industries/cloud-providers/alibabacloud-office.jpg
  src/pages/industries/cloud-providers.jsx
  src/pages/use-cases/cni.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: include GAMMA in gateway api page (#537)
  src/pages/use-cases/gateway-api.jsx
Due: prettier --write, eslint --cache --fix

chore: fix links and description
  src/posts/2024-08-10-sveltos-templating/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: update community links
  src/components/shared/community/community.jsx
  src/icons/linkedin-square.inline.svg
  src/icons/twitter.inline.svg
Due: prettier --write, eslint --cache --fix

fix: update line height
  src/components/shared/community/community.jsx
Due: prettier --write, eslint --cache --fix

fix: community layout and spacing
  src/components/shared/community/community.jsx
Due: prettier --write, eslint --cache --fix

fix: icons and spacing for community links
  src/components/shared/community/community.jsx
  src/images/pages/home/community/github.svg
  src/images/pages/home/community/linkedin.svg
  src/images/pages/home/community/slack.svg
  src/images/pages/home/community/x.svg
  src/images/pages/home/community/youtube.svg
Due: prettier --write, eslint --cache --fix

chore: fix links and description (#541)
  src/posts/2024-08-10-sveltos-templating/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add part 2
  src/posts/2024-08-19-hubble-for-network-security-p2/cover.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/deathstar.gif
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-columns.gif
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-observe-deathstar.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-ui.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/protocol-visibility.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/service-map.png
  src/posts/2024-08-19-hubble-for-network-security-p2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add part 2 (#543)
  src/posts/2024-08-19-hubble-for-network-security-p2/cover.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/deathstar.gif
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-columns.gif
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-observe-deathstar.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/hubble-ui.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/protocol-visibility.png
  src/posts/2024-08-19-hubble-for-network-security-p2/images/service-map.png
  src/posts/2024-08-19-hubble-for-network-security-p2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add part 1 link
  src/posts/2024-08-19-hubble-for-network-security-p2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add part 1 link (#544)
  src/posts/2024-08-19-hubble-for-network-security-p2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: move social icons to appropriate folder
  src/images/social/github.svg
  src/images/social/linkedin.svg
  src/images/social/slack.svg
  src/images/social/x.svg
  src/images/social/youtube.svg
Due: none

fix: text and icons path
  src/components/shared/community/community.jsx
Due: prettier --write, eslint --cache --fix

feat: update community links (#542)
  src/components/shared/community/community.jsx
  src/icons/twitter.inline.svg
  src/images/social/github.svg
  src/images/social/linkedin.svg
  src/images/social/slack.svg
  src/images/social/x.svg
  src/images/social/youtube.svg
Due: prettier --write, eslint --cache --fix

chore: update blog
  src/posts/2024-08-10-sveltos-templating/ogimage.jpg
  src/posts/2024-08-15-tetragon-top-use-cases-2/index.md
  src/posts/2024-08-15-tetragon-top-use-cases-2/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update image
  src/posts/2024-08-15-tetragon-top-use-cases-2/ogimage.webp
Due: none

fix date
  src/posts/2024-08-15-tetragon-top-use-cases-2/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update blog (#545)
  src/posts/2024-07-31-tetragon-top-use-cases/index.md
  src/posts/2024-08-10-sveltos-templating/ogimage.jpg
  src/posts/2024-08-15-tetragon-top-use-cases-2/index.md
  src/posts/2024-08-15-tetragon-top-use-cases-2/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
