Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: fix hero and logo component styling
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/hero/hero.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/et888.svg
  src/pages/industries/images/logos/form3.svg
  src/pages/industries/images/logos/jumo.svg
  src/pages/industries/images/logos/qwist.svg
Due: prettier --write, eslint --cache --fix

chore: remove demo item page
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/pages/industries/item.jsx
Due: prettier --write, eslint --cache --fix

chore: updates
  src/pages/get-started.jsx
  src/posts/2023-09-25-datadog-cilium/index.md
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: add image
  src/posts/2023-09-25-datadog-cilium/ogimage.png
Due: none

chore: fix
  src/posts/2023-09-25-datadog-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Updates to site (#352)
  content/events/2023-10-05-enhancing-security-with-mutual-tls/index.md
  content/events/2023-10-05-enhancing-security-with-mutual-tls/ogimage.jpg
  src/posts/2023-09-17-gateway-api/index.md
  src/posts/2023-09-17-gateway-api/ogimage.png
  src/posts/2023-09-25-datadog-cilium/index.md
  src/posts/2023-09-25-datadog-cilium/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: refactor bullect section text into paragraphs
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/radiofrance.svg
  src/pages/industries/images/logos/wildlife.svg
  src/pages/industries/images/logos/yahoo.svg
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/telco-datacenter.jsx
Due: prettier --write, eslint --cache --fix

fix: bullect section text into paragraphs
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: tabs design change
  src/components/pages/blog/posts-board/categories/categories.jsx
  src/components/pages/blog/posts-board/categories/index.js
  src/components/pages/blog/posts-board/pagination/pagination.jsx
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/pages/labs/categories/categories.jsx
  src/components/pages/labs/categories/index.js
  src/components/pages/labs/pagination/pagination.jsx
  src/components/shared/link/link.jsx
  src/components/shared/tabs/index.js
  src/components/shared/tabs/tabs.jsx
  src/templates/labs.jsx
  src/utils/blog-filter-to-slug.js
  src/utils/filter-to-slug.js
  src/utils/labs-filter-to-slug.js
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  src/components/shared/tabs/tabs.jsx
Due: prettier --write, eslint --cache --fix

feat: tabs design change (#354)
  src/components/pages/blog/posts-board/categories/categories.jsx
  src/components/pages/blog/posts-board/categories/index.js
  src/components/pages/blog/posts-board/pagination/pagination.jsx
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/pages/labs/categories/categories.jsx
  src/components/pages/labs/categories/index.js
  src/components/pages/labs/pagination/pagination.jsx
  src/components/shared/link/link.jsx
  src/components/shared/tabs/index.js
  src/components/shared/tabs/tabs.jsx
  src/templates/labs.jsx
  src/utils/blog-filter-to-slug.js
  src/utils/filter-to-slug.js
  src/utils/labs-filter-to-slug.js
Due: prettier --write, eslint --cache --fix

feat: media ad entertainment page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/industries/media-1.webp
  src/images/pages/industries/media-2.png
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/newyorkoffice.jpg
  src/pages/industries/images/newyorkoffice.png
  src/pages/industries/images/skyoffice.png
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

fix: fix responsives on mobile view for media ad entertainment page
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: add telco and date center operators page
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-bell.inline.svg
  src/images/pages/industries/astronaut-bee.png
  src/images/pages/industries/bulldozer-bee.png
  src/images/pages/industries/telco-1.webp
  src/images/pages/industries/telco-2.png
  src/images/pages/industries/telco-3.webp
  src/layouts/main/main.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/belloffice.png
  src/pages/industries/images/logos/bell.svg
  src/pages/industries/images/logos/equinix.svg
  src/pages/industries/images/logos/masmovil.svg
  src/pages/industries/telco-datacenter.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

fix: make stats grid number vary
  src/components/pages/industries/stats/stats.jsx
  src/images/pages/industries/travel-bee.png
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

feat: add tetragon page cards
  src/components/pages/industries/cards/CyberSecurityCard.jsx
  src/components/pages/industries/cards/SecurityObservability.jsx
  src/pages/industries/e-commerce.jsx
Due: prettier --write, eslint --cache --fix

feat: add e-commerce page
  src/icons/logo-dbschenker.inline.svg
  src/icons/logo-trendyol.inline.svg
  src/pages/industries/e-commerce.jsx
  src/pages/industries/images/ikeaoffice.png
  src/pages/industries/images/logos/backmarket.svg
  src/pages/industries/images/logos/dbschenker.svg
  src/pages/industries/images/logos/elasticpath.svg
  src/pages/industries/images/logos/overstock.svg
  src/pages/industries/images/logos/tailorbrands.svg
  src/pages/industries/images/logos/trendyol.svg
  src/pages/industries/images/logos/trip.svg
  src/pages/industries/images/logos/uswitch.svg
  src/pages/industries/images/trendyoloffice.png
  src/pages/industries/images/tripoffice.png
Due: prettier --write, eslint --cache --fix

feat: add tetragon section designs and content
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/cards/SecurityObservability.jsx
  src/components/pages/industries/cards/index.js
  src/components/pages/industries/cards/security.jsx
  src/components/pages/industries/cards/tetragon.jsx
  src/images/pages/industries/security-2.png
  src/images/pages/industries/security-3.gif
  src/images/pages/industries/security-bee.png
  src/images/pages/industries/tetragon.png
  src/layouts/main/main.jsx
  src/pages/industries/images/enforcement.inline.svg
  src/pages/industries/images/process.inline.svg
  src/pages/industries/images/runtime.inline.svg
  src/pages/industries/images/tetragon-illustration.png
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

feat: add security pages designs and contents
  src/pages/industries/images/logos/edgeless.svg
  src/pages/industries/images/logos/f5.svg
  src/pages/industries/images/logos/frsca.svg
  src/pages/industries/images/logos/gdata.svg
  src/pages/industries/images/logos/kryptos.svg
  src/pages/industries/images/logos/palantir.svg
  src/pages/industries/images/logos/proton.svg
  src/pages/industries/images/logos/testify.svg
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: security page content corrections
  src/pages/industries/consulting.jsx
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

chore: update adopters page
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters page (#355)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: rewrite telco section one contents
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

fix: revise telco hero content and add telenor logo
  src/pages/industries/images/logos/telenor.svg
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blogs
  src/posts/2023-09-01-it-talks/ogimage.webp
  src/posts/2023-09-18-inspect-network-traffic/index.md
  src/posts/2023-09-18-inspect-network-traffic/ogimage.webp
  src/posts/2023-09-25-cilium-learning-paths/index.md
  src/posts/2023-09-25-cilium-learning-paths/ogimage.webp
  src/posts/2023-09-26-architecting-for-resilience/index.md
  src/posts/2023-09-26-architecting-for-resilience/ogimage.webp
  src/posts/2023-09-29-cilium-a-comprehensive-guide/index.md
  src/posts/2023-09-29-cilium-a-comprehensive-guide/ogimage.jpeg
  src/posts/2023-10-02-kube-proxy-and-cni/index.md
  src/posts/2023-10-02-kube-proxy-and-cni/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add consulting page contents
  src/icons/logo-efficode.inline.svg
  src/images/pages/industries/electrician-bee.png
  src/pages/industries/consulting.jsx
  src/pages/industries/images/eficodeoffice.png
  src/pages/industries/images/logos/ayedo.svg
  src/pages/industries/images/logos/cengn.svg
  src/pages/industries/images/logos/cistec.svg
  src/pages/industries/images/logos/eficode.svg
  src/pages/industries/images/logos/innoq.svg
  src/pages/industries/images/logos/liquid.svg
  src/pages/industries/images/logos/mobilab.svg
  src/pages/industries/images/logos/nine.svg
  src/pages/industries/images/logos/palark.svg
  src/pages/industries/images/logos/schuberg.svg
  src/pages/industries/images/logos/superorbital.svg
  src/pages/industries/images/logos/tietoevry.svg
  src/pages/industries/images/palarkoffice.png
  src/pages/industries/images/tietoevryoffice.png
Due: prettier --write, eslint --cache --fix

chore: fix
  src/posts/2023-09-18-inspect-network-traffic/index.md
  src/posts/2023-09-25-cilium-learning-paths/index.md
  src/posts/2023-09-29-cilium-a-comprehensive-guide/index.md
  src/posts/2023-10-02-kube-proxy-and-cni/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blog
  src/posts/2023-10-02-installing-cilium/index.md
  src/posts/2023-10-02-installing-cilium/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new blogs (#356)
  src/posts/2023-09-01-it-talks/ogimage.webp
  src/posts/2023-09-18-inspect-network-traffic/index.md
  src/posts/2023-09-18-inspect-network-traffic/ogimage.webp
  src/posts/2023-09-25-cilium-learning-paths/index.md
  src/posts/2023-09-25-cilium-learning-paths/ogimage.webp
  src/posts/2023-09-26-architecting-for-resilience/index.md
  src/posts/2023-09-26-architecting-for-resilience/ogimage.webp
  src/posts/2023-09-29-cilium-a-comprehensive-guide/index.md
  src/posts/2023-09-29-cilium-a-comprehensive-guide/ogimage.jpeg
  src/posts/2023-10-02-installing-cilium/index.md
  src/posts/2023-10-02-installing-cilium/ogimage.webp
  src/posts/2023-10-02-kube-proxy-and-cni/index.md
  src/posts/2023-10-02-kube-proxy-and-cni/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add plusserver to adopters page
  src/components/shared/user-community/images/plusserver.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: correct typo with eficode testimonial
  src/icons/logo-googlecloud.inline.svg
  src/icons/logo-hetzner.inline.svg
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/images/eficodeoffice.png
  src/pages/industries/media-entertainment.jsx
  src/pages/industries/security.jsx
  src/pages/industries/telcos-datacenters.jsx
Due: prettier --write, eslint --cache --fix

feat: add cilium's e-commerce features
  src/components/pages/industries/cards/feature.jsx
  src/components/pages/industries/cards/index.js
  src/components/pages/industries/cards/security-feature.jsx
  src/components/pages/industries/cards/security.jsx
  src/components/pages/industries/cards/tetragon.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/images/cloud.svg
  src/pages/industries/images/code.svg
  src/pages/industries/images/db.svg
  src/pages/industries/images/lock.svg
Due: prettier --write, eslint --cache --fix

feat: finish up ecommerce page
  src/components/pages/industries/cards/feature.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/images/logos/elasticpath.svg
  src/pages/industries/images/logos/overstock.svg
  src/pages/industries/images/logos/tailorbrands.svg
  src/pages/industries/images/logos/trip.svg
  src/pages/industries/images/logos/uswitch.svg
Due: prettier --write, eslint --cache --fix

fix: use named exports for cards
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: update security section 2 image
  src/images/pages/industries/security-3.gif
  src/images/pages/industries/security-3.png
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: add mTLS section to security page
  src/images/pages/industries/security-4.png
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

feat: consulting page designs and content
  src/images/pages/industries/consulting-1.png
  src/images/pages/industries/consulting-2.jpg
  src/images/pages/industries/finance-1.png
  src/pages/industries/consulting.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/images/logos/ayedo.svg
  src/pages/industries/images/logos/cengn.svg
  src/pages/industries/images/logos/cistec.svg
  src/pages/industries/images/logos/eficode.svg
  src/pages/industries/images/logos/innoq.svg
  src/pages/industries/images/logos/liquid.svg
  src/pages/industries/images/logos/nine.svg
  src/pages/industries/images/logos/schuberg.svg
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

fix: make adopters logo reponsive on small screens
  src/pages/industries/consulting.jsx
Due: prettier --write, eslint --cache --fix

feat: add software, saas and dbaas page
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-datadog.inline.svg
  src/images/pages/industries/audit-bee.png
  src/images/pages/industries/software-1.png
  src/images/pages/industries/software-2.png
  src/images/pages/industries/software-3.webp
  src/pages/industries/images/ascendoffice.png
  src/pages/industries/images/clickhouseoffice.png
  src/pages/industries/images/logos/adobe.svg
  src/pages/industries/images/logos/arango.svg
  src/pages/industries/images/logos/ascend.svg
  src/pages/industries/images/logos/canonical.svg
  src/pages/industries/images/logos/clickhouse.svg
  src/pages/industries/images/logos/cosmonic.svg
  src/pages/industries/images/logos/datadog.svg
  src/pages/industries/images/logos/gitlab.svg
  src/pages/industries/images/logos/planetscale.svg
  src/pages/industries/security.jsx
  src/pages/industries/software.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
