Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

feat: added multi-cloud connectivity page
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/outcomes/multi-cloud-connectivity/cloud-bee.png
  src/images/pages/outcomes/multi-cloud-connectivity/multi-cloud-1.png
  src/images/pages/outcomes/multi-cloud-connectivity/multi-cloud-2.png
  src/layouts/main/main.jsx
  src/pages/outcomes/multi-cloud-connectivity.jsx
Due: prettier --write, eslint --cache --fix

fix link
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix link (#762)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/outcomes/multi-cloud-connectivity.jsx
  src/pages/outcomes/multi-cloud-connectivity.jsx
Due: prettier --write, eslint --cache --fix

fix: reduced bee size and made text edits
  src/pages/outcomes/multi-cloud-connectivity.jsx
Due: prettier --write, eslint --cache --fix

fix: reduced bee size
  src/pages/outcomes/multi-cloud-connectivity.jsx
Due: prettier --write, eslint --cache --fix

feat: add Outcomes pages to website (Multi-cloud Connectivity) (#761)
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/outcomes/multi-cloud-connectivity/cloud-bee.png
  src/images/pages/outcomes/multi-cloud-connectivity/multi-cloud-1.png
  src/images/pages/outcomes/multi-cloud-connectivity/multi-cloud-2.png
  src/layouts/main/main.jsx
  src/pages/outcomes/multi-cloud-connectivity.jsx
Due: prettier --write, eslint --cache --fix

feat: added tool consolidation page
  src/components/pages/industries/testimonial/testimonial.jsx
  src/images/pages/outcomes/tool-consolidation/tool-bee.png
  src/images/pages/outcomes/tool-consolidation/tool-image-1.png
  src/images/pages/outcomes/tool-consolidation/tool-image-2.webp
  src/layouts/main/main.jsx
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/outcomes/tool-consolidation.jsx
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

fix: consistent casing for blog directories
  src/posts/2025-06-19-eks-eni-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: added syseleven quote
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-syseleven.inline.svg
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

fix: added load balancer and service mesh to solutions
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

feat: add Outcomes pages to website (Tool Consolidation) (#763)
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-syseleven.inline.svg
  src/images/pages/outcomes/tool-consolidation/tool-bee.png
  src/images/pages/outcomes/tool-consolidation/tool-image-1.png
  src/images/pages/outcomes/tool-consolidation/tool-image-2.webp
  src/layouts/main/main.jsx
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

add state of networking blog
  src/posts/2025-07-21-state-of-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2025-07-21-state-of-networking/ogimage.png
Due: none

add state of networking blog (#766)
  src/posts/2025-07-21-state-of-networking/index.md
  src/posts/2025-07-21-state-of-networking/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: adjusted sections after hero section for better experience on outcomes pages
  src/pages/outcomes/cost-and-carbon-savings.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Due: prettier --write, eslint --cache --fix

fix: adjusted sections after hero section for better experience on outcomes pages (#767)
  src/pages/outcomes/cost-and-carbon-savings.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Due: prettier --write, eslint --cache --fix

style: updated usecases section footer to match industries and outcomes for uniformity
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/host-firewall.jsx
  src/pages/use-cases/ingress.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/multicast.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-security.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

style: updated usecases section footer to match industries and outcomes for uniformity (#768)
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/host-firewall.jsx
  src/pages/use-cases/ingress.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/multicast.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-security.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

chore: improve Makefile with env setup, Docker, and dev targets
  Makefile
Due: none

chore: add github actions workflow for automatic pr labeling
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Due: none

fix: remove dead link to Solo training (#753)
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

docs: add Makefile usage commands to README
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: kernel basics blog (squash commits; add DCO)
  src/components/pages/enterprise/training/training.jsx
  src/posts/2025-09-16-kernel-basics-for-tetragon/cover.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
  src/posts/2025-09-16-kernel-basics-for-tetragon/network.png
  src/posts/2025-09-16-kernel-basics-for-tetragon/syscall.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: remove trailing period in blog path
  src/posts/2025-09-16-kernel-basics-for-tetragon/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: updated readme file
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat(components): add custom hover color for blog list links
  src/components/pages/get-started/news/news.jsx
Due: prettier --write, eslint --cache --fix
