Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Usecases (#297)
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/use-cases/cards/join-us-cards.jsx
  src/components/pages/use-cases/video-feature-section.jsx
  src/components/shared/link/link.jsx
  src/images/pages/usecase/cni-3.png
  src/layouts/main/main.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/protocol-visibility.jsx
Due: prettier --write, eslint --cache --fix

add iptables blog
  src/pages/use-cases/kube-proxy.jsx
Due: prettier --write, eslint --cache --fix

add Cilium performance blog
  src/pages/use-cases/cni.jsx
Due: prettier --write, eslint --cache --fix

link event guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adding CiliumCon Chicago
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-11-06-ciliumcon-na/index.md
  content/events/2023-11-06-ciliumcon-na/ogImage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: nav behaviour fix
  src/components/shared/link/link.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

Usecases (#299)
  src/components/shared/link/link.jsx
  src/layouts/main/main.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/kube-proxy.jsx
Due: prettier --write, eslint --cache --fix

link event guidelines to CONTRIBUTING.md (#298)
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Spelling fix in bandwidth optimization use case section title
  src/pages/use-cases/bandwidth-optimization.jsx
Due: prettier --write, eslint --cache --fix

Fix Karsten's surname in linked talks
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/protocol-visibility.jsx
Due: prettier --write, eslint --cache --fix

Small spelling fixes for the new use case pages (#300)
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/protocol-visibility.jsx
Due: prettier --write, eslint --cache --fix

feat: adding comments
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-11-06-ciliumcon-na/index.md
  src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-04-03-eu-talks/ogImage.jpg
  src/posts/2023-04-03-eu-talks/talkseu.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: changing thumbnail images
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-04-18-ciliumcon/ogImage.jpg
  content/events/2023-04-18-ciliumcon/talkseu.jpg
  gatsby-node.js
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-04-03-eu-talks/ogImage.jpg
  src/posts/2023-04-03-eu-talks/talkseu.png
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

shorten to docs
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

reorder
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

add eBPF Summit to events page
  content/events/2023-09-13-ebpf-summit/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add image
  content/events/2023-09-13-ebpf-summit/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  content/events/2023-09-13-ebpf-summit/ogImage.png
Due: none

Create 2023-08-16-Cilium-Workshop
  content/events/2023-08-16-Cilium-Workshop
Due: none

add Cilium Virtual Workshop to events page
  content/events/2023-08-16-Cilium-Virtual-Workshop/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add Cilium Virtual Workshop to events page
  content/events/2023-08-16-Cilium-Virtual-Workshop/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add Cilium Virtual Workshop to events page (#305)
  content/events/2023-08-16-Cilium-Virtual-Workshop/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add external blog post
  src/posts/2023-06-22-azure-cni/index.md
  src/posts/2023-06-22-azure-cni/ogimage.webp
  src/posts/2023-06-22-migrate-cilium/index.md
  src/posts/2023-06-22-migrate-cilium/ogimage.webp
  src/posts/2023-06-26-lost-in-packets/index.md
  src/posts/2023-06-26-lost-in-packets/ogimage.png
  src/posts/2023-06-28-cilium-for-kubernetes/index.md
  src/posts/2023-06-28-cilium-for-kubernetes/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: fix date
  src/posts/2023-06-26-lost-in-packets/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add more docs links to header (#295)
  gatsby-config.js
  src/components/pages/enterprise/training/training.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/mobile-menu/submenu/submenu.jsx
  src/layouts/main/main.jsx
  src/posts/2023-04-18-mesh/index.md
  src/posts/2023-04-20-ciliumcon/index.md
  src/posts/2023-04-27-intro/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add direct routing section
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

direct routing does not always imply same subnet
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add Constellation post
  src/posts/2022-11-03-constellation/header-img.png
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add external blog posts
  src/posts/2023-06-19-aks-cilium/index.md
  src/posts/2023-06-19-aks-cilium/ogimage.jpg
  src/posts/2023-07-03-ama-bill/index.md
  src/posts/2023-07-03-ama-bill/ogimage.jpeg
  src/posts/2023-07-03-cilium-empowering-k8s/index.md
  src/posts/2023-07-03-cilium-empowering-k8s/ogimage.png
  src/posts/2023-07-04-cilium-cni/index.md
  src/posts/2023-07-04-cilium-cni/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix blog errors
  src/posts/2023-07-03-ama-bill/index.md
  src/posts/2023-07-03-cilium-empowering-k8s/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix deploy error
  src/posts/2023-07-03-cilium-empowering-k8s/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-06-22-azure-cni/index.md
  src/posts/2023-06-22-azure-cni/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-06-22-migrate-cilium/index.md
  src/posts/2023-06-22-migrate-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add external blog posts (#307)
  src/posts/2023-06-22-azure-cni/index.md
  src/posts/2023-06-22-azure-cni/ogimage.webp
  src/posts/2023-06-22-migrate-cilium/index.md
  src/posts/2023-06-22-migrate-cilium/ogimage.webp
  src/posts/2023-06-26-lost-in-packets/index.md
  src/posts/2023-06-26-lost-in-packets/ogimage.png
  src/posts/2023-06-28-cilium-for-kubernetes/index.md
  src/posts/2023-06-28-cilium-for-kubernetes/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Blog update (#308)
  src/posts/2023-06-19-aks-cilium/index.md
  src/posts/2023-06-19-aks-cilium/ogimage.jpg
  src/posts/2023-07-03-ama-bill/index.md
  src/posts/2023-07-03-ama-bill/ogimage.jpeg
  src/posts/2023-07-03-cilium-empowering-k8s/index.md
  src/posts/2023-07-03-cilium-empowering-k8s/ogimage.png
  src/posts/2023-07-04-cilium-cni/index.md
  src/posts/2023-07-04-cilium-cni/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add vxlan problem + general improvements
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix repository in link
  src/posts/2022-11-03-constellation/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore
