Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add blog page for KubeCon Paris project activities
  src/posts/2024-03-20-kubecon-eu/KubeConParis.png
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: remove unused tags
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix apostrophe
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: date/time
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs
  src/posts/2024-01-15-preparing-for-cilium-certification/index.md
  src/posts/2024-01-15-preparing-for-cilium-certification/ogimage.webp
  src/posts/2024-01-17-cisco-buy-highlights/index.md
  src/posts/2024-01-17-cisco-buy-highlights/ogimage.webp
  src/posts/2024-01-18-cilium-backports/index.md
  src/posts/2024-01-18-cilium-backports/ogimage.webp
  src/posts/2024-01-18-expert-interview/index.md
  src/posts/2024-01-18-expert-interview/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add viasat and giant swarm to top section
  src/components/shared/user-community/images/viasat.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: trigger redeploy
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters page
  src/components/shared/user-community/images/viasat.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: remove superorbital from bottom section
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blogs (#429)
  src/posts/2024-01-15-preparing-for-cilium-certification/index.md
  src/posts/2024-01-15-preparing-for-cilium-certification/ogimage.webp
  src/posts/2024-01-17-cisco-buy-highlights/index.md
  src/posts/2024-01-17-cisco-buy-highlights/ogimage.webp
  src/posts/2024-01-18-cilium-backports/index.md
  src/posts/2024-01-18-cilium-backports/ogimage.webp
  src/posts/2024-01-18-expert-interview/index.md
  src/posts/2024-01-18-expert-interview/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: update getting started video
  src/components/pages/get-started/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Improvements (#427)
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/hero/index.js
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/home/featured-talks/index.js
  src/components/pages/home/highlights/highlights.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/images/pages/get-started/hands-on/bee1.png
  src/images/pages/get-started/related-projects/image-4.jpg
  src/pages/get-started.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

add comma
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update adopters page (#432)
  src/components/shared/user-community/images/viasat.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: fixes get-started page
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/learn/learn.jsx
  src/components/pages/get-started/news/news.jsx
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/pages/home/highlights/highlights.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/pages/get-started.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes get-started page
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: fixes get-started page (#433)
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/learn/learn.jsx
  src/components/pages/get-started/news/news.jsx
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/pages/home/highlights/highlights.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/pages/get-started.jsx
Due: prettier --write, eslint --cache --fix

chore: new blog
  src/posts/2024-01-26-cilium-empowering-the-enterprise/cover.png
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add author
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: restructure CTAText component and add form3
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/images/pages/industries/financial-services/form3.jpeg
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

chore: new blog (#434)
  src/posts/2024-01-26-cilium-empowering-the-enterprise/cover.png
  src/posts/2024-01-26-cilium-empowering-the-enterprise/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes use-case-card
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
Due: prettier --write, eslint --cache --fix

chore: restructure CTAText component and add form3 case study (#435)
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/images/pages/industries/financial-services/form3.jpeg
  src/pages/industries/financial-services.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

chore: new external blogs
  src/posts/2024-01-01-cni-ayedo/index.md
  src/posts/2024-01-01-cni-ayedo/ogimage.webp
  src/posts/2024-01-19-multi-kubernetes-cluster-connectivity/index.md
  src/posts/2024-01-19-multi-kubernetes-cluster-connectivity/ogimage.webp
  src/posts/2024-01-22-pure-cilium/index.md
  src/posts/2024-01-22-pure-cilium/ogimage.png
  src/posts/2024-01-24-cilium-and-azure-arc/index.md
  src/posts/2024-01-24-cilium-and-azure-arc/ogimage.webp
  src/posts/2024-01-24-unlocking-kubernetes-simplicity/index.md
  src/posts/2024-01-24-unlocking-kubernetes-simplicity/ogimage.png
  src/posts/2024-01-25-fixing-cilium-on-kind/index.md
  src/posts/2024-01-25-fixing-cilium-on-kind/ogimage.jpeg
  src/posts/2024-01-25-ingress-cert-manager/index.md
  src/posts/2024-01-25-ingress-cert-manager/ogimage.webp
  src/posts/2024-01-26-cilium-gateway-api-tutorial/index.md
  src/posts/2024-01-26-cilium-gateway-api-tutorial/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new external blogs (#438)
  src/posts/2024-01-01-cni-ayedo/index.md
  src/posts/2024-01-01-cni-ayedo/ogimage.webp
  src/posts/2024-01-19-multi-kubernetes-cluster-connectivity/index.md
  src/posts/2024-01-19-multi-kubernetes-cluster-connectivity/ogimage.webp
  src/posts/2024-01-22-pure-cilium/index.md
  src/posts/2024-01-22-pure-cilium/ogimage.png
  src/posts/2024-01-24-cilium-and-azure-arc/index.md
  src/posts/2024-01-24-cilium-and-azure-arc/ogimage.webp
  src/posts/2024-01-24-unlocking-kubernetes-simplicity/index.md
  src/posts/2024-01-24-unlocking-kubernetes-simplicity/ogimage.png
  src/posts/2024-01-25-fixing-cilium-on-kind/index.md
  src/posts/2024-01-25-fixing-cilium-on-kind/ogimage.jpeg
  src/posts/2024-01-25-ingress-cert-manager/index.md
  src/posts/2024-01-25-ingress-cert-manager/ogimage.webp
  src/posts/2024-01-26-cilium-gateway-api-tutorial/index.md
  src/posts/2024-01-26-cilium-gateway-api-tutorial/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: new companies -> adopters page
  src/components/shared/user-community/images/netways.inline.svg
  src/components/shared/user-community/images/sealos.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: new companies -> cloud section
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/pages/adopters/logos/images/sealos.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

chore: resize netways logo
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/shared/user-community/images/netways.inline.svg
Due: none

chore: fix padding
  src/components/pages/adopters/logos/images/netways.inline.svg
Due: none

chore: update 1/2
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update company logos
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/pages/adopters/logos/images/sealos.inline.svg
  src/components/shared/user-community/images/netways.inline.svg
  src/components/shared/user-community/images/sealos.inline.svg
Due: none

chore: update adopters netways logo
  src/components/pages/adopters/logos/images/netways.inline.svg
Due: none

chore: new companies -> adopters page (#439)
  src/components/pages/adopters/logos/images/netways.inline.svg
  src/components/pages/adopters/logos/images/sealos.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/netways.inline.svg
  src/components/shared/user-community/images/sealos.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: update 2/2
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: make it featured
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2024-03-20-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
