Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: adjust card spacing
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix

feat: add usecase host firewall (#573)
  src/components/pages/home/highlights/highlights.jsx
  src/images/pages/usecase/hostfirewall-1.gif
  src/images/pages/usecase/networking-bee.png
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix

Usecase multicluster update: Technology landscape radar (#572)
  src/icons/cncf.inline.svg
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

feat: add ingress usecase page
  src/components/pages/home/highlights/highlights.jsx
  src/images/pages/usecase/bounty-hunter-bee.png
  src/images/pages/usecase/ingress-1.png
  src/images/pages/usecase/ingress-2.png
  src/images/pages/usecase/ingress-3.png
  src/pages/use-cases/ingress.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/ingress.jsx
  src/pages/use-cases/ingress.jsx
Due: prettier --write, eslint --cache --fix

feat: add ingress usecase page (#574)
  src/components/pages/home/highlights/highlights.jsx
  src/images/pages/usecase/bounty-hunter-bee.png
  src/images/pages/usecase/ingress-1.png
  src/images/pages/usecase/ingress-2.png
  src/images/pages/usecase/ingress-3.png
  src/pages/use-cases/ingress.jsx
Due: prettier --write, eslint --cache --fix

fix: remove duplicate l7 lb lab
  content/labs/2023-02-03-l7-lb-kubernetes-annotations/cover.jpg
  content/labs/2023-02-03-l7-lb-kubernetes-annotations/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: remove duplicate l7 lb lab (#575)
  content/labs/2023-02-03-l7-lb-kubernetes-annotations/cover.jpg
  content/labs/2023-02-03-l7-lb-kubernetes-annotations/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add contributing blog
  src/posts/2024-12-05-contributing/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2024-12-05-contributing/ogimage.png
Due: none

add contributing blog (#576)
  src/posts/2024-12-05-contributing/index.md
  src/posts/2024-12-05-contributing/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add kubecon talk to host firewall page
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix

feat: add mitre attack blog post
  src/posts/2024-12-12-mitre-attack/index.md
  src/posts/2024-12-12-mitre-attack/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add kubecon talk to host firewall page (#577)
  src/pages/use-cases/host-firewall.jsx
Due: prettier --write, eslint --cache --fix

feat: add tetragon year in review blog
  src/posts/2024-12-31-tetragon-2024-year-in-review/cover.png
  src/posts/2024-12-31-tetragon-2024-year-in-review/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fix blog build error
  src/posts/2024-12-31-tetragon-2024-year-in-review/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Tetragon 2024 year in review (#579)
  src/posts/2024-12-31-tetragon-2024-year-in-review/cover.png
  src/posts/2024-12-31-tetragon-2024-year-in-review/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add mitre blog to list
  src/posts/2024-12-12-mitre-blog/index.md
  src/posts/2024-12-12-mitre-blog/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add docaposte to adopters list
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/docaposte.inline.svg
  src/components/shared/user-community/images/docaposte.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: fix ommisions
  src/posts/2024-12-12-mitre-blog/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add mitre blog to list (#580)
  src/posts/2024-12-12-mitre-blog/index.md
  src/posts/2024-12-12-mitre-blog/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Rename Isovalent labs
  content/labs/2022-11-20-cilium-bgp/cover.jpg
  content/labs/2022-11-20-cilium-bgp/index.md
  content/labs/2022-11-21-cilium-getting-started/cover.jpg
  content/labs/2022-11-21-cilium-getting-started/index.md
  content/labs/2022-11-21-cilium-ingress-controller/cover.png
  content/labs/2022-11-21-cilium-ingress-controller/index.md
  content/labs/2022-11-22-cilium-gateway-api/cover.jpg
  content/labs/2022-11-22-cilium-gateway-api/index.md
  content/labs/2023-01-17-cilium-lb-ipam-bgp/cover.jpg
  content/labs/2023-01-17-cilium-lb-ipam-bgp/index.md
  content/labs/2023-01-18-cilium-sctp/cover.jpg
  content/labs/2023-01-18-cilium-sctp/index.md
  content/labs/2023-02-14-cilium-ipv6/cover.jpg
  content/labs/2023-02-14-cilium-ipv6/index.md
  content/labs/2023-04-12-cilium-migrating-from-flannel/cover.jpg
  content/labs/2023-04-12-cilium-migrating-from-flannel/index.md
  content/labs/2023-04-19-cilium-gateway-api-advanced/cover.jpg
  content/labs/2023-04-19-cilium-gateway-api-advanced/index.md
  content/labs/2023-07-04-tetragon-getting-started/cover.jpg
  content/labs/2023-07-04-tetragon-getting-started/index.md
  content/labs/2023-07-23-cilium-bgp-advanced/cover.jpg
  content/labs/2023-07-23-cilium-bgp-advanced/index.md
  content/labs/2023-07-23-cilium-lb-ipam-l2-announcements/cover.jpg
  content/labs/2023-07-23-cilium-lb-ipam-l2-announcements/index.md
  content/labs/2023-07-23-cilium-mutual-authentication/cover.jpg
  content/labs/2023-07-23-cilium-mutual-authentication/index.md
  content/labs/2024-02-12-cilium-migrating-from-calico/cover.png
  content/labs/2024-02-12-cilium-migrating-from-calico/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Rename Isovalent labs (#581)
  content/labs/2022-11-20-cilium-bgp/cover.jpg
  content/labs/2022-11-20-cilium-bgp/index.md
  content/labs/2022-11-21-cilium-getting-started/cover.jpg
  content/labs/2022-11-21-cilium-getting-started/index.md
  content/labs/2022-11-21-cilium-ingress-controller/cover.png
  content/labs/2022-11-21-cilium-ingress-controller/index.md
  content/labs/2022-11-22-cilium-gateway-api/cover.jpg
  content/labs/2022-11-22-cilium-gateway-api/index.md
  content/labs/2023-01-17-cilium-lb-ipam-bgp/cover.jpg
  content/labs/2023-01-17-cilium-lb-ipam-bgp/index.md
  content/labs/2023-01-18-cilium-sctp/cover.jpg
  content/labs/2023-01-18-cilium-sctp/index.md
  content/labs/2023-02-14-cilium-ipv6/cover.jpg
  content/labs/2023-02-14-cilium-ipv6/index.md
  content/labs/2023-04-12-cilium-migrating-from-flannel/cover.jpg
  content/labs/2023-04-12-cilium-migrating-from-flannel/index.md
  content/labs/2023-04-19-cilium-gateway-api-advanced/cover.jpg
  content/labs/2023-04-19-cilium-gateway-api-advanced/index.md
  content/labs/2023-07-04-tetragon-getting-started/cover.jpg
  content/labs/2023-07-04-tetragon-getting-started/index.md
  content/labs/2023-07-23-cilium-bgp-advanced/cover.jpg
  content/labs/2023-07-23-cilium-bgp-advanced/index.md
  content/labs/2023-07-23-cilium-lb-ipam-l2-announcements/cover.jpg
  content/labs/2023-07-23-cilium-lb-ipam-l2-announcements/index.md
  content/labs/2023-07-23-cilium-mutual-authentication/cover.jpg
  content/labs/2023-07-23-cilium-mutual-authentication/index.md
  content/labs/2024-02-12-cilium-migrating-from-calico/cover.png
  content/labs/2024-02-12-cilium-migrating-from-calico/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add kubecon related website updates
  src/icons/reddit.inline.svg
  src/images/pages/industries/cloud-providers/qingcloud-office.jpeg
  src/images/pages/industries/e-commerce/ecco-office.webp
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

feat: add AWS ec2 image builder blog
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
  src/posts/2025-01-14-streamlining-tetragon-deployment/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct date on blog
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct summary
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add new blogs
  src/posts/2025-01-06-tetragon-config-gotchas/index.md
  src/posts/2025-01-06-tetragon-config-gotchas/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: adjust reddit logo
  src/icons/logo-reddit.inline.svg
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

feat: add new blogs (#583)
  src/posts/2025-01-06-tetragon-config-gotchas/index.md
  src/posts/2025-01-06-tetragon-config-gotchas/ogimage.webp
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
  src/posts/2025-01-14-streamlining-tetragon-deployment/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: update docaposte logo
  src/components/shared/user-community/images/docaposte.inline.svg
Due: none

feat: add docaposte to adopters list (#584)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/docaposte.inline.svg
  src/components/shared/user-community/images/docaposte.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add ecco to cluster mesh page
  src/icons/logo-ecco.inline.svg
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

Revert "feat: add ecco to cluster mesh page"
  src/icons/logo-ecco.inline.svg
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

feat: add qingcloud case study
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/qingcloud.inline.svg
  src/components/shared/user-community/images/qingcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add qingcloud case study
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
