Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

docs: add external blog post
  src/posts/2023-04-27-AWS-cilium-network-policy/index.md
  src/posts/2023-04-27-AWS-cilium-network-policy/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix a typo on the main page
  src/components/pages/home/highlights/highlights.jsx
Due: prettier --write, eslint --cache --fix

fix a typo on the main page (#263)
  src/components/pages/home/highlights/highlights.jsx
Due: prettier --write, eslint --cache --fix

docs: add external blog post (#265)
  src/posts/2023-04-27-AWS-cilium-network-policy/index.md
  src/posts/2023-04-27-AWS-cilium-network-policy/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add new user story
  src/posts/2023-02-15-release-113/index.md
  src/posts/2023-05-04-telecommunications-user-story/User-story-telecommunications.jpeg
  src/posts/2023-05-04-telecommunications-user-story/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2023-05-04-telecommunications-user-story/index.md
  src/posts/2023-05-04-telecommunications-user-story/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: update image to png
  src/posts/2023-05-04-telecommunications-user-story/User-story-telecommunications.jpeg
  src/posts/2023-05-04-telecommunications-user-story/User-story-telecommunications.png
  src/posts/2023-05-04-telecommunications-user-story/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update title
  src/posts/2023-05-04-telecommunications-user-story/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add new user story (#266)
  src/posts/2023-02-15-release-113/index.md
  src/posts/2023-05-04-telecommunications-user-story/User-story-telecommunications.png
  src/posts/2023-05-04-telecommunications-user-story/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add user story to adopters list
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add new posts
  src/posts/2023-04-25-cilium-cni-part-2/index.md
  src/posts/2023-04-25-cilium-cni-part-2/ogimage.jpeg
  src/posts/2023-04-27-cilium-cni-part-2/index.md
  src/posts/2023-04-27-cilium-cni-part-2/ogimage.jpeg
  src/posts/2023-04-29-getting-started-cilium-epbf/index.md
  src/posts/2023-04-29-getting-started-cilium-epbf/ogimage.webp
  src/posts/2023-05-03-cilium-cni/index.md
  src/posts/2023-05-03-cilium-cni/ogimage.jpeg
  src/posts/2023-05-04-netreap/index.md
  src/posts/2023-05-04-netreap/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix dates
  src/posts/2023-04-29-getting-started-cilium-epbf/index.md
  src/posts/2023-05-03-cilium-cni/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update language to french
  src/posts/2023-04-25-cilium-cni-part-2/index.md
  src/posts/2023-04-27-cilium-cni-part-2/index.md
  src/posts/2023-05-03-cilium-cni/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Site Updates (#267)
  src/posts/2023-04-25-cilium-cni-part-2/index.md
  src/posts/2023-04-25-cilium-cni-part-2/ogimage.jpeg
  src/posts/2023-04-27-cilium-cni-part-2/index.md
  src/posts/2023-04-27-cilium-cni-part-2/ogimage.jpeg
  src/posts/2023-04-29-getting-started-cilium-epbf/index.md
  src/posts/2023-04-29-getting-started-cilium-epbf/ogimage.webp
  src/posts/2023-05-03-cilium-cni/index.md
  src/posts/2023-05-03-cilium-cni/ogimage.jpeg
  src/posts/2023-05-04-netreap/index.md
  src/posts/2023-05-04-netreap/ogimage.jpeg
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update src/components/pages/enterprise/training/training.jsx
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

add missing end quote
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

docs: add new external posts
  src/posts/2023-05-05-cross-namespace/index.md
  src/posts/2023-05-05-cross-namespace/ogimage.webp
  src/posts/2023-05-05-isovalent/index.md
  src/posts/2023-05-05-isovalent/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: make summary more descriptive
  src/posts/2023-05-05-cross-namespace/index.md
  src/posts/2023-05-05-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: make summary more descriptive
  src/posts/2023-05-05-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new external posts (#268)
  src/posts/2023-05-05-cross-namespace/index.md
  src/posts/2023-05-05-cross-namespace/ogimage.webp
  src/posts/2023-05-05-isovalent/index.md
  src/posts/2023-05-05-isovalent/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: remove service worker
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

chore: comment short-name
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

docs: update Isovalent distro name
  src/components/pages/enterprise/distributions/distributions.jsx
Due: prettier --write, eslint --cache --fix

Move adopters to top nav
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

Move adopters to top nav (#272)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: disable name web manifest
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

chore: uninstall gatsby-plugin-remove-serviceworker
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

docs: add new external posts
  src/posts/2023-05-10-isovalent-enterprise/index.md
  src/posts/2023-05-10-isovalent-enterprise/ogImage.webp
  src/posts/2023-05-11-zero-trust-security/index.md
  src/posts/2023-05-11-zero-trust-security/ogImage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add new external posts (#273)
  src/posts/2023-05-10-isovalent-enterprise/index.md
  src/posts/2023-05-10-isovalent-enterprise/ogImage.webp
  src/posts/2023-05-11-zero-trust-security/index.md
  src/posts/2023-05-11-zero-trust-security/ogImage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: remove pwa (#270)
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

docs: add new external post
  src/posts/2023-05-23-cilium-installation-tips/index.md
  src/posts/2023-05-23-cilium-installation-tips/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update description
  src/posts/2023-05-23-cilium-installation-tips/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new external post (#275)
  src/posts/2023-05-23-cilium-installation-tips/index.md
  src/posts/2023-05-23-cilium-installation-tips/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adding components
  src/components/pages/events/card-with-cta/card-with-cta.jsx
  src/components/pages/events/card-with-cta/images/book-illustration.png
  src/components/pages/events/card-with-cta/index.js
  src/components/pages/events/card/card.jsx
  src/components/pages/events/card/index.js
  src/components/pages/events/event-list/event-list.jsx
  src/components/pages/events/event-list/index.js
  src/components/pages/events/filters/dropdown-select/dropdown-select.jsx
  src/components/pages/events/filters/dropdown-select/index.js
  src/components/pages/events/filters/dropdown-with-two-levels/dropdown-with-two-levels.jsx
  src/components/pages/events/filters/dropdown-with-two-levels/index.js
  src/components/pages/events/filters/filters.jsx
  src/components/pages/events/filters/index.js
  src/components/pages/events/hero/hero.jsx
  src/components/pages/events/hero/index.js
  src/components/pages/events/hero/list-card/index.js
  src/components/pages/events/hero/list-card/list-card.jsx
  src/components/pages/events/hero/main-card/index.js
  src/components/pages/events/hero/main-card/main-card.jsx
  src/components/pages/events/pagination/images/chevron.inline.svg
  src/components/pages/events/pagination/index.js
  src/components/pages/events/pagination/pagination.jsx
  src/templates/events.jsx
Due: prettier --write, eslint --cache --fix

feat: update gatsby-config
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

feat: adding logos
  src/components/pages/adopters/logos/images/unitedcloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/Ikea.inline.svg
  src/components/shared/user-community/images/azure.inline.svg
  src/components/shared/user-community/images/bloomberg.inline.svg
  src/components/shared/user-community/images/cistec.inline.svg
  src/components/shared/user-community/images/clickhouse.inline.svg
  src/components/shared/user-community/images/daimlertruck.inline.svg
  src/components/shared/user-community/images/kilo.inline.svg
  src/components/shared/user-community/images/kube-hetzner.inline.svg
  src/components/shared/user-community/images/nine.inline.svg
  src/components/shared/user-community/images/polarsignals.inline.svg
  src/components/shared/user-community/images/polverio.inline.svg
  src/components/shared/user-community/images/proton.inline.svg
  src/components/shared/user-community/images/robinhood.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: adding content
  content/events/2022-11-04-kubecon-na/index.md
  content/events/2022-11-04-kubecon-na/ogImage.jpg
  content/events/2022-12-08-hivw-came-to-bee/index.md
  content/events/2022-12-08-hivw-came-to-bee/ogImage.jpg
  content/events/2023-02-09-south-bay-meetup/index.md
  content/events/2023-02-09-south-bay-meetup/ogImage.jpg
  content/events/2023-03-16-cilium-evolution/index.md
  content/events/2023-03-23-cilium-1.12-release/index.md
  content/events/2023-03-30-cilium-deep-dive/index.md
  content/events/2023-04-03-kubecon-eu/index.md
  content/events/2023-04-12-how-to-supercharge-redhat/index.md
  content/events/2023-04-12-how-to-supercharge-redhat/ogImage.jpg
  content/events/2023-04-18-ciliumcon/index.md
  content/events/2023-04-18-ciliumcon/ogImage.jpg
  gatsby-config.js
  gatsby-node.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: adding createEventsPage function to gatsby-node
  content/events/2022-11-04-kubecon-na/index.md
  content/events/2022-12-08-hivw-came-to-bee/index.md
  content/events/2023-02-09-south-bay-meetup/index.md
  content/events/2023-03-16-cilium-evolution/index.md
  content/events/2023-03-23-cilium-1.12-release/index.md
  content/events/2023-03-30-cilium-deep-dive/index.md
  content/events/2023-04-03-kubecon-eu/index.md
  content/events/2023-04-12-how-to-supercharge-redhat/index.md
  content/events/2023-04-18-ciliumcon/index.md
  gatsby-node.js
  src/components/pages/events/card-with-cta/card-with-cta.jsx
  src/components/pages/events/card-with-cta/images/book-illustration.png
  src/components/pages/events/card-with-cta/index.js
  src/components/pages/events/card/card.jsx
  src/components/pages/events/card/index.js
  src/components/pages/events/event-list/event-list.jsx
  src/components/pages/events/event-list/index.js
  src/components/pages/events/featured-event/featured-event.jsx
  src/components/pages/events/featured-event/index.js
  src/components/pages/events/filters/dropdown-select/dropdown-select.jsx
  src/components/pages/events/filters/dropdown-select/index.js
  src/components/pages/events/filters/dropdown-with-two-levels/dropdown-with-two-levels.jsx
  src/components/pages/events/filters/dropdown-with-two-levels/index.js
  src/components/pages/events/filters/filters.jsx
  src/components/pages/events/filters/index.js
  src/components/pages/events/hero/hero.jsx
  src/components/pages/events/hero/index.js
  src/components/pages/events/hero/list-card/index.js
  src/components/pages/events/hero/list-card/list-card.jsx
  src/components/pages/events/hero/main-card/index.js
  src/components/pages/events/hero/main-card/main-card.jsx
  src/components/pages/events/pagination/images/chevron.inline.svg
  src/components/pages/events/pagination/index.js
  src/components/pages/events/pagination/pagination.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/components/shared/featured-story/index.js
  src/templates/events.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: adding featured section
  content/events/2023-04-18-ciliumcon/index.md
  src/components/pages/events/featured-event/featured-event.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/components/shared/featured-story/type-label/index.js
  src/components/shared/featured-story/type-label/type-label.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore
