Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

fix(ui): refine dark mode theme, buttons, hover states, padding and SVG colours
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Due: prettier --write, eslint --cache --fix

chore: consolidate carousel usage to a single library
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

fix: images in dark mode
  src/pages/industries/consulting.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Due: prettier --write, eslint --cache --fix

docs: clarify run command
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix : dark mode ui bugs
  src/components/pages/events/cta-section/cta-section.jsx
Due: prettier --write, eslint --cache --fix

fix : dark mode ui bugs (#880)
  src/components/pages/events/cta-section/cta-section.jsx
Due: prettier --write, eslint --cache --fix

fix(ui): refine dark mode theme, buttons, hover states, padding and SVG colours (#872)
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Due: prettier --write, eslint --cache --fix

fix: images in dark mode (#878)
  src/pages/industries/consulting.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/outcomes/network-automation.jsx
  src/pages/outcomes/zero-trust.jsx
Due: prettier --write, eslint --cache --fix

fix(components): improve keyboard focus visibility for homepage slider controls
  src/components/pages/home/in-production/slider/slider.jsx
Due: prettier --write, eslint --cache --fix

ci
  .github/workflow/validate-example.yml
  examples/basic-nginx/deployment.yaml
Due: none

Revert "fix(ui): refine dark mode theme, buttons, hover states, padding and S…"
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Due: prettier --write, eslint --cache --fix

Revert "fix(ui): refine dark mode theme, buttons, hover states, padding and S…" (#884)
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/community/community.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/logo-adobe.inline.svg
  src/icons/logo-aws.inline.svg
Due: prettier --write, eslint --cache --fix

feat: add celonis to adopters route fixed merge conflicts with main in user-community.jsx Signed-off-by: Sangam Pratap Singh <sangampratapsingh21012006@gmail.com>
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add Cilium Network Policy example
  .github/workflow/validate-example.yml
  examples/network-policy/deployment.yaml
  examples/network-policy/network-policy.yaml
Due: none

refactor: standardize carousel by removing react-slick
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
  src/styles/slick.css
Due: prettier --write, eslint --cache --fix

fix: resolve layout overflow at 1280px viewport
  package.json
  src/components/pages/home/in-production/slider/slider.jsx
  src/components/shared/container/container.jsx
  src/styles/slick.css
Due: prettier --write, eslint --cache --fix

fix: resolve layout overflow at 1280px viewportFix 1280px layout (#892)
  src/components/shared/container/container.jsx
Due: prettier --write, eslint --cache --fix

fix: improve accessibility for hash anchor links
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

perf(utils): optimize GraphQL queries and avoid N+1 pattern
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix: add missing rel=noopener noreferrer on external links
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/labs/banner/banner.jsx
  src/components/shared/banner/banner.jsx
Due: prettier --write, eslint --cache --fix

refactor: move HubSpot form ID to environment variable
  .env.example
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

fix: restore dark mode and ensure light mode functionality remains intact
  src/components/pages/home/in-production/in-production.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/community/community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix: make navbar sticky on scroll
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: make navbar sticky on scroll (#903)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: move Celonis to correct section without links
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

remove: removed website link to celonis
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add celonis to adopters route (#883)
  src/components/shared/user-community/images/celonis.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix spacing
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

docs: add learning objectives to getting started lab
  content/labs/2022-11-21-cilium-getting-started/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Delete src/components/pages/adopters/logos/images/airbnb.svg
  src/components/pages/adopters/logos/images/airbnb.svg
Due: none

Delete src/components/pages/adopters/logos/images/tiktok.svg
  src/components/pages/adopters/logos/images/tiktok.svg
Due: none

Add files via upload
  src/components/pages/adopters/logos/images/airbnb.inline.svg
  src/components/pages/adopters/logos/images/tiktok.inline.svg
Due: none

Delete src/components/pages/adopters/logos/images/airbnb.inline.svg
  src/components/pages/adopters/logos/images/airbnb.inline.svg
Due: none

Delete src/components/pages/adopters/logos/images/tiktok.inline.svg
  src/components/pages/adopters/logos/images/tiktok.inline.svg
Due: none
