Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

bug: Fix duplicate event listeners in useClickOutside hook
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --cache --fix

fix: fixes formatting issues that ruins the blog layout
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes formatting issues that ruins the blog layout (#662)
  src/posts/2025-07-06-eks-byonci-overlay-install/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: thumbnail images for the blogs on Home page
  src/components/shared/blog-post-card/blog-post-card.jsx
Due: prettier --write, eslint --cache --fix

docs: add command to fix heap out of memory error (#644)
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Revert "fix: thumbnail images for the blogs on Home page"
  src/components/shared/blog-post-card/blog-post-card.jsx
Due: prettier --write, eslint --cache --fix

fix: add thumbnail images for the blogs on Home page
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/ogimage.jpg
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/index.md
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: thumbnail images for the blogs on Home page (#664)
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/index.md
  src/posts/Automated-Kubernetes-Threat-Detection-with-Tetragon-and Azure-Sentinel/ogimage.jpg
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/index.md
  src/posts/eBPF-Tetragon-in-CI-CD-Pipeline/ogimage.jpg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add dark theme to Home page
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/home/learn/learn.jsx
  src/components/shared/blog-post-card/blog-post-card.jsx
  src/components/shared/card-item/card-item.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/community/community.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/hands-on/hands-on.jsx
  src/components/shared/header/burger/burger.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/mobile-menu/submenu/submenu.jsx
  src/components/shared/user-community/user-community.jsx
  src/icons/moon.inline.svg
  src/icons/sun.inline.svg
  src/icons/white-logo-cncf.inline.svg
  src/images/white-logo.inline.svg
  src/layouts/main/main.jsx
  src/pages/get-started.jsx
  src/pages/index.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat(component): add YoutubePlaylistGallery component
  package-lock.json
  package.json
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/youtube-playlist-gallery/index.js
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.css
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.jsx
Due: prettier --write, eslint --cache --fix

feat(blog): add “Explore Our New eCHO Playlist Library” article
  src/posts/2025-16-01-themed-echo-playlists/cover.png
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

refactor: move theme logic from props to reusable hooks
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/header/header.jsx
  src/components/shared/hero-without-image/hero-without-image.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/user-community/user-community.jsx
  src/hooks/use-dark-mode.js
  src/hooks/use-toggle-theme.js
  src/layouts/main/main.jsx
  src/pages/adopters.jsx
  src/pages/index.jsx
Due: prettier --write, eslint --cache --fix

fix: make the toggleTheme function name consistent
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/hooks/use-toggle-theme.js
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to industry pages
  src/components/pages/enterprise/training/training.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/cards/security-feature.jsx
  src/components/pages/industries/cards/tetragon.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/industry-usecase/industry-usecase.jsx
  src/components/pages/industries/resources/card/card.jsx
  src/components/pages/industries/resources/resources.jsx
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/icons/quote.inline.svg
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to learn pages
  src/components/pages/get-help/cilium-story/cilium-story.jsx
  src/components/pages/get-help/event-box/event-box.jsx
  src/components/pages/get-involved/guidelines/guidelines.jsx
  src/components/pages/get-involved/report-bugs/report-bugs.jsx
  src/components/pages/get-involved/subscribe/subscribe.jsx
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/get-started/learn/learn.jsx
  src/components/pages/get-started/learn/podcasts/podcasts.jsx
  src/components/pages/get-started/news/news.jsx
  src/components/pages/get-started/related-projects/related-projects.jsx
  src/components/pages/industries/cards/feature.jsx
  src/components/pages/labs/card/card.jsx
  src/components/shared/cards/cards.jsx
  src/components/shared/cncf-banner/cncf-banner.jsx
  src/components/shared/hero-with-image/hero-with-image.jsx
  src/components/shared/list/list.jsx
  src/components/shared/tabs/tabs.jsx
  src/pages/get-involved.jsx
  src/templates/labs.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to media & enterprise pages
  src/components/pages/brand/brand-features/brand-features.jsx
  src/components/pages/brand/colors/color-map/color-map.jsx
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/logos/logos.jsx
  src/components/pages/enterprise/distributions/distributions.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/events/events-board/filters/dropdown-select/dropdown-select.jsx
  src/components/pages/events/featured-event/featured-event.jsx
  src/components/pages/newsletter/cards/cards.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/hero/hero.jsx
  src/components/shared/search/input/input.jsx
  src/components/shared/search/search.jsx
  src/icons/light-chevron.inline.svg
  src/images/light-search.inline.svg
  src/pages/enterprise.jsx
Due: prettier --write, eslint --cache --fix

fix: illustration image in enterprise hero section
  src/images/pages/enterprise/hero/illustration-without-bg.svg
  src/pages/enterprise.jsx
Due: prettier --write, eslint --cache --fix

add link to case study (#666)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: navbar colors and newsletter background
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/newsletter/hero/images/dark-theme-background.svg
  src/components/shared/header/menu-item/menu-item.jsx
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

fix: top banner color and theme flicker in header
  src/components/shared/button/button.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

Remove X replace with LinkedIn
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to use case pages
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
Due: prettier --write, eslint --cache --fix

feat: add dark theme to issues in newsletter
  src/components/pages/newsletter/issues/issues.jsx
Due: prettier --write, eslint --cache --fix

Pr/doniacld/themed echo playlists blog post (#655)
  package-lock.json
  package.json
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/youtube-playlist-gallery/index.js
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.css
  src/components/pages/blog-post/content/youtube-playlist-gallery/youtube-playlist-gallery.jsx
  src/posts/2025-16-01-themed-echo-playlists/cover.png
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update netlify.toml
  netlify.toml
Due: none

fix(blog): Fix invalid date in themed echo playlist
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix(blog): Fix invalid date in themed echo playlist (#671)
  src/posts/2025-16-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Replace Twitter with LinkedIn in Cards component
  src/components/shared/cards/cards.jsx
  src/components/shared/cards/images/linkedin.inline.svg
  src/components/shared/cards/images/twitter.inline.svg
Due: prettier --write, eslint --cache --fix

Replace twitter with linkedin (#672)
  src/components/shared/cards/cards.jsx
  src/components/shared/cards/images/linkedin.inline.svg
  src/components/shared/cards/images/twitter.inline.svg
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

bug: Fix duplicate event listeners in useClickOutside hook (#660)
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --cache --fix

fix: dark theme text on blog pages
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/shared/header/header.jsx
  src/components/shared/popular-posts/popular-posts.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

fix: prevent dark mode flicker by delaying initial render until theme is ready
  src/hooks/use-dark-mode.js
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: navbar for mobile view
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write, eslint --cache --fix

fix: add missing metadata for homepage (#676)
  src/utils/seo-metadata.js
Due: prettier --write, eslint --cache --fix

fix: prevent dark mode flicker by delaying initial render until theme is ready (#679)
  src/hooks/use-dark-mode.js
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: dark theme text on blog pages (#675)
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/shared/header/header.jsx
  src/components/shared/popular-posts/popular-posts.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
