Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: update text
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

fix job title and punctuation
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

Usecase ai (#588)
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-meltwater.inline.svg
  src/images/pages/industries/ai/ai-1.png
  src/images/pages/industries/ai/ai-2.png
  src/images/pages/industries/ai/ai-3.png
  src/images/pages/industries/ai/ai-4.png
  src/images/pages/industries/ai/ai-5.png
  src/images/pages/industries/ai/backed-office.jpeg
  src/images/pages/industries/ai/meltwater-office.jpeg
  src/images/pages/industries/ai/router-bee.png
  src/layouts/main/main.jsx
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

feat: add coreweave to users page
  src/components/pages/adopters/logos/images/coreweave.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/coreweave.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add db schenker case study to service mesh page
  src/components/shared/user-community/images/kanabell.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/usecase/dbschenker.inline.svg
  src/pages/adopters.jsx
  src/pages/use-cases/service-mesh.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add entrywan to users list page
  src/components/shared/user-community/images/entrywan.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add db schenker case study
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add new blogs
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
  src/posts/2025-01-20-why-cilium-Is-crushing-the-competition/index.md
  src/posts/2025-01-20-why-cilium-Is-crushing-the-competition/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Users update (#591)
  src/components/pages/adopters/logos/images/coreweave.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/coreweave.inline.svg
  src/components/shared/user-community/images/entrywan.inline.svg
  src/components/shared/user-community/images/kanabell.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/usecase/dbschenker.inline.svg
  src/pages/adopters.jsx
  src/pages/use-cases/service-mesh.jsx
  src/posts/2025-01-14-streamlining-tetragon-deployment/index.md
  src/posts/2025-01-20-why-cilium-Is-crushing-the-competition/index.md
  src/posts/2025-01-20-why-cilium-Is-crushing-the-competition/ogimage.png
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

add link to swag store
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

add link to swag store (#592)
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

feat: add stream security to users list
  src/components/shared/user-community/images/streamsecurity.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add stream security to users list (#593)
  src/components/shared/user-community/images/streamsecurity.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: replace community X link
  src/components/shared/community/community.jsx
  src/images/social/blue-sky.svg
Due: prettier --write, eslint --cache --fix

fix: Bluesky title width
  src/components/shared/community/community.jsx
Due: prettier --write, eslint --cache --fix

feat: replace community X link (#594)
  src/components/shared/community/community.jsx
  src/images/social/blue-sky.svg
Due: prettier --write, eslint --cache --fix

feat: add tetragon user story from social networking company
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2020-09-03-wildlife-studios-multi-cluster-gaming-platform/index.md
  src/posts/2020-10-29-ebpf-summit-day-2-recap/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/2021-09-09-aws-picks-cilium/index.md
  src/posts/2021-10-25-weekly-installfest/index.md
  src/posts/2023-04-12-nomad/index.md
  src/posts/2025-01-06-tetragon-config-gotchas/index.md
  src/posts/2025-02-21-cilium-at-kubecon-eu/cover.png
  src/posts/2025-02-21-cilium-at-kubecon-eu/ebpf-day.webp
  src/posts/2025-02-21-cilium-at-kubecon-eu/index.md
  src/posts/2025-04-15-tetragon-user-story-social-network/cover.png
  src/posts/2025-04-15-tetragon-user-story-social-network/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update src/posts/2025-04-15-tetragon-user-story-social-network/index.md
  src/posts/2025-04-15-tetragon-user-story-social-network/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: update blog cover image
  src/posts/2025-04-15-tetragon-user-story-social-network/cover.png
Due: none

feat: add tetragon user story from social networking company (#595)
  src/posts/2020-07-27-multitenancy-network-security/index.md
  src/posts/2020-09-03-wildlife-studios-multi-cluster-gaming-platform/index.md
  src/posts/2020-10-29-ebpf-summit-day-2-recap/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/2021-09-09-aws-picks-cilium/index.md
  src/posts/2021-10-25-weekly-installfest/index.md
  src/posts/2023-04-12-nomad/index.md
  src/posts/2025-01-06-tetragon-config-gotchas/index.md
  src/posts/2025-02-21-cilium-at-kubecon-eu/cover.png
  src/posts/2025-02-21-cilium-at-kubecon-eu/ebpf-day.webp
  src/posts/2025-02-21-cilium-at-kubecon-eu/index.md
  src/posts/2025-04-15-tetragon-user-story-social-network/cover.png
  src/posts/2025-04-15-tetragon-user-story-social-network/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add sinad use story
  src/posts/2025-04-25-tetragon-user-sinad/cover.png
  src/posts/2025-04-25-tetragon-user-sinad/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add g-research to ai page and users list
  src/components/shared/user-community/images/gresearch.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add canopus ai talk
  src/images/pages/industries/ai/canopusaioffice.png
  src/images/pages/industries/ai/gresearch-office.jpg
  src/pages/industries/ai.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add datadog talk
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add user corner banca
  src/components/shared/user-community/images/corner.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add corner banca to usecase egree gateway
  src/icons/logo-corner.inline.svg
  src/pages/use-cases/egress-gateway.jsx
Due: prettier --write, eslint --cache --fix

feat: add sinad use story (#596)
  src/posts/2025-04-25-tetragon-user-sinad/cover.png
  src/posts/2025-04-25-tetragon-user-sinad/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

make industries drop down alphabetical
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/egress-gateway.jsx
Due: prettier --write, eslint --cache --fix

make industries drop down alphabetical (#598)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix link to logos
  src/components/pages/get-involved/guidelines/guidelines.jsx
Due: prettier --write, eslint --cache --fix

fix link to logos (#601)
  src/components/pages/get-involved/guidelines/guidelines.jsx
Due: prettier --write, eslint --cache --fix

fix: add g-research to fs page
  src/images/pages/industries/financial-services/corneroffice.jpg
  src/images/pages/industries/financial-services/gresearch-office.jpg
  src/pages/industries/financial-services.jsx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
