Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

refactor: move orgSchema to module scope for better performance
  src/html.js
Due: prettier --write, eslint --cache --fix

feat: add Organization schema markup for enhanced SEO and structured data (#815)
  src/html.js
  static/logo.svg
Due: prettier --write, eslint --cache --fix

Update adopters.jsx
  src/pages/adopters.jsx
Due: prettier --write, eslint --cache --fix

Add vnpost logo to the logos component
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

Add Vietnam Post Cloud case study to data
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

added vnpost logo
  src/components/pages/adopters/logos/images/vncloud.inline.svg
Due: none

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add ESnet to adopters page
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add ESnet logo
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

docs: add logo to user-community
  src/components/shared/user-community/images/esnet.inline.svg
Due: none

fix: add esnet to user community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix: svg resize for proper rendering
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/shared/user-community/images/esnet.inline.svg
Due: none

Add ESnet to adopters page (#817)
  src/components/pages/adopters/logos/images/esnet.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/esnet.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add ionx to addopters page and fix svg rendering
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ionx.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: resolution for the svg
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/shared/user-community/images/ionx.inline.svg
Due: none

fix: svg alignment
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/shared/user-community/images/ionx.inline.svg
Due: none

feat: add ESnet to use-cases service-mao.jsx
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

fix: import path for image
  src/images/pages/usecase/esnet.inline.svg
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

Add ionx to adopters page (#818)
  src/components/pages/adopters/logos/images/ionx.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/ionx.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Revise ESnet case study title and description
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

Clean up description in service-map.jsx
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

fix: add referer for youtube iframes
  package-lock.json
  package.json
  src/components/pages/blog-post/content/youtube-iframe/youtube-iframe.jsx
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: add referer for youtube iframes (#821)
  package-lock.json
  package.json
  src/components/pages/blog-post/content/youtube-iframe/youtube-iframe.jsx
  src/components/pages/get-involved/calendar-integration/calendar-integration.jsx
  src/components/pages/get-started/architecture/architecture.jsx
  src/components/pages/get-started/hero/hero.jsx
  src/components/pages/home/featured-talks/featured-talks.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Update service-map description and quote details
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

Add vnpost logo to user community icons
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

feat: Add ESnet to use-cases service-map.jsx (#820)
  src/images/pages/usecase/esnet.inline.svg
  src/pages/use-cases/service-map.jsx
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/shared/user-community/images/vnpost.inline.svg
Due: none

Update user-community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

feat: add FAQ schema markup to improve SEO and enable FAQ rich results
  src/components/pages/get-help/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

Update src/posts/2025-07-01-themed-echo-playlists/index.md
  src/posts/2025-07-01-themed-echo-playlists/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add custom anchor IDs for AI references
  src/posts/2020-06-22-cilium-18/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: update banner text and link to KubeCon EU
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: update banner text and link to KubeCon EU (#826)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: preserve HTML in FAQ schema for better SEO and UX
  src/components/pages/get-help/faq/faq.jsx
Due: prettier --write, eslint --cache --fix

Revert "chore(deps): bump min-document from 2.19.0 to 2.19.2 (#822)"
  package-lock.json
Due: none

Reapply "chore(deps): bump min-document from 2.19.0 to 2.19.2 (#822)"
  package-lock.json
Due: none
