Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

fix: add qing cloud to preffered cloud section
  src/components/pages/adopters/logos/images/qingcloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

feat: add sinad & guidewire to adopters page
  src/components/shared/user-community/images/guidewire.inline.svg
  src/components/shared/user-community/images/imagine.inline.svg
  src/components/shared/user-community/images/sinad.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: add reddit talk to enforcement page
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

fix: update ecco details
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/shared/user-community/images/ecco.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/ecco.inline.svg
  src/pages/adopters.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: resize qingcloud logo
  src/components/pages/adopters/logos/images/qingcloud.inline.svg
Due: none

fix: update sinad
  src/components/pages/adopters/logos/images/sinad.inline.svg
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: update sinad logo
  src/components/shared/user-community/images/sinad.inline.svg
Due: none

feat: add kubecon related website updates (#582)
  src/components/pages/adopters/logos/images/qingcloud.inline.svg
  src/components/pages/adopters/logos/images/sinad.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/images/qingcloud.inline.svg
  src/components/shared/user-community/images/ecco.inline.svg
  src/components/shared/user-community/images/guidewire.inline.svg
  src/components/shared/user-community/images/imagine.inline.svg
  src/components/shared/user-community/images/qingcloud.inline.svg
  src/components/shared/user-community/images/sinad.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/icons/ecco.inline.svg
  src/icons/logo-reddit.inline.svg
  src/icons/reddit.inline.svg
  src/images/pages/industries/cloud-providers/qingcloud-office.jpeg
  src/images/pages/industries/e-commerce/ecco-office.webp
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: Cilium 1.9 release blog: Fix broken link to Maglev paper
  src/posts/2020-11-10-cilium-19/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: Cilium 1.9 release blog: Fix broken link to Maglev paper (#585)
  src/posts/2020-11-10-cilium-19/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add start lab button
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add start lab button (#586)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

Revert "feat: add start lab button (#586)"
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add kubecon eu blog
  src/posts/2025-21-01-cilium-at-kubecon-eu/cover.png
  src/posts/2025-21-01-cilium-at-kubecon-eu/ebpf-day.webp
  src/posts/2025-21-01-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add kubecon eu blog
  src/posts/2025-21-01-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add kubecon eu blog
  src/posts/2025-21-02-cilium-at-kubecon-eu/cover.png
  src/posts/2025-21-02-cilium-at-kubecon-eu/ebpf-day.webp
  src/posts/2025-21-02-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: make kubecon eu blog featured
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2025-21-02-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

minor fixes
  src/posts/2025-21-02-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add kubecon eu blog (#587)
  src/posts/2023-10-11-cilium-graduation/index.md
  src/posts/2025-21-02-cilium-at-kubecon-eu/cover.png
  src/posts/2025-21-02-cilium-at-kubecon-eu/ebpf-day.webp
  src/posts/2025-21-02-cilium-at-kubecon-eu/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add AI usecase
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/logo-meltwater.inline.svg
  src/images/pages/industries/ai/ai-1.png
  src/images/pages/industries/ai/ai-2.png
  src/images/pages/industries/ai/ai-3.png
  src/images/pages/industries/ai/ai-4.png
  src/images/pages/industries/ai/ai-5.png
  src/images/pages/industries/ai/backed-office.jpeg
  src/images/pages/industries/ai/meltwater-office.jpeg
  src/images/pages/industries/ai/router-bee.png
  src/layouts/main/main.jsx
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

feat: add AI usecase
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

feat: add top banner
  src/components/shared/top-banner/index.js
  src/components/shared/top-banner/top-banner.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: update mobile version of top banner
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

feat: add top banner (#589)
  src/components/shared/top-banner/index.js
  src/components/shared/top-banner/top-banner.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

fix: learn more link and simplified structure
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: learn more link and simplified structure (#590)
  src/components/shared/top-banner/top-banner.jsx
Due: prettier --write, eslint --cache --fix

fix: remove meltwater quote
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

Update src/pages/industries/ai.jsx
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

fix: updates
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

fix: add ecco testimonial
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix

fix: add ecco logo
  src/components/pages/industries/testimonial/testimonial.jsx
  src/pages/industries/ai.jsx
Due: prettier --write, eslint --cache --fix
