Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

Add files via upload
  src/components/shared/user-community/images/airbnb.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
Due: none

Update tiktok.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
Due: none

Update media-entertainment.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

Add files via upload
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
Due: none

Update adopters-logo.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
Due: prettier --write, eslint --cache --fix

Delete src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
Due: none

docs: add learning objectives to Cilium Gateway API lab
  content/labs/2022-11-22-cilium-gateway-api/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct spelling typos in documentation and components
  src/components/pages/brand/legal-box/legal-box.jsx
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: correct spelling typos in documentation and components (#905)
  src/components/pages/brand/legal-box/legal-box.jsx
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: add KubeCon NA 25 videos (#859)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/tiktok.inline.svg
  src/components/shared/user-community/images/airbnb.inline.svg
  src/components/shared/user-community/images/tiktok.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/tiktokoffice.png
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: fix spelling typos in blog posts
  src/posts/2018-12-03-cni-performance/index.md
  src/posts/2023-05-27-race-conditions/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: fix 'dependant' typos to 'dependent' in blog posts
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: fix 'dependant' typos to 'dependent' in blog posts (#908)
  src/posts/06-12-2017-cilium-100-rc2-grpc-kafka-and-much-more/index.md
  src/posts/16-02-2018-cilium-rc4/index.md
  src/posts/2020-10-06-skybet-cilium-migration/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: update CiliumCon Europe 2026 event URL
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add dark mode text colors to subscribe success message
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

docs: add prerequisites to Cilium host firewall lab
  content/labs/2022-11-22-cilium-gateway-api/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: add dark mode text colors to subscribe success message (#911)
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

fix: update CiliumCon Europe 2026 event URL (#910)
  content/events/2025-11-25-ciliumcon-eu-2026/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct DigitalOcean case study URL on tool-consolidation page
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

fix: correct DigitalOcean case study URL on tool-consolidation page (#912)
  src/pages/outcomes/tool-consolidation.jsx
Due: prettier --write, eslint --cache --fix

fix: resolve horizontal overflow on blog page at 1280-1321px
  src/components/pages/blog/featured-posts/featured-posts.jsx
  src/components/shared/container/container.jsx
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
Due: prettier --write, eslint --cache --fix

fix: add dark mode text colors to telling-story success message
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

fix: use text-black for subscribe success message
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

fix:search modal appears behind navigation header Fixes #917
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

fix: add dark mode text colors to subscribe success message (#916)
  src/components/shared/subscribe-form/subscribe-form.jsx
Due: prettier --write, eslint --cache --fix

fix: add dark mode text colors to telling-story success message (#915)
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

Add Bedrock to adopters page
  src/components/shared/user-community/images/bedrock.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix:search modal appears behind navigation header Fixes #917 (#918)
  src/components/shared/search/search.jsx
Due: prettier --write, eslint --cache --fix

fix: add missing rel=noopener noreferrer on external links (#900)
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/labs/banner/banner.jsx
  src/components/shared/banner/banner.jsx
Due: prettier --write, eslint --cache --fix

docs: clarify run command (#863)
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix(pages): cleanup industry pages and fix broken links
  src/components/pages/home/in-production/in-production.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/shared/footer/footer.jsx
  src/pages/adopters.jsx
  src/pages/industries/ai.jsx
  src/pages/industries/edge-computing.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/software.jsx
Due: prettier --write, eslint --cache --fix

fix: revert global container padding change per review feedback
  src/components/shared/container/container.jsx
Due: prettier --write, eslint --cache --fix

fix: improve smoothScroll to preserve modified-click behavior and handle missing elements
  src/components/shared/link/link.jsx
Due: prettier --write, eslint --cache --fix

fix: industry pages typos, broken links and cleanup case studies data
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  src/pages/industries/edge-computing.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/pages/use-cases/ingress.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

revert local setup changes
  gatsby-config.js
  gatsby-node.js
  netlify.toml
  src/pages/use-cases/ingress.jsx
Due: prettier --write, eslint --cache --fix

fix: industry pages typos, broken links and cleanup case studies data (#926)
  src/pages/industries/edge-computing.jsx
  src/pages/industries/telcos-datacenters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: resolve horizontal overflow on blog page at 1280-1321px (#914)
  src/components/pages/blog/featured-posts/featured-posts.jsx
  src/components/shared/github-stars/github-stars.jsx
  src/components/shared/header/header.jsx
  src/components/shared/header/menu-item/menu-item.jsx
Due: prettier --write, eslint --cache --fix
