Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

refactor: colors and color map components
  src/components/pages/brand/colors/color-map/color-map.jsx
  src/components/pages/brand/colors/colors.jsx
Due: prettier --write, eslint --cache --fix

feat: add hubble logos, refactoring
  src/components/pages/brand/logos/images/cilium-dark-1.svg
  src/components/pages/brand/logos/images/cilium-dark-2.svg
  src/components/pages/brand/logos/images/cilium-dark-3.svg
  src/components/pages/brand/logos/images/cilium-dark-4.svg
  src/components/pages/brand/logos/images/cilium-light-1.svg
  src/components/pages/brand/logos/images/cilium-light-2.svg
  src/components/pages/brand/logos/images/cilium-light-3.svg
  src/components/pages/brand/logos/images/cilium-light-4.svg
  src/components/pages/brand/logos/images/full-logo.svg
  src/components/pages/brand/logos/images/hubble-dark-1.svg
  src/components/pages/brand/logos/images/hubble-dark-2.svg
  src/components/pages/brand/logos/images/hubble-dark-3.svg
  src/components/pages/brand/logos/images/hubble-dark-4.svg
  src/components/pages/brand/logos/images/hubble-light-1.svg
  src/components/pages/brand/logos/images/hubble-light-2.svg
  src/components/pages/brand/logos/images/hubble-light-3.svg
  src/components/pages/brand/logos/images/hubble-light-4.svg
  src/components/pages/brand/logos/images/icon.svg
  src/components/pages/brand/logos/logos-row/index.js
  src/components/pages/brand/logos/logos-row/logos-row.jsx
  src/components/pages/brand/logos/logos.jsx
  src/styles/global.css
  static/data/hubble-logos.zip
Due: prettier --write, eslint --cache --fix

chore: update page component
  src/pages/brand.jsx
Due: prettier --write, eslint --cache --fix

fix: logos, links
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/logos/images/hubble-dark-1.svg
  src/components/pages/brand/logos/images/hubble-dark-2.svg
  src/components/pages/brand/logos/logos.jsx
  src/components/shared/button/button.jsx
  static/data/hubble-logos.zip
Due: prettier --write, eslint --cache --fix

update blog
  src/posts/2023-10-30-cilium-at-kubecon-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

8-8th
  src/posts/2023-10-30-cilium-at-kubecon-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add kubecon cilium talks blog post (#378)
  src/posts/2023-10-30-cilium-at-kubecon-na/cover.png
  src/posts/2023-10-30-cilium-at-kubecon-na/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: width, height for image, padding
  src/components/pages/brand/brand-features/brand-features.jsx
  src/components/pages/brand/colors/color-map/color-map.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/logos/data/logos.js
  src/components/pages/brand/logos/logos-row/logos-row.jsx
  src/components/pages/brand/logos/logos.jsx
Due: prettier --write, eslint --cache --fix

Update src/components/pages/brand/logos/logos-row/logos-row.jsx
  src/components/pages/brand/logos/logos-row/logos-row.jsx
Due: prettier --write, eslint --cache --fix

feat: add Hubble brand (#380)
  src/components/pages/brand/brand-features/brand-features.jsx
  src/components/pages/brand/brand-features/images/full-logo.svg
  src/components/pages/brand/brand-features/images/icon.svg
  src/components/pages/brand/brand-features/index.js
  src/components/pages/brand/colors/color-map/color-map.jsx
  src/components/pages/brand/colors/colors.jsx
  src/components/pages/brand/hero/hero.jsx
  src/components/pages/brand/hero/images/background.svg
  src/components/pages/brand/legal-box/legal-box.jsx
  src/components/pages/brand/logos/data/logos.js
  src/components/pages/brand/logos/images/cilium-dark-1.svg
  src/components/pages/brand/logos/images/cilium-dark-2.svg
  src/components/pages/brand/logos/images/cilium-dark-3.svg
  src/components/pages/brand/logos/images/cilium-dark-4.svg
  src/components/pages/brand/logos/images/cilium-light-1.svg
  src/components/pages/brand/logos/images/cilium-light-2.svg
  src/components/pages/brand/logos/images/cilium-light-3.svg
  src/components/pages/brand/logos/images/cilium-light-4.svg
  src/components/pages/brand/logos/images/full-logo.svg
  src/components/pages/brand/logos/images/hubble-dark-1.svg
  src/components/pages/brand/logos/images/hubble-dark-2.svg
  src/components/pages/brand/logos/images/hubble-dark-3.svg
  src/components/pages/brand/logos/images/hubble-dark-4.svg
  src/components/pages/brand/logos/images/hubble-light-1.svg
  src/components/pages/brand/logos/images/hubble-light-2.svg
  src/components/pages/brand/logos/images/hubble-light-3.svg
  src/components/pages/brand/logos/images/hubble-light-4.svg
  src/components/pages/brand/logos/images/icon.svg
  src/components/pages/brand/logos/logos-row/index.js
  src/components/pages/brand/logos/logos-row/logos-row.jsx
  src/components/pages/brand/logos/logos.jsx
  src/components/shared/button/button.jsx
  src/pages/brand.jsx
  src/styles/global.css
  static/data/hubble-logos.zip
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: add new external blog posts
  src/posts/2023-10-21-k8s-multi-cluster-implementation/index.md
  src/posts/2023-10-21-k8s-multi-cluster-implementation/ogimage.webp
  src/posts/2023-10-23-cilium-multi-network/index.md
  src/posts/2023-10-23-cilium-multi-network/ogimage.webp
  src/posts/2023-10-24-kcduk-cilium-ebpf/index.md
  src/posts/2023-10-24-kcduk-cilium-ebpf/ogimage.jpeg
  src/posts/2023-10-25-migrating-cilium/index.md
  src/posts/2023-10-25-migrating-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: industries pages changes
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/cards/feature.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/components/shared/header/header.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/software.jsx
Due: prettier --write, eslint --cache --fix

chore: fix tiny issue
  src/posts/2023-10-21-k8s-multi-cluster-implementation/index.md
  src/posts/2023-10-23-cilium-multi-network/index.md
  src/posts/2023-10-25-migrating-cilium/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new external blog posts (#381)
  src/posts/2023-10-21-k8s-multi-cluster-implementation/index.md
  src/posts/2023-10-21-k8s-multi-cluster-implementation/ogimage.webp
  src/posts/2023-10-23-cilium-multi-network/index.md
  src/posts/2023-10-23-cilium-multi-network/ogimage.webp
  src/posts/2023-10-24-kcduk-cilium-ebpf/index.md
  src/posts/2023-10-24-kcduk-cilium-ebpf/ogimage.jpeg
  src/posts/2023-10-25-migrating-cilium/index.md
  src/posts/2023-10-25-migrating-cilium/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/bullet-section/bullet-section.jsx
  src/components/pages/industries/cards/security-feature.jsx
  src/components/pages/industries/cards/tetragon.jsx
  src/components/pages/industries/featured-talks/featured-talks.jsx
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/industry-usecase/card/card.jsx
  src/components/pages/industries/resources/card/card.jsx
  src/components/pages/industries/stats/stats.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
Due: prettier --write, eslint --cache --fix

chore: add new tetragon logos and hyperlink
  src/components/pages/industries/cards/security.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/images/pages/industries/tetragon-shield.png
  src/images/pages/industries/tetragon.png
  src/images/pages/usecase/runtime-1.png
  src/images/pages/usecase/tetragon-bee.png
  src/images/pages/usecase/tetragon-illustration.png
  src/images/pages/usecase/tetragon-shield.png
  src/pages/industries/security.jsx
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

chore: add new tetragon logos and hyperlink (#382)
  src/components/pages/industries/cards/security.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/images/pages/industries/tetragon-shield.png
  src/images/pages/industries/tetragon.png
  src/images/pages/usecase/runtime-1.png
  src/images/pages/usecase/tetragon-bee.png
  src/images/pages/usecase/tetragon-illustration.png
  src/images/pages/usecase/tetragon-shield.png
  src/pages/industries/security.jsx
  src/pages/use-cases/runtime-enforcement.jsx
Due: prettier --write, eslint --cache --fix

fix: fixes after review
  src/components/pages/industries/hero/hero.jsx
  src/components/pages/industries/resources/card/card.jsx
  src/components/pages/industries/testimonial/testimonial.jsx
  src/icons/quote.inline.svg
  src/pages/industries/cloud-providers.jsx
  src/pages/industries/consulting.jsx
  src/pages/industries/e-commerce.jsx
  src/pages/industries/financial-services.jsx
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

HIPAA not HIPPA
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

HIPAA not HIPPA (#383)
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

Update link to sky talk
  src/pages/industries/media-entertainment.jsx
Due: prettier --write, eslint --cache --fix

fix: webinar link
  content/events/2023-10-05-enhancing-security-with-mutual-tls/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  src/components/pages/industries/cards/tetragon.jsx
  src/pages/industries/security.jsx
Due: prettier --write, eslint --cache --fix

chore: add new blogs
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2023-10-31-chereo-zero-trust/index.md
  src/posts/2023-10-31-chereo-zero-trust/ogimage.png
  src/posts/2023-10-31-showing-blocked-requests-with-cilium-hubble/index.md
  src/posts/2023-10-31-showing-blocked-requests-with-cilium-hubble/ogimage.png
  src/posts/2023-10-31-tetragon-1-0/index.md
  src/posts/2023-10-31-tetragon-1-0/ogimage.webp
  src/posts/2023-11-01-combining-powerful-cilium-features/index.md
  src/posts/2023-11-01-combining-powerful-cilium-features/ogimage.png
  src/posts/2023-11-01-isovalent-creators-launch-tetragon/index.md
  src/posts/2023-11-01-isovalent-creators-launch-tetragon/ogimage.png
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-1/index.md
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-1/ogimage.png
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-2/index.md
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-2/ogimage.png
  src/posts/2023-11-02-catch-the-cliium-wave/index.md
  src/posts/2023-11-02-catch-the-cliium-wave/ogimage.png
  src/posts/2023-11-02-the-big-interview/index.md
  src/posts/2023-11-02-the-big-interview/ogimage.jpeg
  src/posts/2023-11-03-cilium-policies-with-kyverno/index.md
  src/posts/2023-11-03-cilium-policies-with-kyverno/ogimage.webp
  src/posts/2023-11-06-kubecon-infoworld/index.md
  src/posts/2023-11-06-kubecon-infoworld/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#386)
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2023-10-31-chereo-zero-trust/index.md
  src/posts/2023-10-31-chereo-zero-trust/ogimage.png
  src/posts/2023-10-31-showing-blocked-requests-with-cilium-hubble/index.md
  src/posts/2023-10-31-showing-blocked-requests-with-cilium-hubble/ogimage.png
  src/posts/2023-10-31-tetragon-1-0/index.md
  src/posts/2023-10-31-tetragon-1-0/ogimage.webp
  src/posts/2023-11-01-combining-powerful-cilium-features/index.md
  src/posts/2023-11-01-combining-powerful-cilium-features/ogimage.png
  src/posts/2023-11-01-isovalent-creators-launch-tetragon/index.md
  src/posts/2023-11-01-isovalent-creators-launch-tetragon/ogimage.png
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-1/index.md
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-1/ogimage.png
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-2/index.md
  src/posts/2023-11-01-testing-cilium-cluster-mesh-pt-2/ogimage.png
  src/posts/2023-11-02-catch-the-cliium-wave/index.md
  src/posts/2023-11-02-catch-the-cliium-wave/ogimage.png
  src/posts/2023-11-02-the-big-interview/index.md
  src/posts/2023-11-02-the-big-interview/ogimage.jpeg
  src/posts/2023-11-03-cilium-policies-with-kyverno/index.md
  src/posts/2023-11-03-cilium-policies-with-kyverno/ogimage.webp
  src/posts/2023-11-06-kubecon-infoworld/index.md
  src/posts/2023-11-06-kubecon-infoworld/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add singlestore and ws02 to the adopters
  src/components/shared/user-community/images/singlestore.inline.svg
  src/components/shared/user-community/images/wso2.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: capitalize hubble
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add singlestore and ws02 to the adopters (#387)
  src/components/shared/user-community/images/singlestore.inline.svg
  src/components/shared/user-community/images/wso2.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: home hero image
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: home hero image (#388)
  src/components/pages/home/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix: webinar link (#385)
  content/events/2023-10-05-enhancing-security-with-mutual-tls/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new documentary
  src/posts/2023-11-08-ebpf-documentary/cover.webp
  src/posts/2023-11-08-ebpf-documentary/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update link
  src/posts/2023-11-08-ebpf-documentary/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new blog post (#389)
  src/posts/2023-11-08-ebpf-documentary/cover.webp
  src/posts/2023-11-08-ebpf-documentary/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: update 404 page
  src/pages/404.jsx
  static/images/404-page-bee.png
  static/images/404-page-pattern.svg
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

chore: update pattern
  static/images/404-page-pattern.svg
Due: none

chore: add new blogs
  src/posts/2023-11-06-cilium-certified-associate/index.md
  src/posts/2023-11-06-cilium-certified-associate/ogimage.png
  src/posts/2023-11-06-isovalent-cilium-certified-associate/index.md
  src/posts/2023-11-06-isovalent-cilium-certified-associate/ogimage.webp
  src/posts/2023-11-07-isovalent-at-kubecon/index.md
  src/posts/2023-11-07-isovalent-at-kubecon/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: add new blogs (#391)
  src/posts/2023-11-06-cilium-certified-associate/index.md
  src/posts/2023-11-06-cilium-certified-associate/ogimage.png
  src/posts/2023-11-06-isovalent-cilium-certified-associate/index.md
  src/posts/2023-11-06-isovalent-cilium-certified-associate/ogimage.webp
  src/posts/2023-11-07-isovalent-at-kubecon/index.md
  src/posts/2023-11-07-isovalent-at-kubecon/ogimage.jpeg
Due: prettier --write, markdownlint --fix --ignore-path .gitignore
