Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.md": "markdownlint --fix --ignore-path .gitignore"
}

feat: adding texts
  src/components/pages/adopters/logos/images/unitedcloud.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/shared/user-community/images/unitedcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: adding tietoevry
  src/components/shared/user-community/images/tietoevry.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: rename ikea logo to trigger build
  src/components/shared/user-community/images/ikea-logo.inline.svg
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

feat: update adopters page (#276)
  src/components/shared/user-community/images/azure.inline.svg
  src/components/shared/user-community/images/bloomberg.inline.svg
  src/components/shared/user-community/images/cistec.inline.svg
  src/components/shared/user-community/images/clickhouse.inline.svg
  src/components/shared/user-community/images/daimlertruck.inline.svg
  src/components/shared/user-community/images/ikea-logo.inline.svg
  src/components/shared/user-community/images/kilo.inline.svg
  src/components/shared/user-community/images/kube-hetzner.inline.svg
  src/components/shared/user-community/images/nine.inline.svg
  src/components/shared/user-community/images/polarsignals.inline.svg
  src/components/shared/user-community/images/polverio.inline.svg
  src/components/shared/user-community/images/proton.inline.svg
  src/components/shared/user-community/images/robinhood.inline.svg
  src/components/shared/user-community/images/tietoevry.inline.svg
  src/components/shared/user-community/images/unitedcloud.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: deleting ikea card
  src/components/shared/user-community/images/ikea-logo.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: deleting ikea card (#277)
  src/components/shared/user-community/images/ikea-logo.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: use icons for network inlet section
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/images/bandwidth-latency-optimization.inline.svg
  src/components/pages/home/highlights/images/bgp.inline.svg
  src/components/pages/home/highlights/images/egress-gateway.inline..svg
  src/components/pages/home/highlights/images/service-mesh.inline.svg
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/home/highlights/item/item.jsx
  src/pages/item-page.jsx
  src/pages/use-cases/transparent-encryption.jsx
Due: prettier --write, eslint --cache --fix

feat: adding type labels
  content/events/2022-11-04-kubecon-na/index.md
  content/events/2022-12-08-hivw-came-to-bee/index.md
  content/events/2023-02-09-south-bay-meetup/index.md
  content/events/2023-03-16-cilium-evolution/index.md
  content/events/2023-03-23-cilium-1.12-release/index.md
  content/events/2023-03-30-cilium-deep-dive/index.md
  content/events/2023-04-03-kubecon-eu/index.md
  content/events/2023-04-12-how-to-supercharge-redhat/index.md
  content/events/2023-04-18-ciliumcon/index.md
  gatsby-node.js
  package-lock.json
  package.json
  src/components/shared/featured-story/featured-story.jsx
  src/components/shared/featured-story/type-label/type-label.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: add new external posts
  src/posts/2023-04-19-cilium-kubernetes-networking/index.md
  src/posts/2023-04-19-cilium-kubernetes-networking/ogimage.jpg
  src/posts/2023-05-23-cosmonic-os-netreap/index.md
  src/posts/2023-05-23-cosmonic-os-netreap/ogimage.png
  src/posts/2023-05-23-deploying-isovalent-enterprise/index.md
  src/posts/2023-05-23-deploying-isovalent-enterprise/ogimage.webp
  src/posts/2023-05-24-cilium-course/index.md
  src/posts/2023-05-26-cilium-mesh/index.md
  src/posts/2023-05-26-cilium-mesh/ogimage.jpeg
  src/posts/2023-05-26-setup-cilium/index.md
  src/posts/2023-05-26-setup-cilium/ogimage.webp
  src/posts/2023-05-27-race-conditions/index.md
  src/posts/2023-05-27-race-conditions/ogimage.jpg
  src/posts/2023-05-30-intro-cilium/index.md
  src/posts/2023-05-30-intro-cilium/ogimage.jpg
  src/posts/2023-05-30-isovent-cilium-azure/index.md
  src/posts/2023-05-30-isovent-cilium-azure/ogimage.png
  src/posts/2023-05-30-tietoevry/index.md
  src/posts/2023-05-30-tietoevry/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add image to post
  src/posts/2023-05-24-cilium-course/index.md
  src/posts/2023-05-24-cilium-course/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adding filters component
  src/components/pages/blog/posts-board/categories/categories.jsx
  src/components/pages/blog/posts-board/categories/index.js
  src/components/pages/blog/posts-board/pagination/pagination.jsx
  src/components/pages/events/events-board/events-board.jsx
  src/components/pages/events/events-board/index.js
  src/components/shared/filters/filters.jsx
  src/components/shared/filters/index.js
  src/templates/events.jsx
  src/utils/blog-filter-to-slug.js
  src/utils/filter-to-slug.js
Due: prettier --write, eslint --cache --fix

feat: adding event-list component
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/events/events-board/event-card/images/cilium-logo.inline.svg
  src/components/pages/events/events-board/event-card/index.js
  src/components/pages/events/events-board/event-list/event-list.jsx
  src/components/pages/events/events-board/event-list/index.js
  src/components/pages/events/events-board/events-board.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/components/shared/type-label/index.js
  src/components/shared/type-label/type-label.jsx
  src/templates/events.jsx
Due: prettier --write, eslint --cache --fix

feat: adding event card component
  content/events/2023-02-09-south-bay-meetup/index.md
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/events/events-board/event-card/images/placeholder.svg
  src/components/pages/events/events-board/event-list/event-list.jsx
  src/components/pages/events/events-board/events-board.jsx
  src/components/shared/featured-story/featured-story.jsx
  src/templates/events.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: adding filtering
  gatsby-node.js
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/events/events-board/events-board.jsx
  src/components/shared/filters/filters.jsx
  src/components/shared/type-label/type-label.jsx
  src/templates/events.jsx
  src/utils/filter-to-slug.js
Due: prettier --write, eslint --cache --fix

docs: updates to new external posts
  src/posts/2023-05-23-cosmonic-os-netreap/index.md
  src/posts/2023-05-23-deploying-isovalent-enterprise/index.md
  src/posts/2023-05-24-cilium-course/index.md
  src/posts/2023-05-26-cilium-mesh/index.md
  src/posts/2023-05-26-setup-cilium/index.md
  src/posts/2023-05-27-race-conditions/index.md
  src/posts/2023-05-30-isovent-cilium-azure/index.md
  src/posts/2023-05-30-tietoevry/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adding pagination
  content/events/test-01/index.md
  content/events/test-01/ogImage.jpg
  content/events/test-02/index.md
  content/events/test-02/ogImage.jpg
  content/events/test-03/index.md
  content/events/test-03/ogImage.jpg
  content/events/test-04/index.md
  content/events/test-04/ogImage.jpg
  src/components/pages/blog/posts-board/posts-board.jsx
  src/components/pages/events/events-board/events-board.jsx
  src/components/shared/filters/filters.jsx
  src/components/shared/pagination/index.js
  src/components/shared/pagination/pagination.jsx
  src/utils/filter-to-slug.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat: adding subscribe form
  src/components/pages/events/events-subscribe/events-subscribe.jsx
  src/components/pages/events/events-subscribe/images/subscribe-background-left.svg
  src/components/pages/events/events-subscribe/images/subscribe-background-right.svg
  src/components/pages/events/events-subscribe/index.js
  src/templates/events.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: adding card with cta
  src/components/pages/events/card-with-cta/card-with-cta.jsx
  src/components/pages/events/card-with-cta/images/illustration.png
  src/components/pages/events/card-with-cta/index.js
  src/components/pages/events/events-board/event-list/event-list.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: updating header and footer
  src/components/shared/footer/footer.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: small improvements
  content/events/test-05/index.md
  content/events/test-06/index.md
  content/events/test-07/index.md
  content/events/test-07/ogImage.jpg
  content/events/test-08/index.md
  content/events/test-08/ogImage.jpg
  content/events/test-09/index.md
  content/events/test-09/ogImage.jpg
  content/events/test-10/index.md
  content/events/test-10/ogImage.jpg
  src/components/pages/events/card-with-cta/card-with-cta.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

docs: add new external post and update descriptions
  src/posts/2023-04-07-ebpf-security/index.md
  src/posts/2023-04-07-ebpf-security/ogimage.png
  src/posts/2023-05-26-cilium-mesh/index.md
  src/posts/2023-05-30-tietoevry/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: move clickhouse to the top section
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: cni page styling
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/use-cases/cards/index.js
  src/components/pages/use-cases/cards/join-us-cards.jsx
  src/icons/bees/jedi-ebee.inline.svg
  src/images/pages/usecase/jedi-bee.png
  src/pages/get-help.jsx
  src/pages/use-cases/cni.jsx
Due: prettier --write, eslint --cache --fix

update description
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: move clickhouse to the top section (#280)
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

remove - in cloud native
  src/posts/2023-05-26-cilium-mesh/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

add new external posts (#278)
  src/posts/2023-04-07-ebpf-security/index.md
  src/posts/2023-04-07-ebpf-security/ogimage.png
  src/posts/2023-04-19-cilium-kubernetes-networking/index.md
  src/posts/2023-04-19-cilium-kubernetes-networking/ogimage.jpg
  src/posts/2023-05-23-cosmonic-os-netreap/index.md
  src/posts/2023-05-23-cosmonic-os-netreap/ogimage.png
  src/posts/2023-05-23-deploying-isovalent-enterprise/index.md
  src/posts/2023-05-23-deploying-isovalent-enterprise/ogimage.webp
  src/posts/2023-05-24-cilium-course/index.md
  src/posts/2023-05-24-cilium-course/ogimage.png
  src/posts/2023-05-26-cilium-mesh/index.md
  src/posts/2023-05-26-cilium-mesh/ogimage.jpeg
  src/posts/2023-05-26-setup-cilium/index.md
  src/posts/2023-05-26-setup-cilium/ogimage.webp
  src/posts/2023-05-27-race-conditions/index.md
  src/posts/2023-05-27-race-conditions/ogimage.jpg
  src/posts/2023-05-30-intro-cilium/index.md
  src/posts/2023-05-30-intro-cilium/ogimage.jpg
  src/posts/2023-05-30-isovent-cilium-azure/index.md
  src/posts/2023-05-30-isovent-cilium-azure/ogimage.png
  src/posts/2023-05-30-tietoevry/index.md
  src/posts/2023-05-30-tietoevry/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add Solo.io logo to cilium.io repo
  src/icons/logo-soloio.svg
Due: none

Rename logo-soloio.svg to logo-soloio.inline.svg
  src/icons/logo-soloio.inline.svg
Due: none

Update training.jsx
  src/components/pages/enterprise/training/training.jsx
Due: prettier --write, eslint --cache --fix

feat: add layer load balancer page
  src/icons/logo-yahoo.inline.svg
  src/images/pages/usecase/detective-bee.png
  src/pages/use-cases/load-balancer.tsx
Due: none

feat: add clutsermesh page
  src/components/pages/use-cases/cards/image-text-section.jsx
  src/components/pages/use-cases/cards/video-text-section.jsx
  src/icons/logo-clickhouse.inline.svg
  src/icons/logo-form3.inline.svg
  src/images/pages/usecase/astronaut-bee.png
  src/images/pages/usecase/clustermesh-1.png
  src/images/pages/usecase/clustermesh-4.png
  src/images/pages/usecase/clutsermesh-2.png
  src/images/pages/usecase/clutsermesh-3.png
  src/pages/use-cases/cluster-mesh.tsx
Due: prettier --write, eslint --cache --fix

fix: rename file to jsx
  src/pages/use-cases/load-balancer.jsx
Due: prettier --write, eslint --cache --fix

fix: update file extensions to jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/load-balancer.jsx
Due: prettier --write, eslint --cache --fix

fix: remove unsued imports
  src/pages/use-cases/load-balancer.jsx
Due: prettier --write, eslint --cache --fix

fix: correct type on clickhouse
  src/pages/use-cases/bandwith-optimization.jsx
Due: prettier --write, eslint --cache --fix

chore: remove dead imports
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/load-balancer.jsx
Due: prettier --write, eslint --cache --fix

fix: balance header text
  src/pages/use-cases/load-balancer.jsx
Due: prettier --write, eslint --cache --fix

feat: break off sections into diiferent components
  src/components/pages/use-cases/cards/image-feature-section.jsx
  src/components/pages/use-cases/cards/image-text-section.jsx
  src/components/pages/use-cases/cards/intro-section.jsx
  src/components/pages/use-cases/cards/join-us-cards.jsx
  src/components/pages/use-cases/cards/use-case-card.jsx
  src/components/pages/use-cases/cards/video-feature-section.jsx
  src/components/pages/use-cases/cards/video-text-section.jsx
  src/pages/use-cases/cluster-mesh.jsx
Due: prettier --write, eslint --cache --fix

fix: alternate image postion with props
  src/components/pages/use-cases/cards/image-feature-section.jsx
Due: prettier --write, eslint --cache --fix
