Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: correct typo in README regarding image querying
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: correct typo in README regarding image querying (#941)
  README.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add ImageGallery component
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/image-gallery/image-gallery.css
  src/components/pages/blog-post/content/image-gallery/image-gallery.jsx
  src/components/pages/blog-post/content/image-gallery/index.js
Due: prettier --write, eslint --cache --fix

docs: add OVH to adopters and cloud providers page (#943)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Apply suggestions from code review
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: formatting between READ CASE STUDY in in-production.jsx
  src/components/pages/home/in-production/in-production.jsx
Due: prettier --write, eslint --cache --fix

docs: add OVH to adopters and cloud providers page (#943)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/images/pages/industries/cloud-providers/OVHcloud-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

fix: import authors for blog
  src/posts/2020-08-19-google-chooses-cilium-for-gke-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: import authors for blog (#945)
  src/posts/2020-08-19-google-chooses-cilium-for-gke-networking/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add OVH to adopters and cloud providers page (#943) (#944)
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/ovh.inline.svg
  src/images/pages/industries/cloud-providers/OVHcloud-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/cloud-providers.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Add blog post of isovalent about Cilium 1.19
  src/posts/2026-02-24-cilium-1.19-isovalent/cilium-10years-old.png
  src/posts/2026-02-24-cilium-1.19-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add blog post of isovalent about Cilium 1.19 (#946)
  src/posts/2026-02-24-cilium-1.19-isovalent/cilium-10years-old.png
  src/posts/2026-02-24-cilium-1.19-isovalent/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: add zynga to adopters and media pages
  src/components/pages/adopters/logos/images/zynga.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/zynga.inline.svg
  src/components/shared/user-community/images/zynga.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/zynga-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

docs: add zynga to adopters and media pages (#949)
  src/components/pages/adopters/logos/images/zynga.inline.svg
  src/components/pages/adopters/logos/logos.jsx
  src/components/pages/industries/adopters-logo/adopters-logo.jsx
  src/components/pages/industries/adopters-logo/images/zynga.inline.svg
  src/components/shared/user-community/images/zynga.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/images/pages/industries/media-entertainment/zynga-office.jpg
  src/pages/adopters.jsx
  src/pages/industries/media-entertainment.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

feat: add inviter component (#928)
  src/components/shared/header/header.jsx
  src/components/shared/inviter/index.js
  src/components/shared/inviter/inviter.jsx
  src/pages/get-involved.jsx
  src/pages/index.jsx
  src/styles/global.css
Due: prettier --write, eslint --cache --fix

feat: add labyrinth labs to adopters page
  src/components/shared/user-community/images/labyrinthlabs.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Update src/utils/case-studies-data.js
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

add labyrinth labs to adopters page (#950)
  src/components/shared/user-community/images/labyrinthlabs.inline.svg
  src/components/shared/user-community/user-community.jsx
  src/pages/adopters.jsx
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Apply suggestion from @Copilot for dark-mode border in user-community.jsx
  src/components/shared/user-community/user-community.jsx
Due: prettier --write, eslint --cache --fix

fix: add missing rel='noopener noreferrer' to external links
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-12-01-service-mesh-beta/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix: add missing rel='noopener noreferrer' to external links (#953)
  src/pages/adopters.jsx
  src/pages/industries/security.jsx
  src/posts/06-04-2021-war-games-network-policy/index.md
  src/posts/2021-02-10-network-policy-editor/index.md
  src/posts/2021-12-01-service-mesh-beta/index.md
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

perf: add explicit width and height to images to improve CLS
  src/components/pages/events/events-board/card-with-cta/card-with-cta.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/labs/card/card.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

perf: add explicit width and height to images to improve CLS (#954)
  src/components/pages/events/events-board/card-with-cta/card-with-cta.jsx
  src/components/pages/events/events-board/event-card/event-card.jsx
  src/components/pages/labs/card/card.jsx
  src/components/pages/newsletter/hero/hero.jsx
  src/components/pages/telling-story/hero/form/form.jsx
Due: prettier --write, eslint --cache --fix

incorporate feedback
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Turning off isFeatured:false
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Initial draft for mTLS encryption annoucement and deep dive architecture (#939)
  src/posts/2026-02-24-launch-of-mTLSencryption/index.md
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
  src/utils/author-data.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Add KubeCon EU 20206 blog
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Add files via upload
  src/posts/2026-03-23-ciliumcon-momentum/CiliumCon2026.png
Due: none

Update index.md
  src/posts/2025-12-18-cilium-annual-report/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update index.md
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

minor nits
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: add Cilium momentum blog (#955)
  src/posts/2025-12-18-cilium-annual-report/index.md
  src/posts/2026-03-23-ciliumcon-momentum/CiliumCon2026.png
  src/posts/2026-03-23-ciliumcon-momentum/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

updated image
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
Due: none

updated image (#956)
  src/posts/2026-02-24-launch-of-mTLSencryption/native-mtls-cover.png
Due: none

fix(utils): improve GraphQL error reporting to include all errors
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
