Repository cilium/cilium.io: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

style: label component
  src/components/pages/use-cases/hero/hero.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

style: hero
  src/components/pages/use-cases/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

style: join-us-cards
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/images/documentation.inline.svg
  src/components/pages/use-cases/join-us-cards/card/images/help.inline.svg
  src/components/pages/use-cases/join-us-cards/card/images/slack-with-back.inline.svg
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
Due: prettier --write, eslint --cache --fix

style: use-case-card
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
Due: prettier --write, eslint --cache --fix

style: feature-section
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
Due: prettier --write, eslint --cache --fix

docs: update blog
  src/posts/2023-08-03-migrating-to-cilium/index.md
  src/posts/2023-08-03-migrating-to-cilium/ogimage.jpeg
  src/posts/2023-08-03-sortie-de-cilium/index.md
  src/posts/2023-08-03-sortie-de-cilium/ogimage.webp
  src/posts/2023-08-07-a-quick-tour-of-cilium-1-1-4/index.md
  src/posts/2023-08-07-a-quick-tour-of-cilium-1-1-4/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: ad blog
  src/posts/2023-08-02-prevent-overlayfs/index.md
  src/posts/2023-08-02-prevent-overlayfs/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: make trendyol post popular
  src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-07-20-trendyol/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

style: service-mesh
  src/pages/use-cases/service-mesh.jsx
Due: prettier --write, eslint --cache --fix

style: paddings
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
Due: prettier --write, eslint --cache --fix

chore: fix description
  src/posts/2023-08-02-prevent-overlayfs/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update blog (#325)
  src/posts/2023-04-03-eu-talks/index.md
  src/posts/2023-07-20-trendyol/index.md
  src/posts/2023-08-02-prevent-overlayfs/index.md
  src/posts/2023-08-02-prevent-overlayfs/ogimage.png
  src/posts/2023-08-03-migrating-to-cilium/index.md
  src/posts/2023-08-03-migrating-to-cilium/ogimage.jpeg
  src/posts/2023-08-03-sortie-de-cilium/index.md
  src/posts/2023-08-03-sortie-de-cilium/ogimage.webp
  src/posts/2023-08-07-a-quick-tour-of-cilium-1-1-4/index.md
  src/posts/2023-08-07-a-quick-tour-of-cilium-1-1-4/ogimage.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

feat: adds use cases menu
  src/components/pages/home/highlights/highlights.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

feat: update mobile menu
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/mobile-menu/submenu/submenu.jsx
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: adds meta title and description
  src/layouts/main/main.jsx
  src/templates/labs.jsx
Due: prettier --write, eslint --cache --fix

fix: labs menu icon changed
  src/icons/labs.inline.svg
Due: none

feat: adds arrow
  src/components/pages/home/highlights/item/item-card.jsx
Due: prettier --write, eslint --cache --fix

fix: minor fixes
  src/components/pages/home/highlights/item/item-card.jsx
Due: prettier --write, eslint --cache --fix

style: update pages design (#324)
  src/components/pages/home/highlights/highlights.jsx
  src/components/pages/home/highlights/item/item-card.jsx
  src/components/pages/use-cases/feature-section/feature-section.jsx
  src/components/pages/use-cases/hero/hero.jsx
  src/components/pages/use-cases/join-us-cards/card/card.jsx
  src/components/pages/use-cases/join-us-cards/card/images/documentation.inline.svg
  src/components/pages/use-cases/join-us-cards/card/images/help.inline.svg
  src/components/pages/use-cases/join-us-cards/card/images/slack-with-back.inline.svg
  src/components/pages/use-cases/join-us-cards/join-us-cards.jsx
  src/components/pages/use-cases/use-case-card/use-case-card.jsx
  src/components/shared/header/header.jsx
  src/components/shared/mobile-menu/menu-item/menu-item.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/mobile-menu/submenu/submenu.jsx
  src/layouts/main/main.jsx
  src/pages/use-cases/bandwidth-optimization.jsx
  src/pages/use-cases/bgp.jsx
  src/pages/use-cases/cluster-mesh.jsx
  src/pages/use-cases/cni.jsx
  src/pages/use-cases/egress-gateway.jsx
  src/pages/use-cases/gateway-api.jsx
  src/pages/use-cases/kube-proxy.jsx
  src/pages/use-cases/load-balancer.jsx
  src/pages/use-cases/metrics-export.jsx
  src/pages/use-cases/network-flow-logs.jsx
  src/pages/use-cases/network-policy.jsx
  src/pages/use-cases/protocol-visibility.jsx
  src/pages/use-cases/runtime-enforcement.jsx
  src/pages/use-cases/service-map.jsx
  src/pages/use-cases/service-mesh.jsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

docs: update blog
  src/posts/2023-07-27-cilium-k8s-load-balancer/index.md
  src/posts/2023-07-27-cilium-k8s-load-balancer/ogimage.webp
  src/posts/2023-08-02-decoding-the-packet-path/index.md
  src/posts/2023-08-02-decoding-the-packet-path/ogimage.webp
  src/posts/2023-08-03-cilium-aks/index.md
  src/posts/2023-08-03-cilium-aks/ogimage.webp
  src/posts/2023-08-04-cilium-mutual-auth-diy/index.md
  src/posts/2023-08-04-cilium-mutual-auth-diy/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

chore: fix build
  src/posts/2023-08-04-cilium-mutual-auth-diy/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

update blog (#326)
  src/posts/2023-07-27-cilium-k8s-load-balancer/index.md
  src/posts/2023-07-27-cilium-k8s-load-balancer/ogimage.webp
  src/posts/2023-08-02-decoding-the-packet-path/index.md
  src/posts/2023-08-02-decoding-the-packet-path/ogimage.webp
  src/posts/2023-08-03-cilium-aks/index.md
  src/posts/2023-08-03-cilium-aks/ogimage.webp
  src/posts/2023-08-04-cilium-mutual-auth-diy/index.md
  src/posts/2023-08-04-cilium-mutual-auth-diy/ogimage.webp
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

adding sidecar performance impact image for this blog
  src/posts/2021-05-11-cni-benchmark/images/performance_impact_sidecar.png
Due: none

adding sidecar performance impact image for this blog (#327)
  src/posts/2021-05-11-cni-benchmark/images/performance_impact_sidecar.png
Due: none

chore: add case study to meltwater card
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

chore: add case study to meltwater card (#329)
  src/utils/case-studies-data.js
Due: prettier --write, eslint --cache --fix

Adding Performance Impact of Sidecar
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes labs page
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/index.md
  content/labs/2022-10-11-soloio-academy-introduction-to-cilium/index.md
  content/labs/2022-11-20-bgp-on-cilium/index.md
  content/labs/2022-11-20-cilium-cluster-mesh/index.md
  content/labs/2022-11-21-cilium-egress-gateway/index.md
  content/labs/2022-11-21-cilium-service-mesh/index.md
  content/labs/2022-11-21-getting-started-with-cilium/cover.jpg
  content/labs/2022-11-21-getting-started-with-cilium/index.md
  content/labs/2022-11-22-gateway-api/index.md
  content/labs/2022-11-23-cilium-host-firewall/index.md
  content/labs/2023-01-17-lb-ipam-bgp-service/index.md
  content/labs/2023-01-18-sctp-on-cilium/index.md
  content/labs/2023-02-03-l7-lb-kubernetes-annotations/index.md
  content/labs/2023-02-14-ipv6-networking-and-observability/index.md
  content/labs/2023-04-12-migrating-to-cilium/index.md
  content/labs/2023-04-19-advanced-gateway-api-use-cases/index.md
  content/labs/2023-05-17-hubble-grafana-golden-signals/index.md
  content/labs/2023-07-04-security-observability-with-ebpf-and-cilium-tetragon/cover.jpg
  content/labs/2023-07-04-security-observability-with-ebpf-and-cilium-tetragon/index.md
  content/labs/2023-07-18-cilium-transparent-encryption-with-ipsec-and-wireguard/index.md
  content/labs/2023-07-23-advanced-bgp-features/index.md
  content/labs/2023-07-23-cilium-loadbalancer-ipam-and-l2-service-announcement/index.md
  content/labs/2023-07-23-mutual-authentication-with-cilium/index.md
  gatsby-node.js
  src/components/pages/enterprise/training/training.jsx
  src/components/pages/labs/banner/banner.jsx
  src/components/pages/labs/banner/index.js
  src/components/pages/labs/card/card.jsx
  src/components/pages/labs/categories/categories.jsx
  src/templates/labs.jsx
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Update src/posts/2021-05-11-cni-benchmark/index.md
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  content/labs/2022-10-10-the-linux-foundation-introduction-to-cilium/index.md
  gatsby-node.js
Due: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

Adding Performance Impact of Sidecar in the CNI benchmark Blog (#330)
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Updated the date when the data was added and also two hyperlinks got messed up in the last update
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

docs: new blog post
  src/posts/2023-08-28-shekner/after-cilium-installation.png
  src/posts/2023-08-28-shekner/after-removing-calico-resources.png
  src/posts/2023-08-28-shekner/after-starting-the-rotatation.png
  src/posts/2023-08-28-shekner/after-the-full-rotation.png
  src/posts/2023-08-28-shekner/draining-the-oldest-worker-node.png
  src/posts/2023-08-28-shekner/existing-nodes-with-calico.png
  src/posts/2023-08-28-shekner/goldpinger-ui.png
  src/posts/2023-08-28-shekner/index.md
  src/posts/2023-08-28-shekner/node-a-fully-replaced.png
  src/posts/2023-08-28-shekner/only-cilium.png
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

fix: fixes after review
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix typo
  src/posts/2023-08-28-shekner/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Update the date in the blog when the new sidecar data was added (#331)
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Revert "Update the date in the blog when the new sidecar data was added (#331)"
  src/posts/2021-05-11-cni-benchmark/index.md
Due: prettier --write, markdownlint --fix --ignore-path .gitignore

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.md
